<template>
  <md-layout md-tag="md-card" :class="'md-' + options.color" class="dashboard-card" md-flex="100" md-with-hover>
    <md-layout md-tag="md-card-header"  md-flex="100">
      <md-card-header-text>
        <div class="md-title">{{options.value}}</div>
        <div class="md-subhead">{{options.title}}</div>
      </md-card-header-text>
    </md-layout>

    <md-layout md-tag="md-card-media" md-flex="100">
      <md-icon>{{options.icon}}</md-icon>
    </md-layout>

  </md-layout>
</template>

<script>
  export default{
    props: {
      options: Object,
    },
  };
</script>
