<template>
  <div id="page-content" class="page-content">
    <md-whiteframe md-tag="md-toolbar" md-elevation="1" class="main-header">
      <md-button class="md-icon-button nav-trigger" @click.native="toggleSidenav">
        <md-icon>menu</md-icon>
      </md-button>

      <div class="md-title">{{ pageTitle }}</div>

      <md-menu md-direction="bottom left" md-size="2" md-align-trigger>
        <md-button md-menu-trigger>
          <md-icon>settings</md-icon>
        </md-button>

        <md-menu-content>
          <md-menu-item @click.native="openDialog('logoutDialog')">
            Sair
            <md-icon>exit_to_app</md-icon>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    </md-whiteframe>

    <md-dialog-confirm
      :md-title="logout.mensagem"
      md-content=" "
      md-ok-text="Sim"
      md-cancel-text="Não"
      @close="onClose"
      ref="logoutDialog">
    </md-dialog-confirm>
    <slot></slot>
  </div>
</template>

<script>
  import firebase from 'firebase';

  export default {
    data() {
      return {
        logout: {
          mensagem: 'Deseja sair?',
        },
      };
    },
    props: {
      pageTitle: String,
    },
    methods: {
      toggleSidenav() {
        if (!this.$root.$children[0].$children[0].$children[0].$refs['main-sidebar']) {
          this.$root.$children[0].$children[1].$children[0].$refs['main-sidebar'].toggle();
        } else {
          this.$root.$children[0].$children[0].$children[0].$refs['main-sidebar'].toggle();
        }
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
      onClose(type) {
        if (type === 'ok') {
          firebase.auth().signOut();
        }
      },
    },
    mounted() {
      document.title = this.pageTitle;
    },
  };
</script>

<style lang="scss" scoped>
  .page-content {
    min-height: 100%;
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-flow: column
  }

  .main-header {
    z-index: 2;
    color: #fff !important;
  }

  .nav-trigger {
    @media (min-width: 1281px) {
      display: none;
    }
  }

  .md-title {
    flex: 1;

    @media (min-width: 1281px) {
      margin-left: 8px;
    }
  }
  .md-card .md-card-media video {
    width: 100%;
  }
</style>
