<template>
  <div id="sidebar" class="container">
    <md-sidenav class="main-sidebar md-left md-fixed" md-swipeable ref="main-sidebar">
      <md-toolbar class="vue-material-logo" md-theme="none">
        <router-link exact to="/">
          <img :src="require('../../assets/images/logo_white.png')"  alt="Seo Salada">
        </router-link>
      </md-toolbar>

      <div class="main-sidebar-links">
        <md-list class="md-dense">
          <md-list-item>
            <router-link exact to="/dashboard">
              <md-icon>dashboard</md-icon>
              <span>Dashboard</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link exact to="/pedidos">
              <md-icon>local_shipping</md-icon>
              <span>Pedidos</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link exact to="/clientes">
              <md-icon><i class="material-icons">account_circle</i></md-icon>
              <span>Clientes</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link exact to="/produtos">
              <md-icon>store</md-icon>
              <span>Produtos</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link exact to="/cidades">
              <md-icon>location_city</md-icon>
              <span>Cidades</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link exact to="/categorias">
              <md-icon>list</md-icon>
              <span>Categorias</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link exact to="/produtores">
              <md-icon>nature_people</md-icon>
              <span>Produtores</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link exact to="/assinaturas">
              <md-icon>assignment_turned_in</md-icon>
              <span>Assinaturas</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link exact to="/promocoes">
              <md-icon>attach_money</md-icon>
              <span>Promoções</span>
            </router-link>
          </md-list-item>

          <md-list-item>
            <router-link exact to="/labels">
              <md-icon>local_offer</md-icon>
              <span>Labels</span>
            </router-link>
          </md-list-item>

          <md-list-item>
              <md-icon>playlist_add_check</md-icon>
              <span>Listas de Apoio</span>

              <md-list-expand>
                <md-list>
                    <md-list-item class="md-inset">
                      <router-link exact to="/listas/compras">
                        <md-icon>shopping_cart</md-icon>
                        <span>Compras</span>
                      </router-link>
                    </md-list-item>
                    <md-list-item class="md-inset">
                      <router-link exact to="/listas/recibos">
                        <md-icon>receipt</md-icon>
                        <span>Recibos</span>
                      </router-link>
                    </md-list-item>
                    <md-list-item class="md-inset">
                      <router-link exact to="/listas/entregas">
                        <md-icon>local_shipping</md-icon>
                        <span>Entregas</span>
                      </router-link>
                    </md-list-item>
                </md-list>
              </md-list-expand>
          </md-list-item>
          <md-list-item>
              <md-icon>public</md-icon>
              <span>Site</span>

              <md-list-expand>
                <md-list>
                    <md-list-item class="md-inset">
                      <router-link exact to="/banners">
                        <md-icon>panorama</md-icon>
                        <span>Banners</span>
                      </router-link>
                    </md-list-item>
                </md-list>
              </md-list-expand>
          </md-list-item>
        </md-list>
      </div>
    </md-sidenav>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        toolbar: true,
        theme: 'default',
        pageTitle: '',
      };
    },
  };
</script>

<style lang="scss">
  @import '../../assets/css/variables.scss';

  $sizebar-size: 280px;

  [v-cloak] {
    display: none;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
  }

  .container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    transition: $swift-ease-out;

    @media (min-width: 1281px) {
      padding-left: $sizebar-size;
    }
  }

  .main-sidebar.md-sidenav {
    .md-sidenav-content {
      width: $sizebar-size;
      display: flex;
      flex-flow: column;
      overflow: hidden;

      @media (min-width: 1281px) {
        top: 0;
        pointer-events: auto;
        transform: translate3d(0, 0, 0);
        box-shadow: $material-shadow-2dp;
      }
    }

    .md-backdrop {
      @media (min-width: 1281px) {
        opacity: 0;
        pointer-events: none;
      }
    }

    .md-toolbar {
      min-height: 172px;
      border-bottom: 1px solid rgba(#000, .12);
    }

    .vue-material-logo {
      font-size: 24px;

      a {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: inherit;
        text-decoration: none;

        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }

      img {
        width: 160px;
        margin-bottom: 16px;
      }
    }

    .main-sidebar-links {
      overflow: auto;
      flex: 1;

      .md-inset .md-list-item-container {
        padding-left: 36px;
      }

      .md-list-item-container {
        font-size: 16px;
        font-weight: 500;
      }
    }

    .release-version {
      padding: 8px 8px 8px 16px;
      border-top: 1px solid rgba(#000, .12);
      display: none;

      @media (max-width: 480px) {
        display: block;
      }

      > div {
        justify-content: center;
      }

      .md-select:after {
        color: rgba(#000, .87);
      }
    }
  }

  .md-router-enter,
  .md-router-leave {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    @media (min-width: 1281px) {
      left: $sizebar-size;
    }

    .main-content {
      opacity: 0;
      overflow: hidden;
    }
  }

  .md-router-leave {
    z-index: 1;
    transition: $swift-ease-in;
    transition-duration: .25s;
  }

  .md-router-enter {
    z-index: 2;
    transition: $swift-ease-out;

    .main-content {
      transform: translate3D(0, 10%, 0);
    }
  }

  code {
    &:not(.hljs) {
      margin-left: 1px;
      margin-right: 1px;
      padding: 0 4px;
      display: inline-block;
      border-radius: 2px;
      font-family: "Operator Mono", "Fira Code", Menlo, Hack, "Roboto Mono", "Liberation Mono", Monaco, monospace;

      pre {
        margin: 8px 0;
      }
    }
  }

  .phone-viewport {
    width: 360px;
    height: 540px;
    margin-right: 16px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid rgba(#000, .12);
  }

  .api-table tr > td:first-child {
    white-space: nowrap;
  }
  .main-content{
    padding: 16px;
    flex: 1;
    overflow: auto;
    transform: translate3D(0, 0, 0);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: .2s;
  }
</style>
