<template>
  <div id="ListaDeCompras">
    <div class="printPage" v-for="(produtor, produtoresIndex) in produtores" :key="produtoresIndex">
      <md-table-card v-if="produtoresAtivos[produtoresIndex]===true">
        <md-toolbar class="md-accent">
          <h1 class="md-title">{{produtor.nome}}</h1>
        </md-toolbar>
        <md-table>
          <md-table-header>
            <md-table-row>
              <md-table-head>Produto</md-table-head>
              <md-table-head class="qtdColumn">Qtd</md-table-head>
              <md-table-head class="qtdColumn">Custo</md-table-head>
            </md-table-row>
          </md-table-header>

          <md-table-body>
            <md-table-row v-if="Number(item.qtd) > 0" v-for="(item, produtorIndex) in produtor.produtos" :key="produtorIndex">
              <md-table-cell>{{item.nome}}</md-table-cell>
              <md-table-cell>{{item.qtd}}</md-table-cell>
              <md-table-cell>{{item.custo}}</md-table-cell>
            </md-table-row>
          </md-table-body>
        </md-table>
      </md-table-card>
    </div>
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Lista de Compras">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout>
              <md-layout>
                <md-theme md-name="default">
                  <md-table-card class="tabela-cadastro">
                    <md-toolbar class="md-accent">
                      <h2 class="md-title" style="flex: 1">Lista de Compras</h2>
                      <md-input-container md-theme="secondary" style="flex: 1 1 0%;">
                        <md-icon>search</md-icon>
                        <md-input v-model="palavraChave"></md-input>
                      </md-input-container>
                    </md-toolbar>

                    <md-table @sort="onSort">
                      <md-table-header>
                        <md-table-row>
                          <md-table-head>Data de Entrega</md-table-head>
                          <md-table-head>Detalhes</md-table-head>
                        </md-table-row>
                      </md-table-header>

                      <md-table-body>
                        <md-table-row v-for="(compra, compraIndex) in compras" :key="compraIndex">
                          <md-table-cell>
                            Semana {{compra[0].weekNumber}}
                          </md-table-cell>
                          <md-table-cell md-align="center">
                            <md-button class="md-raised md-accent detail" @click="getListaCompras(compraIndex)">
                              <span>Detalhes</span>
                            </md-button>
                          </md-table-cell>
                        </md-table-row>
                      </md-table-body>
                    </md-table>
                  </md-table-card>
                </md-theme>
              </md-layout>
            </md-layout>
          </div>
          <div>
            <md-dialog ref='detailDialog' class="detailDialog">
              <md-dialog-title class="md-primary">Lista de Compras</md-dialog-title>
              <md-dialog-content>
                <div class='tableLista' v-for="(produtor, produtoresIndex) in lista" :key="produtoresIndex">
                  <md-table-card v-if="produtoresAtivos[produtoresIndex]===true">
                    <md-toolbar class="md-accent">
                      <h1 class="md-title">{{produtor.nome}}</h1>
                    </md-toolbar>
                    <md-table>
                      <md-table-header>
                        <md-table-row>
                          <md-table-head>Produto</md-table-head>
                          <md-table-head class="qtdColumn">Quantidade</md-table-head>
                          <md-table-head class="qtdColumn">Custo</md-table-head>
                        </md-table-row>
                      </md-table-header>

                      <md-table-body>
                        <md-table-row v-if="Number(item.qtd) > 0" v-for="(item, produtorIndex) in orderProdutos(produtor.produtos)" :key="produtorIndex">                         
                          <md-table-cell>{{item.nome}}</md-table-cell>
                          <md-table-cell>{{item.qtd}}</md-table-cell>
                          <md-table-cell>{{item.custo}}</md-table-cell>
                        </md-table-row>
                      </md-table-body>
                    </md-table>
                  </md-table-card>
                </div>
              </md-dialog-content>
              <md-dialog-actions>
                <md-button class="md-primary" @click.native="imprimir()">Imprimir</md-button>
                <md-button class="md-primary" @click="closeDialog('detailDialog')">Close</md-button>
              </md-dialog-actions>
            </md-dialog>
          </div>
        </md-theme>
      </page-content>
    </transition>

  </div>
</template>

<script>
  import lo from 'lodash';
  import moment from 'moment';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  export default{
    data() {
      return {
        compras: [],
        modalList: {},
        produtoresAtivos: [],
        lista: [],
        filterField: 'data_entrega',
        pagination: {
          size: 5000,
          page: 1,
          total: 0,
          lastKey: '',
          orderBy: 'data_entrega',
          orderType: 'desc',
        },
      };
    },
    computed: {
      palavraChave: {
        get() {

        },
        set(value) {
          this.searchPaginateAndOrder(value);
        },
      },
    },
    firebase() {
      return {
        /* eslint-disable prefer-template */
        ref: {
          source: db.ref('pedidos'),
          asObject: false,
          readyCallback: () => {
            this.searchPaginateAndOrder();
          },
        },
        produtores: {
          source: db.ref('produtores'),
          asObject: true,
          readyCallback: () => {
            this.searchPaginateAndOrder();
          },
        },
      };
    },
    created() {
      this.$watch('ref', () => {
        this.searchPaginateAndOrder();
      });
    },
    methods: {
      getListaCompras(date) {
        this.lista = this.produtores;
        delete this.lista['.key'];
        lo.filter(this.lista, (oLista, index) => {
          lo.filter(oLista.produtos, (oProduto, iProduto) => {
            // eslint-disable-next-line
            delete oProduto.qtd;
            // eslint-disable-next-line
            oLista.produtos[iProduto] = oProduto;
            return true;
          });
          this.lista[index] = oLista;
          return true;
        });

        this.produtoresAtivos = [];
        this.compras[date].forEach((pedido) => {
          pedido.itens.forEach((item) => {
            db.ref('produtos')
              .orderByKey()
              .equalTo(item.key)
              .once('value', (snapshot) => {
                if (snapshot.val()) {
                  const produto = snapshot.val()[item.key];
                  const idProdutor = produto.produtores[0];

                  if (this.lista[idProdutor].produtos[item.key]) {
                    const actualQtd = this.lista[idProdutor].produtos[item.key].qtd;
                    const qtd = actualQtd ? actualQtd + item.qtd : item.qtd;

                    this.$set(this.lista[idProdutor].produtos[item.key], 'qtd', qtd);
                    this.$set(this.produtoresAtivos, idProdutor, true);
                  }
                }
              });
          });
        });
        this.$refs.detailDialog.open();
      },
      searchPaginateAndOrder(search) {
        // eslint-disable-next-line
        if (typeof search == 'object') {
          return false;
        }
        // eslint-disable-next-line
        this.compras = lo.filter(this.ref, (o) => {
          return o.status !== 'Cancelado';
        });
        let i = 0;
        this.compras = lo.groupBy(this.compras, (compra) => {
          let weeknumber = moment(compra.data_entrega).week();
          if (moment(compra.data_entrega).day() === 0) {
            weeknumber -= 1;
          }
          const year = moment(compra.data_entrega).year();
          weeknumber = `${weeknumber}-${year}`;
          this.compras[i].weekNumber = weeknumber;
          i += 1;
          return weeknumber;
        });

        let palavraChave;
        if (search) {
          palavraChave = search;
        } else if (this.palavraChave) {
          palavraChave = this.palavraChave;
        } else {
          palavraChave = '';
        }

        // eslint-disable-next-line
        lo.filter(this.compras, (o, index) => {
          // eslint-disable-next-line
          if (!index.match(palavraChave.toLowerCase())) {
            delete this.compras[index];
          }
          return true;
        });
        // eslint-disable-next-line
        this.compras = lo.sortBy(this.compras, (o, i) => {
          return moment(o[0].data_entrega);
        }).reverse();
        return true;
      },
      orderProdutos(produtos) {
        return lo.orderBy(produtos, ['nome'], ['asc']);
      },
      onPagination(pag) {
        this.pagination.page = pag.page;
        this.pagination.size = pag.size;
        this.searchPaginateAndOrder();
      },
      imprimir() {
        window.print();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
      onSort(element) {
        // eslint-disable-next-line
        console.log(element);
      },
      formatDate(date) {
        return moment(date).format('DD/MM/YYYY');
      },
    },
  };
</script>
<style lang="scss" scoped>
  @media print {
    #sidebar, #page-content, .detailDialog {
      visibility: hidden;
    }
    #app{
      padding-left: 0px;
    }
    .printPage{
      visibility: visible!important;
      display: block!important;
      page-break-inside: avoid;
    }
    .detailDialog{
      .md-dialog{
        box-shadow: none;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .qtdColumn{
    width: 20%;
  }
  .tableLista, .printPage{
    margin-bottom: 30px;
  }
  .printPage{
    display: none;
  }
  .detailDialog{
    .md-dialog{
      min-width: 1024px;
    }
  }
  #ListaDeCompras{
    .tabela-pedidos, .detail{
      width: 30%;
    }
  }
  .dashboard-card{ 
    overflow: hidden;
    .md-card-media{
      i {
        opacity: .1;
        position: absolute;
        font-size: 110px;
        right: 0px;
        bottom: -31px;
      }
    }
  }

  .grid > .md-layout {
    > .md-layout:not(.md-column) {
      min-height: 40px;
      margin-bottom: 16px;
    }
  }

  div[data-highcharts-chart] {
    width: 100%;
  }

  .highcharts-credits{
    display: none;
  }
  .tabela-cadastro {
    width: 100%;
    .md-theme-secondary.md-input-container .md-icon:not(.md-icon-delete):after{
      background: transparent;
    }
  }
  .star{
    cursor: pointer;
  }
  .totalCheck{
    margin-top: 10px;
    span:first-child{
      margin-right: 10px;
    }
  }

</style>
