<template>
  <div id="ListaDeEntregas">
    <div class="printPage">
      <md-table-card>
        <md-table>
          <md-table-header>
            <md-table-row>
              <md-table-head>Nome</md-table-head>
              <md-table-head>Endereço</md-table-head>
              <md-table-head>Telefone</md-table-head>
              <md-table-head>D.Entrega</md-table-head>
              <md-table-head>Total</md-table-head>
              <md-table-head>Pag.</md-table-head>
            </md-table-row>
          </md-table-header>
          <md-table-body v-for="(c, compraIndex) in compra" :key="compraIndex">
            <md-table-row>
              <md-table-cell>{{firstAndLastName(c.usuarioName)}}</md-table-cell>
              <md-table-cell>{{c.endereco.address}}, {{c.endereco.number}} {{c.endereco.complement}} - {{c.endereco.reference}}</md-table-cell>
              <md-table-cell>{{c.usuarioPhone}}</md-table-cell>
              <md-table-cell>{{formatDate(c.data_entrega)}} {{c.periodo}}</md-table-cell>
              <md-table-cell>{{numberFormat(c.total)}}</md-table-cell>
              <md-table-cell>{{c.pagamento}}</md-table-cell>
            </md-table-row>
            <md-table-row class="obsRow" v-if="c.observacao || c.troco > 0 || c.sustentavel">
              <md-table-cell colspan="6">
                <span v-if="c.observacao">Obs:{{c.observacao}}</span> 
                <span v-if="c.troco">Troco: {{c.troco}}</span>
                <span v-if="c.sustentavel">Embalagem Sustentavel: Sim</span> 
              </md-table-cell>
            </md-table-row>
          </md-table-body>
        </md-table>
      </md-table-card>
    </div>
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Lista de Entregas">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout>
              <md-layout>
                <md-theme md-name="default">
                  <md-table-card class="tabela-cadastro">
                    <md-toolbar class="md-accent">
                      <h2 class="md-title" style="flex: 1">Lista de Entregas</h2>
                      <md-input-container md-theme="secondary" style="flex: 1 1 0%;">
                        <md-icon>search</md-icon>
                        <md-input v-model="palavraChave"></md-input>
                      </md-input-container>
                    </md-toolbar>

                    <md-table @sort="onSort">
                      <md-table-header>
                        <md-table-row>
                          <md-table-head>Data de Entrega</md-table-head>
                          <md-table-head>Detalhes</md-table-head>
                        </md-table-row>
                      </md-table-header>

                      <md-table-body>
                        <md-table-row v-for="(compra, compraIndex) in compras" :key="compraIndex">
                          <md-table-cell>
                            Semana {{compra[0].weekNumber}} <!-- (<span v-for="(data, index) in datasEntregas[compraIndex]" :key="index">{{formatDate(index)}}, </span>) -->
                          </md-table-cell>
                          <md-table-cell md-align="center">
                            <md-button class="md-raised md-accent detail" @click="getListaCompras(compraIndex)">
                              <span>Detalhes</span>
                            </md-button>
                          </md-table-cell>
                        </md-table-row>
                      </md-table-body>
                    </md-table>
                  </md-table-card>
                </md-theme>
              </md-layout>
            </md-layout>
          </div>
          <div>
            <md-dialog ref='detailDialog' class="detailDialog">
              <md-dialog-title class="md-primary">Lista de Compras</md-dialog-title>
              <md-dialog-content>
                <div class="tableLista">
                  <md-table-card>
                    <md-table>
                      <md-table-header>
                        <md-table-row>
                          <md-table-head>Nome</md-table-head>
                          <md-table-head>Endereço</md-table-head>
                          <md-table-head>Telefone</md-table-head>
                          <md-table-head>D.Entrega</md-table-head>
                          <md-table-head>Total</md-table-head>
                          <md-table-head>Forma Pagamento</md-table-head>
                          <md-table-head>Obs</md-table-head>
                        </md-table-row>
                      </md-table-header>
                      <md-table-body>
                        <md-table-row v-for="(c, compraIndex) in compra" :key="compraIndex">
                          <md-table-cell>{{firstAndLastName(c.usuarioName)}}</md-table-cell>
                          <md-table-cell>{{c.endereco.address}}, {{c.endereco.number}} {{c.endereco.complement}} - {{c.endereco.reference}}</md-table-cell>
                          <md-table-cell>{{c.usuarioPhone}}</md-table-cell>
                          <md-table-cell>{{formatDate(c.data_entrega)}} {{c.periodo}}</md-table-cell>
                          <md-table-cell>R$ {{numberFormat(c.total)}}</md-table-cell>
                          <md-table-cell>{{c.pagamento}}</md-table-cell>
                          <md-table-cell>{{c.observacao}}</md-table-cell>
                        </md-table-row>
                      </md-table-body>
                    </md-table>
                  </md-table-card>
                </div>
              </md-dialog-content>
              <md-dialog-actions>
                <md-button class="md-primary" @click.native="imprimir()">Imprimir</md-button>
                <md-button class="md-primary" @click="closeDialog('detailDialog')">Close</md-button>
              </md-dialog-actions>
            </md-dialog>
          </div>
        </md-theme>
      </page-content>
    </transition>

  </div>
</template>

<script>
  import lo from 'lodash';
  import moment from 'moment';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  export default{
    data() {
      return {
        compras: [],
        compra: [],
        modalList: {},
        produtoresAtivos: [],
        filterField: 'data_entrega',
        pagination: {
          size: 5000,
          page: 1,
          total: 0,
          lastKey: '',
          orderBy: 'data_entrega',
          orderType: 'desc',
        },
        datasEntregas: [],
      };
    },
    computed: {
      palavraChave: {
        get() {

        },
        set(value) {
          this.searchPaginateAndOrder(value);
        },
      },
    },
    firebase() {
      return {
        /* eslint-disable prefer-template */
        ref: {
          source: db.ref('pedidos'),
          asObject: false,
          readyCallback: () => {
            this.searchPaginateAndOrder();
          },
        },
      };
    },
    created() {
      this.$watch('ref', () => {
        this.searchPaginateAndOrder();
      });
    },
    methods: {
      firstAndLastName(name) {
        const split = name.split(' ');
        const firstName = split[0];
        let lastName = split[split.length - 1];
        if (!lastName) {
          lastName = split[split.length - 2];
        }
        if (firstName === lastName) {
          lastName = '';
        }
        return `${firstName} ${lastName}`;
      },
      getListaCompras(date) {
        this.$refs.detailDialog.open();
        this.compra = this.compras[date];
        this.compra = lo.orderBy(this.compra, ['periodo'], ['asc']);
      },
      searchPaginateAndOrder(search) {
        // eslint-disable-next-line
        if (typeof search == 'object') {
          return false;
        }
        // eslint-disable-next-line
        this.compras = lo.filter(this.ref, (o) => {
          return o.status !== 'Cancelado';
        });
        let i = 0;
        // this.datasEntrega = [];
        this.compras = lo.groupBy(this.compras, (compra) => {
          let weeknumber = moment(compra.data_entrega).week();
          if (moment(compra.data_entrega).day() === 0) {
            weeknumber -= 1;
          }
          const year = moment(compra.data_entrega).year();
          weeknumber = `${weeknumber}-${year}`;
          this.compras[i].weekNumber = weeknumber;
          i += 1;
          return weeknumber;
        });
        // lo.forEach(this.compras, (semana, weeknumber) => {
        //   lo.forEach(semana, (compra) => {
        //     if (!this.datasEntregas[weeknumber]) {
        //       this.datasEntregas[weeknumber] = [];
        //     }
        //     this.datasEntregas[weeknumber].push(compra.data_entrega);
        //   });
        //   this.datasEntregas[weeknumber] = lo.groupBy(this.datasEntregas[weeknumber]);
        // });

        let palavraChave;
        if (search) {
          palavraChave = search;
        } else if (this.palavraChave) {
          palavraChave = this.palavraChave;
        } else {
          palavraChave = '';
        }

        // eslint-disable-next-line
        lo.filter(this.compras, (o, index) => {
          // eslint-disable-next-line
          if (!index.match(palavraChave.toLowerCase())) {
            delete this.compras[index];
          }
          return true;
        });
        // eslint-disable-next-line
        this.compras = lo.sortBy(this.compras, (o, i) => {
          return moment(o[0].data_entrega);
        }).reverse();
        return true;
      },
      onPagination(pag) {
        this.pagination.page = pag.page;
        this.pagination.size = pag.size;
        this.searchPaginateAndOrder();
      },
      imprimir() {
        window.print();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
      onSort(element) {
        // eslint-disable-next-line
        console.log(element);
      },
      formatDate(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      numberFormat(valor) {
        let result;
        result = parseFloat(Math.round(valor * 100) / 100).toFixed(2);
        result = result.toString().replace('.', ',');
        return result;
      },
    },
  };
</script>
<style lang="scss">
  @media print {
    .md-toolbar.md-theme-default {
      min-height: 0;
      height: 21px;
      padding-left: 0;
      h1 {
        font-size: 13px;
      }
    }
    .md-table{
      .md-table-cell{
        height: 20px;
        &:last-child{
          .md-table-cell-container {
            padding-right: 5px;
          }
        } 
        .md-table-cell-container {
          padding: 0px 5px 0px 5px;
          font-size: 10px;
        }
      }
      .md-table-head-container {
        height: 24px;
        padding: 0px;
      }
      .md-table-head-text {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
</style>

<style lang="scss" scoped>
  @media print {
    #sidebar, #page-content, .detailDialog {
      visibility: hidden;
    }
    #app{
      padding-left: 0px;
    }
    .printPage{
      visibility: visible!important;
      display: block!important;
      page-break-inside: avoid;
    }
    .detailDialog{
      .md-dialog{
        box-shadow: none;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .md-table .md-table-cell .md-table-cell-container {
      padding: 0px 5px 0px 5px;
    }
    .obsRow{
      height: 10px;
    }
    .md-table .md-table-head-container {
      height: 27px;
      padding: 0px;
    }
  }
  .qtdColumn{
    width: 20%;
  }
  .tableLista, .printPage{
    margin-bottom: 30px;
  }
  .printPage{
    display: none;
  }
  .detailDialog{
    .md-dialog{
      min-width: 1024px;
    }
  }
  #ListaDeCompras,
  #ListaDeEntregas,{
    .tabela-pedidos, .detail{
      width: 40%;
    }
  }
  .dashboard-card{ 
    overflow: hidden;
    .md-card-media{
      i {
        opacity: .1;
        position: absolute;
        font-size: 110px;
        right: 0px;
        bottom: -31px;
      }
    }
  }

  .grid > .md-layout {
    > .md-layout:not(.md-column) {
      min-height: 40px;
      margin-bottom: 16px;
    }
  }

  div[data-highcharts-chart] {
    width: 100%;
  }

  .highcharts-credits{
    display: none;
  }
  .tabela-cadastro {
    width: 100%;
    .md-theme-secondary.md-input-container .md-icon:not(.md-icon-delete):after{
      background: transparent;
    }
  }
  .star{
    cursor: pointer;
  }
  .totalCheck{
    margin-top: 10px;
    span:first-child{
      margin-right: 10px;
    }
  }
  .tableLista .md-table-row.footerTable .md-table-cell {
    height: 25px;
    font-weight: bold;
  }

</style>
