<template>
  <div id="ListaDeRecibos">
    <div class="printPage" v-for="(c, compraIndex) in compra" :key="compraIndex">
      <md-table-card>
        <md-toolbar class="md-accent">
          <h1 class="md-title">{{c.usuarioName}}</h1>
        </md-toolbar>
        <md-table>
          <md-table-header>
            <md-table-row>
              <md-table-head class="columnPrint">Produto</md-table-head>
              <md-table-head class="qtdColumn columnPrint">Quantidade</md-table-head>
              <md-table-head class="qtdColumn columnPrint">Total</md-table-head>
            </md-table-row>
          </md-table-header>

          <md-table-body>
            <md-table-row v-if="item.qtd" v-for="(item, itemIndex) in c.itens" :key="itemIndex">
              <md-table-cell>{{item.nome}}</md-table-cell>
              <md-table-cell>{{item.qtd}}</md-table-cell>
              <md-table-cell>R$ {{numberFormat(item.total)}}</md-table-cell>
            </md-table-row>
            <md-table-row class="footerTable">
              <md-table-cell>Frete</md-table-cell>
              <md-table-cell></md-table-cell>
              <md-table-cell>R$ {{numberFormat(c.frete)}}</md-table-cell>
            </md-table-row>
            <md-table-row v-if="c.desconto>0" class="footerTable">
              <md-table-cell>Desconto</md-table-cell>
              <md-table-cell></md-table-cell>
              <md-table-cell>R$ {{numberFormat(c.desconto)}}</md-table-cell>
            </md-table-row>
            <md-table-row class="footerTable totalLine">
              <md-table-cell>Total</md-table-cell>
              <md-table-cell></md-table-cell>
              <md-table-cell>R$ {{numberFormat(c.total)}}</md-table-cell>
            </md-table-row>
          </md-table-body>
        </md-table>
      </md-table-card>
    </div>
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Lista de Recibos">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout>
              <md-layout>
                <md-theme md-name="default">
                  <md-table-card class="tabela-cadastro">
                    <md-toolbar class="md-accent">
                      <h2 class="md-title" style="flex: 1">Lista de Recibos</h2>
                      <md-input-container md-theme="secondary" style="flex: 1 1 0%;">
                        <md-icon>search</md-icon>
                        <md-input v-model="palavraChave"></md-input>
                      </md-input-container>
                    </md-toolbar>

                    <md-table @sort="onSort">
                      <md-table-header>
                        <md-table-row>
                          <md-table-head>Data de Entrega</md-table-head>
                          <md-table-head>Detalhes</md-table-head>
                        </md-table-row>
                      </md-table-header>

                      <md-table-body>
                        <md-table-row v-for="(compra, compraIndex) in compras" :key="compraIndex">
                          <md-table-cell>
                            Semana {{compra[0].weekNumber}}
                          </md-table-cell>
                          <md-table-cell md-align="center">
                            <md-button class="md-raised md-accent detail" @click="getListaCompras(compraIndex)">
                              <span>Detalhes</span>
                            </md-button>
                          </md-table-cell>
                        </md-table-row>
                      </md-table-body>
                    </md-table>
                  </md-table-card>
                </md-theme>
              </md-layout>
            </md-layout>
          </div>
          <div>
            <md-dialog ref='detailDialog' class="detailDialog">
              <md-dialog-title class="md-primary">Lista de Compras</md-dialog-title>
              <md-dialog-content>
                <div class="tableLista" v-for="(c, compraIndex) in compra" :key="compraIndex">
                  <md-table-card>
                    <md-toolbar class="md-accent">
                      <h1 class="md-title">{{c.usuarioName}}</h1>
                    </md-toolbar>
                    <md-table>
                      <md-table-header>
                        <md-table-row>
                          <md-table-head>Produto</md-table-head>
                          <md-table-head class="qtdColumn">Quantidade</md-table-head>
                          <md-table-head class="qtdColumn">Total</md-table-head>
                        </md-table-row>
                      </md-table-header>

                      <md-table-body>
                        <md-table-row v-if="item.qtd" v-for="(item, itemIndex) in orderProdutos(c.itens)" :key="itemIndex">
                          <md-table-cell>{{item.nome}}</md-table-cell>
                          <md-table-cell>{{item.qtd}}</md-table-cell>
                          <md-table-cell>R$ {{numberFormat(item.total)}}</md-table-cell>
                        </md-table-row>
                        <md-table-row class="footerTable">
                          <md-table-cell>Frete</md-table-cell>
                          <md-table-cell></md-table-cell>
                          <md-table-cell>R$ {{numberFormat(c.frete)}}</md-table-cell>
                        </md-table-row>
                        <md-table-row v-if="c.desconto>0" class="footerTable">
                          <md-table-cell>Desconto</md-table-cell>
                          <md-table-cell></md-table-cell>
                          <md-table-cell>R$ {{numberFormat(c.desconto)}}</md-table-cell>
                        </md-table-row>
                        <md-table-row class="footerTable totalLine">
                          <md-table-cell>Total</md-table-cell>
                          <md-table-cell></md-table-cell>
                          <md-table-cell>R$ {{numberFormat(c.total)}}</md-table-cell>
                        </md-table-row>
                      </md-table-body>
                    </md-table>
                  </md-table-card>
                </div>
              </md-dialog-content>
              <md-dialog-actions>
                <md-button class="md-primary" @click.native="imprimir()">Imprimir</md-button>
                <md-button class="md-primary" @click="closeDialog('detailDialog')">Close</md-button>
              </md-dialog-actions>
            </md-dialog>
          </div>
        </md-theme>
      </page-content>
    </transition>

  </div>
</template>

<script>
  import lo from 'lodash';
  import moment from 'moment';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  export default{
    data() {
      return {
        compras: [],
        compra: [],
        modalList: {},
        produtoresAtivos: [],
        filterField: 'data_entrega',
        pagination: {
          size: 5000,
          page: 1,
          total: 0,
          lastKey: '',
          orderBy: 'data_entrega',
          orderType: 'desc',
        },
      };
    },
    computed: {
      palavraChave: {
        get() {

        },
        set(value) {
          this.searchPaginateAndOrder(value);
        },
      },
    },
    firebase() {
      return {
        /* eslint-disable prefer-template */
        ref: {
          source: db.ref('pedidos'),
          asObject: false,
          readyCallback: () => {
            this.searchPaginateAndOrder();
          },
        },
      };
    },
    created() {
      this.$watch('ref', () => {
        this.searchPaginateAndOrder();
      });
    },
    methods: {
      getListaCompras(date) {
        this.$refs.detailDialog.open();
        this.compra = this.compras[date];
      },
      searchPaginateAndOrder(search) {
        // eslint-disable-next-line
        if (typeof search == 'object') {
          return false;
        }
        // eslint-disable-next-line
        this.compras = lo.filter(this.ref, (o) => {
          return o.status !== 'Cancelado';
        });

        let i = 0;
        // this.datasEntrega = [];
        this.compras = lo.groupBy(this.compras, (compra) => {
          let weeknumber = moment(compra.data_entrega).week();
          if (moment(compra.data_entrega).day() === 0) {
            weeknumber -= 1;
          }
          const year = moment(compra.data_entrega).year();
          weeknumber = `${weeknumber}-${year}`;
          this.compras[i].weekNumber = weeknumber;
          i += 1;
          return weeknumber;
        });

        let palavraChave;
        if (search) {
          palavraChave = search;
        } else if (this.palavraChave) {
          palavraChave = this.palavraChave;
        } else {
          palavraChave = '';
        }

        // eslint-disable-next-line
        lo.filter(this.compras, (o, index) => {
          // eslint-disable-next-line
          if (!index.match(palavraChave.toLowerCase())) {
            delete this.compras[index];
          }
          return true;
        });
        // eslint-disable-next-line
        this.compras = lo.sortBy(this.compras, (o, i) => {
          return moment(o[0].data_entrega);
        }).reverse();
        return true;
      },
      orderProdutos(produtos) {
        return lo.orderBy(produtos, ['nome'], ['asc']);
      },
      onPagination(pag) {
        this.pagination.page = pag.page;
        this.pagination.size = pag.size;
        this.searchPaginateAndOrder();
      },
      imprimir() {
        window.print();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
      onSort(element) {
        // eslint-disable-next-line
        console.log(element);
      },
      formatDate(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      numberFormat(valor) {
        let result;
        result = parseFloat(Math.round(valor * 100) / 100).toFixed(2);
        result = result.toString().replace('.', ',');
        return result;
      },
    },
  };
</script>
<style lang="scss">
  .columnPrint .md-table-head-container{
    height: 25px!important;
    padding: 0!important;
  }
  @media print {
    .md-table .md-table-cell .md-table-cell-container {
      padding: 0px 32px 0px 24px;
    }
  }
</style>

<style lang="scss" scoped>
  @media print {
    #sidebar, #page-content, .detailDialog {
      visibility: hidden;
    }
    #app{
      padding-left: 0px;
    }
    .printPage{
      visibility: visible!important;
      display: block!important;
      page-break-inside: avoid;
      margin-bottom: 10px!important;
    }
    .detailDialog{
      .md-dialog{
        box-shadow: none;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .md-table .md-table-cell, 
    .md-table .md-table-cell div {
      height: 20px!important;
      padding: 0!important;
    }
    .md-table .footerTable .md-table-cell {
      font-weight: bold;
    }
    .md-table .footerTable.totalLine .md-table-cell {
      font-size: 17px!important;
    }
    .md-toolbar.md-accent.md-theme-default {
      min-height: 0px;
      height: 25px;
      border-bottom: solid 1px #c1c1c1;
      h1.md-title{
        font-size: 16px!important;
      }
    }
    .md-card.md-table-card.md-theme-default.md-theme-default {
      box-shadow: none;
      border: solid 1px #c1c1c1;
    }
  }
  .qtdColumn{
    width: 20%;
  }
  .tableLista, .printPage{
    margin-bottom: 30px;
  }
  .printPage{
    display: none;
  }
  .detailDialog{
    .md-dialog{
      min-width: 1024px;
    }
  }
  #ListaDeCompras,
  #ListaDeRecibos{
    .tabela-pedidos, .detail{
      width: 30%;
    }
  }
  .dashboard-card{ 
    overflow: hidden;
    .md-card-media{
      i {
        opacity: .1;
        position: absolute;
        font-size: 110px;
        right: 0px;
        bottom: -31px;
      }
    }
  }

  .grid > .md-layout {
    > .md-layout:not(.md-column) {
      min-height: 40px;
      margin-bottom: 16px;
    }
  }

  div[data-highcharts-chart] {
    width: 100%;
  }

  .highcharts-credits{
    display: none;
  }
  .tabela-cadastro {
    width: 100%;
    .md-theme-secondary.md-input-container .md-icon:not(.md-icon-delete):after{
      background: transparent;
    }
  }
  .star{
    cursor: pointer;
  }
  .totalCheck{
    margin-top: 10px;
    span:first-child{
      margin-right: 10px;
    }
  }
  .tableLista .md-table-row.footerTable .md-table-cell {
    height: 25px;
    font-weight: bold;
  }

</style>
