<template>
  <div id="produtos">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Novo Produto">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout md-gutter="16">
              <md-layout md-with-hover md-flex="100">
                <md-layout  md-flex="100">
                  <form class="form-default" novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                      <label>Nome</label>
                      <md-input v-model="produto.nome" required></md-input>
                    </md-input-container>

                    <!-- <md-layout md-flex="100">
                      <md-input-container>
                        <label>Descrição do produto</label>
                        <md-textarea v-model="produto.descricao" md-autogrow></md-textarea>
                      </md-input-container>
                    </md-layout> -->
                    <p class="md-caption">Descrição</p>
                    <vue-ckeditor v-model="produto.descricao" language="pt-br" :toolbar="toolbar" extraPlugins="pastefromword"></vue-ckeditor>
                                
                    <md-input-container>
                      <label>Preço antes da promoção</label>
                      <md-input v-model="produto.priceFrom"></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Preço Final</label>
                      <md-input v-model="produto.preco" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Preço de Custo</label>
                      <md-input v-model="produto.custo" required></md-input>
                    </md-input-container>

                    <p>Imagem</p>
                    <img id="imagem" width="200px" v-bind:src="firebaseUrlStorage"/>
                    <image-uploader
                      ref="fileUpload"
                      :debug="1"
                      :maxHeight="240"
                      :quality="1"
                      :autoRotate="true"
                      :preview="true"
                      :className="['fileinput', { 'fileinput--loaded' : hasImage }]"
                      @input="getFiles"
                    ></image-uploader>

                    <md-input-container>
                      <label>Unidade</label>
                      <md-select v-model="produto.unidade" name="unidade" id="unidade">
                        <md-option value="un">Unidade</md-option>
                        <md-option value="Kg">Quilograma</md-option>
                        <md-option value="gr">Gramas</md-option>
                        <md-option value="lb">Libras</md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container>
                      <label>Unidade mínima de venda</label>
                      <md-input type="number" :min="0.1" :value="1" v-model="produto.unidade_minima" required></md-input>
                    </md-input-container>
                   
                    <md-input-container>
                      <label>Produtor</label>
                      <md-select v-model="produto.produtores" name="produtor" id="produtor" multiple >
                        <md-option v-for="produtor in produtores" :key="produtor['.key']" :value="produtor['.key']">

                          {{ produtor.nome }}
                        </md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container>
                      <label>Labels</label>
                      <md-select v-model="produto.labels" name="label" id="label" multiple >
                        <md-option v-for="label in labels" :key="label['.key']" :value="label.id">
                          {{ label.nome }}
                        </md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container>
                      <label>Cidade</label>
                      <md-select v-model="produto.cidade" name="cidade" id="cidade" >
                        <md-option v-for="cidade in cidades" :key="cidade['.key']" :value="cidade">
                          {{ cidade.nome }}
                        </md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container>
                      <label>Categoria</label>
                      <md-select v-model="produto.categoria" name="categoria" id="categoria">
                        <md-option v-for="categoria in categorias" :key="categoria['.key']" :value="categoria.id">
                          {{ categoria.nome }}
                        </md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container>
                      <label>Disponível</label>
                      <md-select v-model="produto.disponivel" name="categoria" id="categoria">
                        <md-option value="sim">sim</md-option>
                        <md-option value="nao">não</md-option>
                      </md-select>
                    </md-input-container>

                    <md-button @click.native="onSubmit" class="md-raised md-accent saveButton">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                  </form>
                </md-layout>
              </md-layout>
            </md-layout>
          </div>
        </md-theme>
        <md-dialog-alert
          :md-content="message.content"
          md-ok-text="Ok"
          ref="dialogMessage">
        </md-dialog-alert>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import VueCkeditor from 'vueckeditor';
  import { ImageUploader } from 'vue-image-upload-resize';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  const msgError = 'Um erro ocorreu, informe este erro ao seu desenvolvedor:';
  const msgSucesso = 'Salvo com sucesso.';

  export default{
    data: () => ({
      loading: false,
      local: '',
      selectedData: [],
      sort: {},
      page: {},
      produto: {},
      message: {
        content: ' ',
      },
      img: '',
      scale: 50,
      quality: 82,
      originalSize: true,
      original: {},
      hasImage: false,
      // image: this.store.state.produtoUrl,
      categoriaSelecionada: '',
      firebaseUrlStorage: '',
      extraPlugins: 'colorbutton,font,justify,print,tableresize,pastefromword,liststyle',
      toolbar: [
        { name: 'clipboard', items: ['PasteFromWord', '-', 'Undo', 'Redo'] },
        { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat', 'Subscript', 'Superscript'] },
        { name: 'links', items: ['Link', 'Unlink'] },
        { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote'] },
        { name: 'insert', items: ['Image', 'Table'] },
        { name: 'editing', items: ['Scayt'] },
        '/',
        { name: 'styles', items: ['Format', 'Font', 'FontSize'] },
        { name: 'colors', items: ['TextColor', 'BGColor', 'CopyFormatting'] },
        { name: 'align', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
        { name: 'document', items: ['Print', 'Source'] },
      ],
    }),
    components: {
      ImageUploader,
      VueCkeditor,
    },
    /* eslint-disable prefer-template */
    mounted() {
      if (this.$route.params.idproduto !== undefined) {
        const payload = this.$route.params.idproduto;
        this.$store.dispatch('getImagem', payload);
        this.getImageUrl(this.produto.imageUrl);
      }
    },
    firebase() {
      const fireQuery = {
        produtores: db.ref('produtores'),
        labels: {
          source: db.ref('labels'),
          asObject: true,
          readyCallback: () => {
            delete this.labels['.key'];
          },
        },
        cidades: {
          source: db.ref('cidades'),
          asObject: true,
          readyCallback: () => {
            delete this.cidades['.key'];
          },
        },
        produto: {
          source: db.ref(`produtos/${this.$route.params.idproduto}`),
          asObject: true,
        },
        categorias: {
          source: db.ref('categorias'),
          asObject: true,
        },
      };
      if (!this.$route.params.idproduto) {
        delete fireQuery.produto;
      }
      return fireQuery;
    },
    methods: {
      getImageUrl(imgPath) {
        firebase.storage().ref().child(`images/${imgPath}`).getDownloadURL()
        .then((url) => {
          this.firebaseUrlStorage = url;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
      },
      getFiles(obj) {
        this.original = this.$refs.fileUpload.$el.children[1].files[0];
        this.compressed = obj;
      },
      getImage(payload) {
        this.store.dispatch('getImage', payload);
      },
      onSubmit() {
        this.$parent.$refs.loading.showLoading();

        const payload = {
          nome: this.produto.nome,
          unidade: this.produto.unidade,
          unidade_minima: this.produto.unidade_minima || 1,
          produtores: this.produto.produtores,
          preco: this.produto.preco,
          priceFrom: this.produto.priceFrom,
          custo: this.produto.custo,
          categoria: this.produto.categoria,
          labels: this.produto.labels || {},
          disponivel: this.produto.disponivel,
          cidade: this.produto.cidade,
          descricao: this.produto.descricao || '',
          ratings: this.produto.ratings || {},
          destaque: this.produto.destaque || false,
        };
        if (this.$route.params.idproduto !== undefined) {
          payload.id = this.$route.params.idproduto;
        }

        if (!this.validaProduto()) {
          return false;
        }
        if (this.original.name) {
          payload.image = this.original;
          payload.imageUrl = this.original.name;
          payload.imageCompressed = this.compressed;
          this.$store.dispatch('uploadImagem', payload).then(() => {
            delete payload.imageCompressed;
            delete payload.image;
            this.$store.dispatch('saveProduto', payload).then(() => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = msgSucesso;
              this.openDialog('dialogMessage');
            }).catch((error) => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = `${msgError} ${error}`;
              this.openDialog('dialogMessage');
            });
          }).catch((error) => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = `Upload Error: ${msgError} ${error}`;
            this.openDialog('dialogMessage');
          });
        } else {
          payload.imageUrl = this.produto.imageUrl || '';
          this.$store.dispatch('saveProduto', payload).then(() => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = msgSucesso;
            this.openDialog('dialogMessage');
          }).catch((error) => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = `${msgError} ${error}`;
            this.openDialog('dialogMessage');
          });
        }
        return true;
      },
      validaProduto() {
        let validate = true;

        if (!this.produto.categoria) {
          this.message.content = 'Selecione a categoria do produto.';
          validate = false;
        }
        if (!this.produto.cidade) {
          this.message.content = 'Escolha a cidade do produto.';
          validate = false;
        }
        if (!this.produto.produtores) {
          this.message.content = 'Selecione ao menos um produtor.';
          validate = false;
        }
        if (!this.produto.unidade) {
          this.message.content = 'Selecione a unidade do produto.';
          validate = false;
        }
        if (!this.produto.custo) {
          this.message.content = 'Preencha o preço de custo do produto.';
          validate = false;
        }
        if (!this.produto.preco) {
          this.message.content = 'Preencha o preço final do produto.';
          validate = false;
        }
        if (!this.produto.nome) {
          this.message.content = 'Preencha o nome do produto.';
          validate = false;
        }

        if (!validate) {
          this.$parent.$refs.loading.hideLoading();
          this.openDialog('dialogMessage');
        }
        return validate;
      },
      onSelect(data) {
        this.selectedData = data;
        this.$forceUpdate();
      },
      onSort(sort) {
        this.sort = sort;
      },
      onPagination(page) {
        this.page = page;
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
    },
  };
</script>

<style lang="scss">

</style>

