<template>
  <md-theme md-name="default">
    <div class="main-content grid">
      <md-layout>
        <md-layout>
          <md-theme md-name="default">
            <md-table-card class="tabela-cadastro" :class="`tabela-${modelId}`">
              <md-toolbar class="md-accent">
                <h2 class="md-title" style="flex: 1">Lista de {{model[modelId].title}}</h2>

                <md-input-container md-theme="secondary" style="flex: 1 1 0%;">
                  <md-icon>search</md-icon>
                  <md-input v-model="palavraChave"></md-input>
                </md-input-container>
                
                <router-link exact :to="`/${model[modelId].ref}/novo`">
                  <md-button class="md-icon-button md-raised md-warn">
                    <md-icon>add</md-icon>
                  </md-button>
                </router-link>
              </md-toolbar>

              <md-table @sort="onSort">
                <md-table-header>
                  <md-table-row>
                    <md-table-head v-for="(column, columnIndex) in model[modelId].showData" :key="columnIndex" :md-sort-by="columnIndex">{{column}}</md-table-head>
                    <md-table-head v-if="model[modelId].editar">Editar</md-table-head>
                    <md-table-head v-if="model[modelId].deletar">Deletar</md-table-head>
                    <md-table-head v-if="model[modelId].dialog">Detalhes</md-table-head>
                  </md-table-row>
                </md-table-header>

                <md-table-body>
                  <md-table-row v-for="(row, rowIndex) in itens" :key="rowIndex" :md-item="row">
                    <md-table-cell v-for="(column, columnIndex) in model[modelId].showData" :key="columnIndex">
                      <span v-if="columnIndex === 'ativo'">
                        <span v-if="!row[columnIndex]">
                          <md-theme md-name="red">
                            <md-button @click.native="changeActive(row[model[modelId].primaryKey], true)" class="md-icon-button md-raised md-primary">
                              <md-icon>remove</md-icon>
                            </md-button>
                          </md-theme>
                        </span>
                        <span v-else-if="row[columnIndex]">
                          <md-button @click.native="changeActive(row[model[modelId].primaryKey], false)" class="md-icon-button md-raised md-primary">
                            <md-icon>check</md-icon>
                          </md-button>
                        </span>
                      </span>
                      <span v-else-if="columnIndex === 'destaque'">
                        <span v-if="!row[columnIndex]">
                          <md-theme md-name="grey">
                            <md-icon class="md-primary star" @click.native="changeStar(row[model[modelId].primaryKey], true)">star</md-icon>
                          </md-theme>
                        </span>
                        <span v-else-if="row[columnIndex]">
                          <md-theme md-name="yellow">
                            <md-icon class="md-primary star" @click.native="changeStar(row[model[modelId].primaryKey], false)">star</md-icon>
                          </md-theme>
                        </span>
                      </span>
                      <span v-else-if="columnIndex === 'disponivel'">
                        <span v-if="row[columnIndex] === 'nao'">
                          <md-theme md-name="red">
                            <md-button @click.native="changeDisponibility(row[model[modelId].primaryKey], 'sim')" class="md-icon-button md-raised md-primary">
                              <md-icon>remove</md-icon>
                            </md-button>
                          </md-theme>
                        </span>
                        <span v-else-if="row[columnIndex] === 'sim'">
                          <md-button @click.native="changeDisponibility(row[model[modelId].primaryKey], 'nao')" class="md-icon-button md-raised md-primary">
                            <md-icon>check</md-icon>
                          </md-button>
                        </span>
                      </span>
                      <span v-else-if="columnIndex === 'status'">
                        <md-input-container>
                          <label>{{ columnIndex }}</label>
                          <md-select id="status" v-model="row[columnIndex]" name="row.status">
                            <md-option :key="index" v-for="(stat, index) in model[modelId].status" :value="stat" v-on:selected.prevent="changeStatus(stat, row[model[modelId].primaryKey], rowIndex)" >
                            {{ stat }}
                            </md-option>
                          </md-select>
                        </md-input-container>
                      </span>

                      <span v-else-if="columnIndex === 'produtores'">
                          <label v-for="(keyProdutor, index) in row[columnIndex]" :key="index">
                            {{ produtores[keyProdutor].nome }} 
                          </label>
                      </span>
                      <span v-else-if="columnIndex === 'data_entrega'">
                          {{ formatDate(row[columnIndex]) }}
                      </span>
                      <span v-else-if="columnIndex === 'total'">
                          R$ {{ numberFormat(row[columnIndex]) }}
                      </span>
                      <span v-else-if="columnIndex === 'cidade'">
                          {{ row[columnIndex]?row[columnIndex].nome:''  }}
                      </span>
                      <span v-else-if="columnIndex === 'urlAbsolute'">
                        <md-image height="50" :md-src="row[columnIndex]"></md-image>
                      </span>
                      <span v-else>{{ row[columnIndex] }}</span>

                    </md-table-cell>
                    <md-table-cell v-if="model[modelId].editar">
                      <a :href="`#/${modelId}/${row[model[modelId].primaryKey]}`">
                        <md-icon>edit</md-icon>
                      </a>
                    </md-table-cell>
                    <md-table-cell v-if="model[modelId].deletar">
                        <router-link to="" @click.native="deletar(row[model[modelId].primaryKey])">
                          <md-icon>delete</md-icon>
                        </router-link>                            
                    </md-table-cell>
                    <md-table-cell v-if="model[modelId].dialog">
                      <md-button @click.native="openDialogDetalhes('detailDialog', row)" class="md-raised md-accent detail">
                        <span>Detalhes</span>
                      </md-button>
                    </md-table-cell>
                  </md-table-row>
                </md-table-body>
              </md-table>

              <md-table-pagination
                :md-size="model[modelId].pagination.size"
                :md-total="model[modelId].pagination.total"
                :md-page="model[modelId].pagination.page"
                md-label="Linhas"
                md-separator="de"
                :md-page-options="[5, 10, 25, 50, 100, 200]"
                @pagination="onPagination">
              </md-table-pagination>
            </md-table-card>
          </md-theme>
        </md-layout>
      </md-layout>
    </div>
    <div v-if='model[modelId].dialog'>
      <md-dialog ref='detailDialog' class="detailDialog">
        <md-dialog-title class="md-primary">{{model[modelId].title}}</md-dialog-title>
        <md-dialog-content>
          <md-layout class="grid" md-gutter="16">
            <md-layout md-flex="50">
              <md-input-container>
                <label>Nome</label>
                <md-input :readonly="true" :value="model[modelId].dialog.name"></md-input>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">  
              <md-input-container>
                <label>Telefone</label>
                <md-input :readonly="true" :value="model[modelId].dialog.phone_number"></md-input>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">            
              <md-input-container>
                <label>CEP</label>
                <md-input :readonly="true" :value="model[modelId].dialog.address.cep"></md-input>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">  
              <md-input-container>
                <label>Endereço</label>
                <md-input :readonly="true" :value="model[modelId].dialog.address.address" ></md-input>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">          
              <md-input-container>
                <label>Número</label>
                <md-input :readonly="true" :value="model[modelId].dialog.address.number" ></md-input>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">  
              <md-input-container>
                <label>Bairro</label>
                <md-input :readonly="true" :value="model[modelId].dialog.address.neighborhood" ></md-input>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">  
              <md-input-container>
                <label>Complemento</label>
                <md-input :readonly="true" :value="model[modelId].dialog.address.complement" ></md-input>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="100">
              <md-input-container>
                <label>Observação</label>
                <md-textarea :readonly="true" v-model="model[modelId].dialog.observacao" md-autogrow></md-textarea>
              </md-input-container>
            </md-layout>
          </md-layout>
          <md-toolbar class="md-accent">
            <h2 class="md-title" style="flex: 1">Itens</h2>
          </md-toolbar>
          <md-table class="md-dialog-bg">
            <md-table-header>
              <md-table-row>
                <md-table-head>Nome</md-table-head>
                <md-table-head>Qtd</md-table-head>
              </md-table-row>
            </md-table-header>

            <md-table-body>
              <md-table-row v-for="(item, itemIndex) in model[modelId].dialog.itens" :key="itemIndex" :md-item="item">
                <md-table-cell>
                  {{ item.nome }}
                </md-table-cell>
                <md-table-cell>
                  {{ item.qtd }}
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
          <md-layout md-flex="100" class="totalCheck">
            <span class="md-subtitle">Subtotal:</span>
            <span class="md-subtitle">R$ {{ numberFormat(model[modelId].dialog.subtotal) }}</span>
          </md-layout>
          <md-layout md-flex="100" class="totalCheck">
            <span class="md-subtitle">Frete:</span>
            <span class="md-subtitle">R$ {{numberFormat(model[modelId].dialog.frete)}}</span>
          </md-layout>
          <md-layout md-flex="100" class="totalCheck">
            <span class="md-subtitle">Desconto:</span>
            <span class="md-subtitle">R$ {{numberFormat(model[modelId].dialog.desconto)}}</span>
          </md-layout>
          <md-layout md-flex="100" class="totalCheck">
            <span class="md-title">Total:</span>
            <span class="md-title">R$ {{numberFormat(model[modelId].dialog.total)}}</span>
          </md-layout>
          <md-layout md-flex="100" class="totalCheck">
            <span class="md-subtitle">Troco para:</span>
            <span class="md-subtitle">R$ {{numberFormat(model[modelId].dialog.troco)}}</span>
          </md-layout>
        </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-primary" @click.native="imprimir()">Imprimir</md-button>
          <md-button class="md-primary" @click="closeDialog('detailDialog')">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
    </div>
    <md-dialog ref='motivoDialog' class="motivoDialog" :md-esc-to-close="false" :md-click-outside-to-close="false">
      <md-dialog-title class="md-primary">Motivo</md-dialog-title>
      <md-dialog-content>
        <md-layout md-flex="50">  
          <md-input-container>
            <label>Motivo do Cancelamento</label>
            <md-input v-model="motivoCancelamento"></md-input>
          </md-input-container>
        </md-layout>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click.native="salvarCancelamento()">Salvar</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-dialog ref='bagDialog' class="bagDialog" :md-esc-to-close="false" :md-click-outside-to-close="false">
      <md-dialog-title class="md-primary">Motivo</md-dialog-title>
      <md-dialog-content>
        <md-layout md-flex="100">  
          <md-input-container>
            <label>Sacolas Entregues</label>
            <md-input v-model="sacolas.entregue" type="number"></md-input>
          </md-input-container>
        </md-layout>
        <md-layout md-flex="100">
          <md-input-container>
            <label>Sacolas Recebidas</label>
            <md-input v-model="sacolas.recebida" type="number"></md-input>
          </md-input-container>
        </md-layout>
        <md-input-container>
          <label>Forma de Pagamento</label>
          <md-select v-model="sacolas.pagamento">
            <md-option value="dinheiro">Dinheiro</md-option>
            <md-option value="debito">Débito</md-option>
            <md-option value="credito">Crédito</md-option>
          </md-select>
        </md-input-container>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click.native="salvarEntrega()">Salvar</md-button>
      </md-dialog-actions>
    </md-dialog>
  </md-theme>
</template>

<script>
  import lo from 'lodash';
  import moment from 'moment';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  export default{
    props: {
      refRegister: String,
    },
    data() {
      return {
        model: {
          produtores: {
            title: 'Produtores',
            ref: 'produtores',
            primaryKey: 'id',
            showData: {
              nome: 'Nome',
              email: 'E-mail',
              telefone: 'Telefone',
            },
            filterField: ['nome'],
            pagination: {
              size: 10,
              page: 1,
              total: 0,
              lastKey: '',
              orderBy: 'nome',
              orderType: 'desc',
            },
            editar: true,
            deletar: false,
          },
          clientes: {
            title: 'Clientes',
            ref: 'clientes',
            primaryKey: 'id',
            showData: {
              name: 'Nome',
              email: 'E-mail',
              phone_number: 'Telefone',
            },
            filterField: ['name'],
            pagination: {
              size: 10,
              page: 1,
              total: 0,
              lastKey: '',
              orderBy: 'name',
              orderType: 'desc',
            },
            editar: true,
            deletar: false,
          },
          pedidos: {
            title: 'Pedidos',
            ref: 'pedidos',
            primaryKey: 'numero',
            showData: {
              numero: 'Id',
              usuarioName: 'Cliente',
              total: 'Valor',
              status: 'Status',
              data_entrega: 'Data de Entrega',
              periodo: 'Período',
            },
            status: {
              Aberto: 'Aberto',
              Entregue: 'Entregue',
              'Entrega em andamento': 'Entrega em andamento',
              Cancelado: 'Cancelado',
            },
            filterField: ['numero', 'usuarioName'],
            pagination: {
              size: 10,
              page: 1,
              total: 0,
              lastKey: '',
              orderBy: 'numero',
              orderType: 'desc',
            },
            dialog: {
              numeroPedido: '',
              name: '',
              phone_number: '',
              address: {},
              itens: [],
            },
            editar: true,
            deletar: false,
          },
          categorias: {
            title: 'Categorias',
            ref: 'categorias',
            primaryKey: 'id',
            showData: {
              nome: 'Nome',
            },
            filterField: ['nome'],
            pagination: {
              size: 10,
              page: 1,
              total: 0,
              lastKey: '',
              orderBy: 'nome',
              orderType: 'desc',
            },
            editar: true,
            deletar: true,
          },
          cidades: {
            title: 'Cidades',
            ref: 'cidades',
            primaryKey: 'id',
            showData: {
              ativo: 'Ativo',
              nome: 'Nome',
            },
            filterField: ['nome'],
            pagination: {
              size: 10,
              page: 1,
              total: 0,
              lastKey: '',
              orderBy: 'nome',
              orderType: 'desc',
            },
            editar: true,
            deletar: true,
          },
          assinaturas: {},
          produtos: {
            title: 'Produtos',
            ref: 'produtos',
            primaryKey: 'id',
            showData: {
              disponivel: 'Disponível',
              urlAbsolute: 'Imagem',
              nome: 'Nome',
              cidade: 'Cidade',
              preco: 'Preço',
              produtores: 'Produtor',
              destaque: 'Destaque',
            },
            filterField: ['nome', 'produtores'],
            pagination: {
              size: 10,
              page: 1,
              total: 0,
              lastKey: '',
              orderBy: 'nome',
              orderType: 'asc',
            },
            editar: true,
            deletar: false,
          },
          promocoes: {
            title: 'Promoções',
            ref: 'promocoes',
            primaryKey: 'id',
            showData: {
              ativo: 'Ativo',
              nome: 'Nome',
              codigo: 'Código',
              valor: 'Valor',
              unidade: 'Unidade',
              valorMinimo: 'Valor Mínimo',
            },
            filterField: ['nome'],
            pagination: {
              size: 10,
              page: 1,
              total: 0,
              lastKey: '',
              orderBy: 'nome',
              orderType: 'desc',
            },
            editar: true,
            deletar: true,
          },
          banners: {
            title: 'Banners',
            ref: 'banners',
            primaryKey: 'id',
            showData: {
              ativo: 'Ativo',
              nome: 'Nome',
              urlAbsolute: 'Imagem',
            },
            filterField: ['nome'],
            pagination: {
              size: 10,
              page: 1,
              total: 0,
              lastKey: '',
              orderBy: 'nome',
              orderType: 'desc',
            },
            editar: true,
            deletar: true,
          },
          labels: {
            title: 'Labels',
            ref: 'labels',
            primaryKey: 'id',
            showData: {
              urlAbsolute: 'Imagem',
              nome: 'Nome',
            },
            filterField: ['nome'],
            pagination: {
              size: 10,
              page: 1,
              total: 0,
              lastKey: '',
              orderBy: 'nome',
              orderType: 'asc',
            },
            editar: true,
            deletar: false,
          },
        },
        itens: {},
        ref: [],
        modelId: this.refRegister,
        showDialog: false,
        q: '',
        motivoCancelamento: '',
        motivoKey: '',
        sacolas: {
          entregue: 0,
          recebida: 0,
          pagamento: '',
          usuarioID: '',
        },
      };
    },
    computed: {
      palavraChave: {
        get() {

        },
        set(value) {
          this.q = value;
          this.searchPaginateAndOrder(value);
        },
      },
    },
    firebase() {
      return {
        /* eslint-disable prefer-template */
        ref: {
          source: db.ref(this.modelId),
          asObject: true,
          readyCallback: () => {
            if (this.ref[Object.keys(this.ref)[0]].imageUrl) {
              delete this.ref['.key'];
              lo.forEach(this.ref, (item, index) => {
                let path = 'images/thumbs';
                if (this.modelId !== 'produtos') {
                  path = this.modelId;
                }
                firebase.storage().ref().child(`${path}/${item.imageUrl}`).getDownloadURL()
                .then((url) => {
                  this.ref[index].urlAbsolute = url;
                  this.searchPaginateAndOrder(this.q);
                });
              });
            }
            this.searchPaginateAndOrder(this.q);
          },
        },
        produtores: {
          source: db.ref('produtores'),
          asObject: true,
          readyCallback: () => {
            this.searchPaginateAndOrder(this.q);
          },
        },
      };
    },
    created() {
      this.$watch('ref', () => {
        this.searchPaginateAndOrder(this.q);
      });
      this.$watch('produtores', () => {
        this.searchPaginateAndOrder(this.q);
      });
    },
    methods: {
      numberFormat(valor) {
        let result;
        result = parseFloat(Math.round(valor * 100) / 100).toFixed(2);
        result = result.toString().replace('.', ',');
        return result;
      },
      searchPaginateAndOrder(search) {
        // eslint-disable-next-line
        if (typeof search == 'object') {
          return false;
        }
        const page = this.model[this.modelId].pagination.page;
        const size = this.model[this.modelId].pagination.size;
        const orderBy = this.model[this.modelId].pagination.orderBy;
        const orderType = this.model[this.modelId].pagination.orderType;
        const offset = (page - 1) * size;
        const slice = offset + size;
        let palavraChave;
        if (search) {
          palavraChave = search;
        } else if (this.palavraChave) {
          palavraChave = this.palavraChave;
        } else {
          palavraChave = '';
        }

        delete this.ref['.key'];
        let itens = this.ref;
        let count = 0;
        // eslint-disable-next-line
        itens = lo.filter(itens, (o) => {
          const filterField = this.model[this.modelId].filterField;
          let filter = false;
          filterField.forEach((field) => {
            if (field === 'produtores') {
              o[field].forEach((produtor) => {
                const produtorFilter = this.produtores[produtor].nome.toLowerCase();
                if (produtorFilter.match(palavraChave.toLowerCase())) {
                  filter = true;
                }
              });
            } else {
              // eslint-disable-next-line
              const filterValue = typeof o[field] == 'string' ? o[field].toLowerCase() : o[field].toString();
              if (filterValue.match(palavraChave.toLowerCase())) {
                filter = true;
              }
            }
          });
          count += 1;

          return filter;
        });
        itens = lo.orderBy(itens, [orderBy], [orderType]);
        itens = lo.slice(itens, offset, slice);
        this.model[this.modelId].pagination.total = count;
        this.itens = itens;
        return true;
      },
      changeActive(id, value) {
        const payload = {
          ativo: value,
          id,
          ref: this.modelId,
        };
        this.$store.dispatch('changeActive', payload);
      },
      changeStar(id, value) {
        const payload = {
          destaque: value,
          id,
          ref: this.modelId,
        };
        this.$store.dispatch('changeStar', payload);
      },
      changeDisponibility(id, value) {
        const payload = {
          disponivel: value,
          id,
          ref: this.modelId,
        };
        this.$store.dispatch('changeDisponibility', payload);
      },

      onPagination(pag) {
        this.model[this.modelId].pagination.page = pag.page;
        this.model[this.modelId].pagination.size = pag.size;
        this.searchPaginateAndOrder();
      },
      onSort(order) {
        this.model[this.modelId].pagination.orderBy = order.name;
        this.model[this.modelId].pagination.orderType = order.type;
        this.searchPaginateAndOrder();
      },
      deletar(key) {
        const payload = {
          key,
          ref: this.modelId,
        };
        this.$store.dispatch('deletar', payload);
      },
      imprimir() {
        window.print();
      },
      openDialogDetalhes(ref, row) {
        this.model[this.modelId].dialog.phone_number = row.usuarioPhone;
        this.model[this.modelId].dialog.name = row.usuarioName;
        this.model[this.modelId].dialog.address = row.endereco;
        this.model[this.modelId].dialog.total = row.total;
        this.model[this.modelId].dialog.subtotal = row.subtotal;
        this.model[this.modelId].dialog.desconto = row.desconto;
        this.model[this.modelId].dialog.frete = row.frete;
        this.model[this.modelId].dialog.itens = row.itens;
        this.model[this.modelId].dialog.observacao = row.observacao;
        this.model[this.modelId].dialog.troco = row.troco;
        this.$refs[ref].open();
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
      salvarCancelamento() {
        const payload = {
          status: 'Cancelado',
          id: this.motivoKey,
          ref: this.modelId,
          motivoCancelamento: this.motivoCancelamento,
          primaryKey: this.model[this.modelId].primaryKey,
        };
        this.$store.dispatch('updateStatus', payload);
        this.closeDialog('motivoDialog');
      },
      salvarEntrega() {
        const payload = {
          status: 'Entregue',
          id: this.motivoKey,
          ref: this.modelId,
          sacolas: this.sacolas,
          pagamento: this.sacolas.pagamento,
          primaryKey: this.model[this.modelId].primaryKey,
        };
        this.$store.dispatch('updateStatus', payload);
        this.closeDialog('bagDialog');
      },
      changeStatus(value, key, itemIndex) {
        if (value === 'Cancelado') {
          this.motivoKey = key;
          this.openDialog('motivoDialog');
          return false;
        } else if (value === 'Entregue') {
          this.sacolas.usuarioID = this.itens[itemIndex].usuarioID;
          this.sacolas.pagamento = this.itens[itemIndex].pagamento;
          this.motivoKey = key;
          this.openDialog('bagDialog');
          return false;
        }
        const payload = {
          status: value,
          id: key,
          ref: this.modelId,
          primaryKey: this.model[this.modelId].primaryKey,
        };
        this.$store.dispatch('updateStatus', payload);
        return true;
      },

      formatDate(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      getImageUrl(imgPath) {
        firebase.storage().ref().child(`banners/${imgPath}`).getDownloadURL()
        .then((url) => {
          this.firebaseUrlStorage = url;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
      },
    },
  };
</script>

<style lang="scss" scoped>
  @media print {
    body *, .md-dialog-actions, .md-dialog-title {
      visibility: hidden;
    }
    .detailDialog, .detailDialog * {
      visibility: visible;
      
    }
    .detailDialog{ 
      .md-dialog{
        box-shadow: none;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .detailDialog{
    .md-dialog{
      min-width: 1024px;
    }
  }
  #pedidos{
    .tabela-pedidos, .detail{
      width: 100%;
    }
  }
  .dashboard-card{ 
    overflow: hidden;
    .md-card-media{
      i {
        opacity: .1;
        position: absolute;
        font-size: 110px;
        right: 0px;
        bottom: -31px;
      }
    }
  }

  .grid > .md-layout {
    > .md-layout:not(.md-column) {
      min-height: 40px;
      margin-bottom: 16px;
    }
  }

  div[data-highcharts-chart] {
    width: 100%;
  }

  .highcharts-credits{
    display: none;
  }
  .tabela-cadastro {
    width: 100%;
    .md-theme-secondary.md-input-container .md-icon:not(.md-icon-delete):after{
      background: transparent;
    }
  }
  .star{
    cursor: pointer;
  }
  .totalCheck{
    margin-top: 10px;
    span:first-child{
      margin-right: 10px;
    }
  }

</style>
