<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Seo Salada</title>
    <meta name="description" content="A qualidade do seu produtor local, entregue na sua casa">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/static/favicon/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/favicon/icon-512x512.png">
    <meta property="og:image" content="/static/favicon/apple-icon-144x144.png"/>
    <link rel="manifest" href="/static/favicon/manifest.json"/>
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png"/>
    <meta name="msapplication-TileColor" content="#8BC34A"/>
    <meta name="msapplication-navbutton-color" content="#8BC34A"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#8BC34A"/>
    <meta name="background_color" content="#FFFFFF"/>
    <meta name="theme-color" content="#8BC34A"/>
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="apple-mobile-web-app-title" content="SeoSalada">
  </head>
  <body>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.seosalada.com.br/",
      "logo": "https://www.seosalada.com.br/static/img/logo_white.3f7520f.png",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.seosalada.com.br/Busca/{search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "contactPoint": [
        { 
          "@type": "ContactPoint",
          "telephone": "+55 11 94396-4621",
          "contactType": "customer service"
        }
      ],
      "sameAs": [
        "http://www.facebook.com/SeoSalada/",
        "http://instagram.com/seosalada/"
      ]
    }
  </script>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:400,500,700,1000">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
</html>
