<template>
  <div id="label">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Novo Label">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout md-gutter="16">
              <md-layout md-with-hover md-flex="100">
                <md-layout  md-flex="100">
                  <form class="form-default" novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                      <label>Nome</label>
                      <md-input v-model="label.nome" required></md-input>
                    </md-input-container>                      

                    <p>Ícone</p>
                    <img id="imagem" width="30px" v-bind:src="firebaseUrlStorage"/>
                    <image-uploader
                      ref="fileUpload"
                      :debug="1"
                      :maxHeight="30"
                      :maxWidth="30"
                      :quality="1"
                      :autoRotate="true"
                      :preview="true"
                      :className="['fileinput', { 'fileinput--loaded' : hasImage }]"
                      @input="getFiles"
                    ></image-uploader>

                    <md-button @click.native="onSubmit" class="md-raised md-accent saveButton">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                  </form>
                </md-layout>
              </md-layout>
            </md-layout>
          </div>
        </md-theme>
        <md-dialog-alert
          :md-content="message.content"
          md-ok-text="Ok"
          ref="dialogMessage">
        </md-dialog-alert>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import VueCkeditor from 'vueckeditor';
  import { ImageUploader } from 'vue-image-upload-resize';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  const msgError = 'Um erro ocorreu, informe este erro ao seu desenvolvedor:';
  const msgSucesso = 'Salvo com sucesso.';

  export default{
    data: () => ({
      loading: false,
      local: '',
      selectedData: [],
      sort: {},
      page: {},
      label: {},
      message: {
        content: ' ',
      },
      img: '',
      scale: 50,
      quality: 82,
      originalSize: true,
      original: {},
      hasImage: false,
      firebaseUrlStorage: '',
    }),
    components: {
      ImageUploader,
      VueCkeditor,
    },
    /* eslint-disable prefer-template */
    mounted() {
      if (this.$route.params.idlabel !== undefined) {
        const payload = this.$route.params.idlabel;
        this.$store.dispatch('getImagem', payload);
        this.getImageUrl(this.label.imageUrl);
      }
    },
    firebase() {
      const fireQuery = {
        label: {
          source: db.ref(`labels/${this.$route.params.idlabel}`),
          asObject: true,
        },
      };
      if (!this.$route.params.idlabel) {
        delete fireQuery.label;
      }
      return fireQuery;
    },
    methods: {
      getImageUrl(imgPath) {
        firebase.storage().ref().child(`labels/${imgPath}`).getDownloadURL()
        .then((url) => {
          this.firebaseUrlStorage = url;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
      },
      getFiles(obj) {
        this.original = this.$refs.fileUpload.$el.children[1].files[0];
        this.compressed = obj;
      },
      onSubmit() {
        this.$parent.$refs.loading.showLoading();

        const payload = {
          nome: this.label.nome,
        };
        if (this.$route.params.idlabel !== undefined) {
          payload.id = this.$route.params.idlabel;
        }

        if (!this.validaLabel()) {
          return false;
        }
        if (this.original.name) {
          payload.image = this.compressed;
          payload.imageUrl = this.original.name;
          this.$store.dispatch('uploadImagemLabel', payload).then(() => {
            delete payload.image;
            this.$store.dispatch('saveLabel', payload).then(() => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = msgSucesso;
              this.openDialog('dialogMessage');
            }).catch((error) => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = `${msgError} ${error}`;
              this.openDialog('dialogMessage');
            });
          }).catch((error) => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = `Upload Error: ${msgError} ${error}`;
            this.openDialog('dialogMessage');
          });
        } else {
          payload.imageUrl = this.label.imageUrl || '';
          this.$store.dispatch('saveLabel', payload).then(() => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = msgSucesso;
            this.openDialog('dialogMessage');
          }).catch((error) => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = `${msgError} ${error}`;
            this.openDialog('dialogMessage');
          });
        }
        return true;
      },
      validaLabel() {
        let validate = true;
        if (!this.label.nome) {
          this.message.content = 'Preencha o nome da label.';
          validate = false;
        }

        if (!validate) {
          this.$parent.$refs.loading.hideLoading();
          this.openDialog('dialogMessage');
        }
        return validate;
      },
      onSelect(data) {
        this.selectedData = data;
        this.$forceUpdate();
      },
      onSort(sort) {
        this.sort = sort;
      },
      onPagination(page) {
        this.page = page;
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
    },
  };
</script>

<style lang="scss">

</style>

