<template>
  <md-layout id="address" class="grid" md-align="center" md-flex="100">
    <md-layout v-if="fullAddress" class="login-wrap" md-flex="75">
      <md-layout md-flex="100"><h2>Seu endereço atual é:</h2> </md-layout>

      <md-layout  class="addressCard" md-tag="md-whiteframe" md-flex-xsmall="100" md-flex-small="75" md-flex="40" md-elevation="10">
        <md-list>
          <md-list-item>
            <md-icon>home</md-icon> <span>{{fullAddress.address}}, {{fullAddress.number}}</span>
          </md-list-item>

          <md-list-item>
            <md-icon>location_city</md-icon> <span>{{fullAddress.neighborhood}} - {{fullAddress.city}}</span>
          </md-list-item>

          <md-list-item>
            <md-icon>local_post_office</md-icon> <span>{{fullAddress.cep}}</span>
          </md-list-item>

          <md-list-item>
            <md-icon>info</md-icon> <span>{{fullAddress.complement}}</span>
          </md-list-item>
        </md-list>
      </md-layout>
      <md-layout md-flex="100">
        <md-button class="thisAddress md-raised md-accent" @click="setNewAddress">
          Novo endereço
        </md-button>
        <md-button class="thisAddress md-raised md-warn" @click="setAddress">
          Utilizar este endereço
        </md-button>
      </md-layout>
    </md-layout>
  </md-layout>
</template>

<script>

  export default {
    name: 'address',
    props: {
      stepper: Object,
    },
    data() {
      return {
        search: '',
        address: () => {
          if (this.$store.state.user.address.length > 0) {
            return this.$store.state.user.address.address;
          }
          return '';
        },
        newAddress: this.$store.state.newAddress,
      };
    },
    computed: {
      fullAddress() {
        return this.$store.state.user.address;
      },
    },
    mounted() {
      if (!this.fullAddress) {
        this.setNewAddress();
      }
    },
    methods: {
      setAddress() {
        const address = this.$store.state.user.address;
        this.$store.commit('SET_ADDRESS', address);
        if (this.stepper) {
          this.stepper.stpResumo.moveNextStep();
        }
      },
      setNewAddress() {
        this.$store.dispatch('newAddress', true);
      },
    },
  };
</script>

<style lang="scss" scoped>
#address{
  ul.md-list {
    width: 100%;
  }
}
.login-wrap{
  background-size: 100px;
  form{
    width: 100%;
  }
  .titleLogin{
    text-align: center;
    font-weight: 1000;
    width: 100%;
  }
  .login-btn,
  .signup-btn {
    width: 100%;
  }
  .thisAddress{
    margin-top: 10px;
    margin-left: 0px;
  }
  .addressCard{
    border-top: solid 5px #4caf50;
  }
}

@media (max-width: 480px){
  .login-wrap{
    box-shadow: none;
  }
}

</style>
