<template>
  <md-layout md-flex="100">
    <md-layout md-flex-xsmall="100" md-flex-small="50" :md-flex="options.size" v-for="(card, index) in options.cards" :key="index">
      <md-theme :md-name="card.theme" v-bind:class="{active: card.active, disabledCard: card.disabled}">
        <md-layout md-tag="md-card" :class="card.color" :md-elevation="0" class="select-card" :ref="card" @click.native="selectCard(index)" md-with-hover>
          <md-layout md-tag="md-card-header" md-flex="100">
            <md-card-header-text>
              <div class="md-title">{{card.title}}</div>
              <div class="md-subhead">{{card.subtitle}}</div>
            </md-card-header-text>
          </md-layout>

          <md-layout md-tag="md-card-media" md-flex="100">
            <icon v-if="card.iconType=='fa'" :name="card.icon" scale="7"></icon>
            <md-icon v-if="card.iconType=='md'">{{card.icon}}</md-icon>
          </md-layout>
        </md-layout>
        
      </md-theme>
      <transition name="slide-fade">
        <md-layout md-flex="100" v-if="card.disabled" class="md-body-2 disabledText">*Esta é a hora que estamos colhendo seus produtos.</md-layout>
      </transition>
      <transition name="slide-fade">
        <md-input-container class="changeField" v-if="options.commit=='payment' && card.ref=='dinheiro' && card.active">
          <label>Troco para</label>
          <md-input type="number" v-model="troco"></md-input>
        </md-input-container>
      </transition>
    </md-layout>
  </md-layout>
</template>

<script>
import moment from 'moment';

export default {
  name: 'card-selector',
  props: {
    options: Object,
    stepper: Object,
  },
  mounted() {
    this.disableMondayMorning(this.$store.state.shipmentDate);
  },
  computed: {
    troco: {
      get() {
        return this.$session.get('troco');
      },
      set(value) {
        this.$session.set('troco', value);
      },
    },
  },
  watch: {
    // eslint-disable-next-line
    '$store.state.shipmentDate': function (date) {
      this.disableMondayMorning(date);
    },
  },
  methods: {
    disableMondayMorning(date) {
      const diaSemana = moment(date, 'YYYY MM DD').isoWeekday();
      if (((diaSemana === 1 || diaSemana === 5) && this.options.commit === 'period')) {
        // Desabilitando Segunda e Sexta de manhã
        this.options.cards[0].disabled = true;
      } else {
        this.options.cards[0].disabled = false;
      }
    },
    selectCard(ref) {
      if (this.options.cards[ref].disabled) {
        return false;
      }
      Object.keys(this.options.cards).map((objectKey) => {
        this.options.cards[objectKey].active = false;
        return true;
      });

      const payload = {
        commit: this.options.commit,
        data: this.options.cards[ref].ref,
      };

      this.$store.commit('SELECT_PERIOD', payload);
      if (this.options.cards[ref].active) {
        this.options.cards[ref].active = false;
      } else {
        this.options.cards[ref].active = true;
      }
      if (this.stepper) {
        setTimeout(() => {
          this.stepper.stpResumo.moveNextStep();
        }, 400);
      }
      return true;
    },
  },
};
</script>

<style lang="scss">
  .select-card{
    height: 100px;
    overflow: hidden;
    margin: 15px;
    transition: all 0.4s;
    box-shadow: none;
    cursor: pointer;
    &.active{
      border-bottom: solid 8px #4caf50;
      -ms-transform: scale(1.1, 1.1); /* IE 9 */
      -webkit-transform: scale(1.1, 1.1); /* Safari */
      transform: scale(1.1, 1.1);
      box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
    }
    &.disabledCard{
      opacity: 0.4;
      background: gray!important;
    }
    .md-card-media{
      .md-icon, svg {
        opacity: .1;
        position: absolute;
        font-size: 110px;
        right: 0px;
        bottom: -31px;
        width: auto;
        height: auto;
      }
    }
  }
  .disabledText{
    margin: 0px 15px;
  }
  .changeField{
    padding: 15px;
    width: 100%;
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  
</style>
