<template>
  <div>
    <md-sidenav class="md-right cart-nav" ref="rightSidenav">
      <md-toolbar>
        <div class="md-toolbar-container">
          <h3 class="md-title" style="flex: 1">
            Sua cesta
          </h3>
          <md-button class="md-icon-button" @click="closeRightSidenav">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <div class="cart-holder">
        <md-layout class="cart-content" md-align="center" v-if="!qtdItens"> 
          <p class="noItens">Você não tem itens em sua cesta</p>
          <md-image md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2Fcart_no_itens.png?alt=media&token=600044b1-95bd-4f63-9d8b-66652f7fc87f"></md-image>
        </md-layout>
        <md-layout class="cart-content" md-gutter="16">
          <thumb-produto-cart v-for="(produtoCart, index) in productsCart" :produto="produtoCart" :key="index"></thumb-produto-cart>
        </md-layout>
      </div>
      <md-bottom-bar md-shift md-theme="default" class="md-accent bottom-cart">
        <md-layout md-flex="50" md-flex-xsmall="60" v-if="productsCart.length > 0">
          <md-layout md-flex="30">
            <span class="md-subheading">Subtotal</span>
            <span class="md-subheading">R$ {{numberFormat(this.subTotal)}}</span>
          </md-layout>
          <md-layout md-flex="5">
            <span class="md-display-1">+</span>
          </md-layout>
          <md-layout md-flex="30">
            <span class="md-subheading">Frete</span>
            <span class="md-subheading">R$ {{numberFormat(this.$store.state.frete)}}</span>
          </md-layout>
          <md-layout md-flex="5">
            <span class="md-display-1">=</span>
          </md-layout>
          <md-layout md-flex="30">
            <span class="md-subheading">Total</span>
            <span class="md-subheading">R$ {{numberFormat(this.$store.state.frete + this.subTotal)}}</span>
          </md-layout>
        </md-layout>
        <md-layout md-flex="50" md-flex-xsmall="40" class="checkout-button">
          <md-button md-theme="default" class="md-raised md-warn" @click="Finalizacao()" v-if="productsCart.length > 0">
            Finalizar
          </md-button>
        </md-layout>
      </md-bottom-bar>
    </md-sidenav>
  </div>
</template>

<script>
import lodash from 'lodash';
import ThumbProdutoCart from '../Shared/ThumbProdutoCart';

export default {
  name: 'cart',
  data() {
    return {
      index: null,
      produtoCart: {},
    };
  },
  components: {
    'thumb-produto-cart': ThumbProdutoCart,
  },
  computed: {
    subTotal: function subtotal() {
      const sub = lodash.map(this.productsCart, 'total');
      const subTotal = lodash.ceil(lodash.sum(sub), 2);
      return subTotal;
    },
    qtdItens() {
      const qtdItens = this.$store.state.cart.length;
      return qtdItens;
    },
    productsCart() {
      return this.$store.state.cart;
    },
  },
  methods: {
    numberFormat(valor) {
      let result;
      result = parseFloat(Math.round(valor * 100) / 100).toFixed(2);
      result = result.toString().replace('.', ',');
      return result;
    },
    Finalizacao() {
      this.$router.push({
        name: 'Finalizacao',
      });
    },
    closeRightSidenav() {
      this.$refs.rightSidenav.close();
    },
    goHome() {
      this.$router.push({
        name: 'Home',
      });
    },
  },
};
</script>

<style lang="scss">
  .noItens{
    font-weight: 1000;
    font-size: 40px;
    color: #4caf50;
    text-align: center;
    line-height: 40px;
  }
  .cart-nav{
    .md-sidenav-content{
      overflow: hidden;
      position: fixed;
      background: #e9eee9!important;
      .cart-holder{
        height: 100%;
        overflow: auto;
        padding-bottom: 85px;
        .cart-content{
          padding: 10px;
        }
      }
      .md-toolbar .md-title:first-child{
        color: rgba(255, 255, 255, .87);
      }
      .md-bottom-bar{
        span{
          color: rgba(255, 255, 255, .87);
        }
      }
      .bottom-cart{
        justify-content: flex-start;
        position: absolute;
        bottom: 0;
        z-index: 1;

        .checkout-button{
          button{
            width: 100%;
          }
        }

        span{
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 0px) {
      .md-sidenav-content{
        width: 90%
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
      .md-sidenav-content{
        width: 80%
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .md-sidenav-content{
        width: 80%
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .md-sidenav-content{
        width: 50%
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .md-sidenav-content{
        width: 50%
      }
    }
  } 

    
</style>
