<template>
  <md-layout id="confirmAddress" class="grid" md-align="center" md-flex="100">   
    <md-layout v-show="false" md-flex-xsmall="100" md-flex-small="100" md-flex="100" md-align="center">
      <gmap-map
        :center="map.center"
        :zoom="15"
        map-type-id="roadmap"
        style="width: 100%; height: 500px"
        ref="map">
        <Gmap-Marker
          v-if="map.place"
          :draggable="true"
          ref="marker"
          @dragend="getPlace"
          :position="{
            lat: map.place.geometry.location.lat(),
            lng: map.place.geometry.location.lng(),
          }"
          >
          <gmap-info-window opened="true" content="Arraste-me para seu endereço e complete no formulário abaixo"></gmap-info-window>
        </Gmap-Marker>
      </gmap-map>
    </md-layout>
    <md-layout md-flex-xsmall="100" :md-flex-small="mdFlexSmall" :md-flex="mdFlex" class="login-wrap" md-align="center">
      <form v-on:change='refresh'>
        <md-layout class="grid" md-gutter="16">
          <md-layout md-flex="100">
            <md-input-container :class="{'md-input-focused': searchAddress}">
              <md-icon>
                search
                <md-tooltip>Procure aqui seu endereço e complemente abaixo.</md-tooltip>
              </md-icon>
              <label>Procure seu endereço</label>
              <gmap-autocomplete md-tag="md-input" ref="address" @focus.native="focusAddress(true)" @blur.native="focusAddress(false)" placeholder="" class="md-input"  @place_changed="setPlace"></gmap-autocomplete>
            </md-input-container>
          </md-layout>
          <md-layout md-flex="100">
            <md-input-container :class="{'md-input-invalid': validate.cep.error }">
              <label>CEP</label>
              <md-input v-model="register.cep" type="text" required></md-input>
              <span class="md-error">Preencha o cep da residência</span>
            </md-input-container>
          </md-layout>
          <md-layout md-flex="100">
            <md-input-container :class="{'md-input-invalid': validate.address.error }">
              <label>Endereço</label>
              <md-input v-model="register.address" type="text" required></md-input>
              <span class="md-error">Preencha o endereço da residência</span>
            </md-input-container>
          </md-layout>
          <md-layout md-flex="50">
            <md-input-container>
              <label>Número</label>
              <md-input v-model="register.number" type="text"></md-input>
            </md-input-container>
          </md-layout>
          <md-layout md-flex="50">
            <md-input-container :class="{ 'md-input-invalid': validate.neighborhood.error }">
              <label>Bairro</label>
              <md-input v-model="register.neighborhood" type="text" required></md-input>
              <span class="md-error">Preencha o bairro</span>
            </md-input-container>
          </md-layout>
          <md-layout md-flex="50">
            <md-input-container :class="{'md-input-invalid': validate.state.error }">
              <label>Estado</label>
              <md-select v-on:change='refresh' v-model="register.state">
                <md-option value="SP">SP</md-option>
              </md-select>
              <span class="md-error">Selecione seu estado</span>
            </md-input-container>
          </md-layout>
          <md-layout md-flex="50">
            <md-input-container :class="{'md-input-invalid': validate.city.error }">
              <label>Cidade</label>
              <md-select v-on:change='refresh' v-model="register.city">
                <md-option value="Jundiaí">Jundiaí</md-option>
              </md-select>
              <span class="md-error">Selecione sua cidade</span>
            </md-input-container>
          </md-layout>
          <md-layout md-flex="100">
            <md-input-container>
              <label>Complemento</label>
              <md-input v-model="register.complement"></md-input>
            </md-input-container>
          </md-layout>
          <md-layout md-flex="100">
            <md-input-container>
              <label>Referência</label>
              <md-input v-model="register.reference" type="text"></md-input>
            </md-input-container>
          </md-layout>
        </md-layout>
        <md-layout v-if="onlyAddress">
          <md-button type="submit" :disabled="!this.validForm" class="md-raised md-accent signup-submit" @click.stop.prevent="submitAddress">Continuar</md-button>
        </md-layout>
      </form>
      <md-dialog-alert
        :md-content="alert.content"
        :md-ok-text="alert.ok"
        ref="alert">
      </md-dialog-alert>
    </md-layout>
  </md-layout>
</template>

<script>

  export default {
    name: 'confirmAddress',
    props: {
      onlyAddress: Boolean,
      size: Number,
    },
    data: () => ({
      address: '',
      dragging: true,
      searchAddress: false,
      register: {
        cep: '',
        address: '',
        number: '',
        neighborhood: '',
        complement: '',
        city: '',
        state: '',
        reference: '',
        lat: 0,
        lng: 0,
      },
      validate: {
        cep: { error: false },
        address: { error: false },
        neighborhood: { error: false },
        state: { error: false },
        city: { error: false },
      },
      validForm: false,
      map: {
        zoom: 12,
        center: { lat: -23.189683054443016, lng: -46.896741276414494 },
        markers: [],
        place: null,
      },
      alert: {
        content: 'Infelizmente o Seo Salada só atende na região de Jundiaí. :(',
        ok: 'Ok',
      },
    }),
    computed: {
      mdFlex() {
        return this.size ? this.size : 33;
      },
      mdFlexSmall() {
        return this.size ? this.size : 75;
      },
    },
    methods: {
      validateForm(parent) {
        this.validForm = true;
        Object.keys(this.validate).forEach((element) => {
          if (this.register[element] === '') {
            this.validForm = false;
          }
          this.validate[element].error = this.register[element] === '';
        });

        if (!parent && !this.onlyAddress) {
          this.$parent.$parent.validateForm();
        }
        return this.validForm;
      },
      refresh() {
        if (this.validateForm()) {
          this.$store.commit('UPDATE_ADDRESS', this.register);
        }
      },
      drag(dragging) {
        this.dragging = dragging;
      },
      getPlace() {
        const position = this.$refs.marker.$markerObject.position;
        // eslint-disable-next-line
        const geocoder = new google.maps.Geocoder();
        geocoder.geocode({ latLng: position }, (results) => {
          this.setPlace(results[0]);
        });
      },
      setPlace(place) {
        let outside = false;
        place.address_components.forEach((element) => {
          if (element.types[0] === 'route') {
            this.register.address = element.long_name;
          } else if (element.types[0] === 'street_number') {
            this.register.number = element.long_name;
          } else if (element.types[0] === 'sublocality_level_1') {
            this.register.neighborhood = element.long_name;
          } else if (element.types[0] === 'administrative_area_level_1') {
            this.register.state = element.short_name;
          } else if (element.types[0] === 'administrative_area_level_2') {
            if (element.long_name !== 'Jundiaí') {
              this.openDialog('alert');
              outside = true;
            }
            this.register.city = element.long_name;
          } else if (element.types[0] === 'postal_code') {
            this.register.cep = element.long_name;
          }
        }, this);
        if (outside) {
          this.register.address = '';
          this.register.number = '';
          this.register.neighborhood = '';
          this.register.state = '';
          this.register.city = '';
          this.register.cep = '';
          return false;
        }
        this.map.zoom = 15;
        this.map.center.lat = place.geometry.location.lat();
        this.map.center.lng = place.geometry.location.lng();
        this.register.lat = place.geometry.location.lat();
        this.register.lng = place.geometry.location.lng();
        this.map.place = place;
        this.refresh();
        if (!this.onlyAddress) {
          this.$parent.$parent.validateForm();
        }
        return true;
      },
      focusAddress(focused) {
        if (this.$refs.address.$el.value !== '' && focused === false) {
          return false;
        }
        this.searchAddress = focused;
        return true;
      },
      submitAddress() {
        this.$store.dispatch('saveAddress', this.register);
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
    },
  };
</script>

<style lang="scss" scoped>

</style>
