<template>
  <md-layout md-tag="footer" class="grid" md-gutter="16">
    <md-bottom-bar md-shift class="md-accent footer-bar">
      <md-layout class="highlights" md-theme="default" md-align="center">
        <md-layout md-align="center" md-flex="10" md-flex-small="100" md-flex-medium="30" class="footer-logo">
          <md-image md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2Flogo_mono_pq.png?alt=media&token=7cb49b30-f79b-4494-bfd1-99965b5d5bf2"></md-image>
        </md-layout>
        <md-layout md-align="center" md-flex="100" class="social-media">
          <a href="https://www.facebook.com/SeoSalada/" target="_blank" rel="noopener">
            <md-button class="md-icon-button">           
              <icon name="facebook-official" scale="3"></icon>
            </md-button>
          </a>
          <md-button v-show="false" class="md-icon-button">
            <icon name="twitter" scale="3"></icon>
          </md-button>
          <a href="https://www.instagram.com/seosalada/" target="_blank" rel="noopener">
            <md-button class="md-icon-button">       
              <icon name="instagram" scale="3"></icon>
            </md-button>
          </a>
          <md-button v-show="false" class="md-icon-button">
            <icon name="linkedin" scale="3"></icon>
          </md-button>
          <md-button v-show="false" class="md-icon-button">
            <icon name="youtube-play" scale="3"></icon>
          </md-button>
        </md-layout>
        
        <md-layout md-flex="50" md-align="center">
          <md-layout md-align="center">
              <md-button @click.native="goToAboutUs">Sobre o Seo Salada</md-button>
          </md-layout>
          <md-layout v-show="false" md-align="center">
              <md-button>Sustentabilidade</md-button>
          </md-layout>
          <md-layout md-align="center">
              <md-button  @click.native="goToFaleConosco">Fale conosco</md-button>
          </md-layout>
          <md-layout v-show="false" md-align="center">
              <md-button>Notícias</md-button>
          </md-layout>
        </md-layout>
      </md-layout>
    </md-bottom-bar>
    <md-layout md-tag="md-bottom-bar" md-gutter="16" class="md-primary footer-info md-shift" md-align="start">
      <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex="50" md-align="start" class="footerEnd">
        <span>© 2018 Seo Salada, Todos direitos reservados.</span>
      </md-layout>
      <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex="50" md-align="end" class="footerEnd">
        <span>CNPJ: 27.831.588/0001-81</span>
      </md-layout>
      <md-theme md-name="brown">
        <transition name="fade">
          <md-button v-if="scrolled" class="scrollTop md-fab md-fab-bottom-right md-primary" href="#scrollTop" v-smooth-scroll>
            <md-icon>keyboard_arrow_up</md-icon>
            <md-tooltip md-direction="top">Ir para o topo</md-tooltip>
          </md-button>
        </transition>
      </md-theme>
    </md-layout>
  </md-layout>
</template>

<script>
  export default {
    name: 'footer',
    data() {
      return {
        scrolled: false,
      };
    },
    methods: {
      goToAboutUs() {
        this.$router.push({
          name: 'AboutUs',
        });
      },
      goToFaleConosco() {
        this.$router.push({
          name: 'FaleConosco',
        });
      },
      handleScroll() {
        this.scrolled = window.scrollY > 200;
      },
    },
    created() {
      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed() {
      window.removeEventListener('scroll', this.handleScroll);
    },
  };
</script>

<style lang="scss">
  footer{
    padding-left: 8px;
    padding-right: 8px;
    .footer-bar{
      height: auto;
      border-top: solid 3px #4caf50;
      .footer-logo{
        height: 130px;
        img{
          object-fit: contain;
          width: 135px;
          height: 104px;
          margin-top: 15px;
        }
      }
      .social-media{
        margin-bottom: 30px;
        button{
          color: #013603;
        }
      }
    }

    .footer-info {
      height: 40px;
      box-shadow: none;
      margin-bottom: 0px !important;
      .footerEnd{
        background: #4caf50;
        @media (max-width: 480px){
          justify-content: flex-start;
        }
      }
      span{
        line-height: 40px;
        color: white;
      }
    }
  }
  .md-fab.md-fab-bottom-right.md-primary.scrollTop{
    position: fixed;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    &:hover{
      opacity: 1;
    }
  }
  .md-fab.md-fab-bottom-right.md-primary.scrollTop.fade-enter-active, .md-fab.md-fab-bottom-right.md-primary.scrollTop.fade-leave-active {
    transition: opacity .5s;
  }
  .md-fab.md-fab-bottom-right.md-primary.scrollTop.fade-enter, .md-fab.md-fab-bottom-right.md-primary.scrollTop.fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    opacity: 0;
  }
</style>

