<template>
  <div id="header">
    <md-sidenav class="main-sidebar md-left md-fixed md-accent" md-swipeable ref="main-sidebar">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-container">
          <md-button v-if="$store.state.logged == false" @click="goToLogin">
            Entrar
            <md-icon>exit_to_app</md-icon>
          </md-button>
          <md-menu md-size="4" v-if="$store.state.logged">
            <md-button md-menu-trigger>
              <md-icon>person</md-icon>
              <span>{{userName}}</span>
            </md-button>
            <md-menu-content>

              <md-menu-item @click.native="goToMinhaConta">
                <md-icon>account_box</md-icon>
                <span>Minha Conta</span>
              </md-menu-item>

              <md-menu-item @click.native="goToPedidos">
                <md-icon>content_paste</md-icon>
                <span>Meus Pedidos</span>
              </md-menu-item>

              <md-menu-item @click="goToLogout">
                <md-icon>exit_to_app</md-icon>
                <span>Sair</span>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
      <div class="main-sidebar-links">
        <md-list>
          <md-list-item>
              <md-icon>restaurant</md-icon>
              <span>Hortifruti</span>
              <md-list-expand>
                <md-list>
                    <md-list-item class="md-inset" v-for="(categoria, index) in categorias" :key="index" v-if="categoria.nome && hortifruti[categoria.nome.toLowerCase()]">
                      <router-link @click.native="toggleSidenav" :to="{ name: 'Busca', params: { palavrachave: 'all', tipo: categoria.nome }}">
                        <span>{{categoria.nome}}</span>
                      </router-link>
                    </md-list-item>
                </md-list>
              </md-list-expand>
          </md-list-item>
          <md-list-item>
            <md-icon>store</md-icon>
            <span>Empório</span>
            <md-list-expand>
              <md-list>
                  <md-list-item class="md-inset" v-for="(categoria, index) in categorias" :key="index" v-if="categoria.nome && !hortifruti[categoria.nome.toLowerCase()]">
                    <router-link @click.native="toggleSidenav" :to="{ name: 'Busca', params: { palavrachave: 'all', tipo: categoria.nome }}">
                      <span>{{categoria.nome}}</span>
                    </router-link>
                  </md-list-item>
              </md-list>
            </md-list-expand>
          </md-list-item>
          
          <md-list-item>
            <router-link @click.native="toggleSidenav" exact to="/SobreNos">
              <md-icon>face</md-icon>
              <span>Sobre o Seo Salada</span>
            </router-link>
          </md-list-item>
          <md-list-item>
            <router-link @click.native="toggleSidenav" exact to="/FaleConosco">
              <md-icon>chat</md-icon>
              <span>Fale Conosco</span>
            </router-link>
          </md-list-item>
          <md-list-item>
            <router-link @click.native="toggleSidenav" exact to="/SeoDesconto">
              <md-icon>fiber_new</md-icon>
              <span>Seo Desconto</span>
            </router-link>
          </md-list-item>
        </md-list>
      </div>
    </md-sidenav>

    <cart></cart>
    <md-layout md-gutter="16" class="grid gridHeader" id="scrollTop">
      <md-layout class="menuMobile">
        <md-layout>
          <md-button class="md-icon-button nav-trigger md-accent md-raised" @click.native="toggleSidenav">
            <span>Menu</span>
            <md-icon>menu</md-icon>
          </md-button>
        </md-layout>
        <md-layout md-align="center">
          <router-link :to="{ name: 'Home'}">
            <md-image md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FlogoMobile.png?alt=media&token=574e66df-d264-449a-8301-6349583c0bc6"></md-image>
          </router-link>
        </md-layout>
        <md-layout md-align="end">
          <md-button class="md-icon-button md-accent btn-cart md-raised" @click="toggleRightSidenav">
            <md-icon>shopping_basket</md-icon>
          </md-button>
        </md-layout>
      </md-layout>
      <md-layout md-flex-xsmall="100" md-flex="33">
        <form class="form-default" novalidate @submit.stop.prevent="searchProduct()">
          <md-input-container>
            <label>O que você procura?</label>
            <md-input v-model="search"></md-input>
            <md-button type="submit" class="md-icon-button">
              <md-icon>search</md-icon>
            </md-button>
          </md-input-container>
        </form>
      </md-layout>
      <md-layout md-flex-xsmall="100" md-flex="33" class="logo-box noPadding">
        <router-link :to="{ name: 'Home'}">
          <img class="logo-top" src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2Flogo_white_pq.png?alt=media&token=6f73520b-423b-4df9-bd48-5c22b6d2336f" alt="Seo Salada">
        </router-link>
      </md-layout>
      <md-layout md-flex-xsmall="100" md-flex="33" class="header-right noPadding">
        <md-button class="btnEntrar" v-if="$store.state.logged == false" @click="goToLogin">
          Entrar
          <md-icon>exit_to_app</md-icon>
        </md-button>
        <md-menu class="menuUser" md-size="4" v-if="$store.state.logged">
          <md-button md-menu-trigger>
            <md-icon>person</md-icon>
            <span>{{userName}}</span>
          </md-button>
          <md-menu-content>

            <md-menu-item @click.native="goToMinhaConta">
              <md-icon>account_box</md-icon>
              <span>Minha Conta</span>
            </md-menu-item>

            <md-menu-item @click.native="goToPedidos">
              <md-icon>content_paste</md-icon>
              <span>Meus Pedidos</span>
            </md-menu-item>

            <md-menu-item @click="goToLogout">
              <md-icon>exit_to_app</md-icon>
              <span>Sair</span>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-button class="md-raised md-accent btn-cart" @click="toggleRightSidenav">
          <span>{{itensCarrinho}}</span>
          <md-icon>shopping_basket</md-icon>
        </md-button>
      </md-layout>
      <md-layout md-flex="100" md-tag="md-toolbar" class="toolbar-header">
        <md-layout md-flex="20" md-flex-xsmall="100">
          <md-menu ref="menuCategorias" :md-close-on-select="true" :md-offset-y="6">
            <md-button class="buttonMenu" md-menu-trigger>HortiFruti</md-button>
            <md-menu-content>
              <md-menu-item v-for="(categoria, index) in categorias" :key="index" v-if="categoria.nome && hortifruti[categoria.nome.toLowerCase()]">
                <router-link :to="{ name: 'Busca', params: { palavrachave: 'all', tipo: categoria.nome }}">
                  {{categoria.nome}}
                </router-link>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-layout>

        <md-layout md-flex="20" md-flex-xsmall="100">
          <md-menu ref="menuCategorias" :md-close-on-select="true" :md-offset-y="6">
            <md-button class="buttonMenu" md-menu-trigger>Empório</md-button>
            <md-menu-content>
              <md-menu-item v-for="(categoria, index) in categorias" :key="index" v-if="categoria.nome && !hortifruti[categoria.nome.toLowerCase()]">
                <router-link :to="{ name: 'Busca', params: { palavrachave: 'all', tipo: categoria.nome }}">
                  {{categoria.nome}}
                </router-link>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-layout>

        <md-layout class="buttonMenu" md-flex="20" md-flex-xsmall="100" @click.native="goToSeoDesconto" md-tag="md-button" md-align="center">Seo Desconto <md-icon>fiber_new</md-icon></md-layout>

        <md-layout class="buttonMenu" md-flex="20" md-flex-xsmall="100" md-tag="md-button" @click.native="goToAboutUs" md-align="center">Sobre o Seo Salada</md-layout>

        <md-layout class="buttonMenu" md-flex="20" md-flex-xsmall="100" @click.native="goToFaleConosco" md-tag="md-button" md-align="center">Fale Conosco</md-layout>

        

      </md-layout>
    </md-layout>

  </div>
</template>

<script>
import lo from 'lodash';
import firebase from './../../helpers/firebaseConfig';
import Cart from '../Shared/Cart';

const db = firebase.database();

export default {
  name: 'header',
  beforeMount() {
    this.updateState();
  },
  data() {
    return {
      search: '',
      hortifruti: {
        legumes: true,
        verduras: true,
        frutas: true,
        'temperos e ervas': true,
      },
      produtos: {},
    };
  },
  computed: {
    itensCarrinho: function itensCarrinho() {
      const itens = this.$store.state.cart.length;
      return itens;
    },
    userName() {
      return this.$store.state.user.name;
    },
  },
  firebase() {
    return {
      produtos: {
        source: db.ref('produtos'),
        asObject: false,
      },
      categorias: {
        source: db.ref('categorias'),
        asObject: false,
        readyCallback: () => {
          lo.forEach(this.categorias, (categoria, i) => {
            firebase.database().ref('produtos')
            .orderByChild('categoria')
            .equalTo(categoria.id)
            .once('value', (snapshot) => {
              const produtos = snapshot.val();
              let notProduct = false;
              lo.forEach(produtos, (produto) => {
                if (produto.disponivel === 'sim') {
                  notProduct = true;
                }
              });
              if (!notProduct) {
                this.categorias[i] = {};
              }
            });
          });
        },
      },
    };
  },
  mounted() {
    this.$store.dispatch('nextShip');
  },
  created() {
    this.$root.$on('toggle-cart', () => {
      this.toggleRightSidenav();
    });
  },
  watch: {
    // eslint-disable-next-line
    '$route.params.tipo': function (tipo) {
      this.$refs.menuCategorias.close();
    },
  },
  methods: {
    goToMinhaConta() {
      this.$router.push({
        name: 'MinhaConta',
      });
    },
    goHome() {
      this.$router.push({
        name: 'Home',
      });
    },
    goToAboutUs() {
      this.$router.push({
        name: 'AboutUs',
      });
    },
    goToFaleConosco() {
      this.$router.push({
        name: 'FaleConosco',
      });
    },
    goToSeoDesconto() {
      this.$router.push({
        name: 'SeoDesconto',
      });
    },
    updateState() {
      this.$store.state.cart = this.$session.get('cart') === undefined ? [] : this.$session.get('cart');
    },
    toggleRightSidenav() {
      this.$children[1].$refs.rightSidenav.toggle();
    },
    toggleSidenav() {
      this.$refs['main-sidebar'].toggle();
    },
    searchProduct() {
      this.$router.push({
        name: 'Busca',
        params: {
          palavrachave: this.search,
        },
      });
    },
    goToPedidos() {
      this.$router.push({
        name: 'Pedidos',
      });
    },
    goToLogin() {
      this.$router.push({
        name: 'Login',
      });
    },
    goToLogout() {
      this.$store.dispatch('logout');
      this.goHome();
    },
  },
  components: {
    Cart,
  },
};
</script>

<style lang="scss">
#header{
  padding: 10px 0px 0px;
  @media (max-width: 600px) {
    padding-top: 0px;
  }
  .noPadding{
    padding: 0px;
  }
  .gridHeader{
    margin: 0px
  }
  .form-default{
    width: 100%;
  }
  .logo-box{
    @media (max-width: 600px) {
      display: none;
    }
  }
  .menuMobile {
    background: #8bc34a;
    padding: 10px 0;
    display: none;
    @media (max-width: 600px) {
      display: flex;
    }
    img {
      height: 36px;
    }
  }
  .header-right{
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 600px) {
      display: none;
    }
    .btn-cart{
      &.md-icon-button{
        border-radius: 2px;
      }
      span{
        font-size: 16px;
        position: relative;
        top: 3px;
      }
    }
  }
  .logo-box{
    justify-content: center;
    .logo-top{
      height: 80px;
    }
  }
  .toolbar-header{
    margin-bottom: 0px;
    @media (max-width: 600px) {
      display: none;
    }
    button{
      color: rgba(255, 255, 255, 0.87);
      width: 100%;
      text-align: center;
      font-size: 17px;
      .md-icon {
        margin: 0;
        font-size: 23px;
      }
    }
  }
  .buttonMenu{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .toolbar-header{
    .md-menu{
      width: 100%;
    }
  }
}
</style>
<style lang="scss" scoped>

  .md-menu-content.md-direction-bottom-right.md-active{
    margin-top: 43px;
    margin-left: 0;
  }
  
  .btn-cart{
    &.md-icon-button{
      border-radius: 2px;
    }
  }
  .nav-trigger {
    border-radius: 2px;
    display: none;
    transition: all 0.2s linear;
    &.md-button.md-icon-button .md-icon {
        top: 6px;
        right: 0;
        bottom: 0;
        left: -4px;
        width: 26px;
        font-size: 31px;
    }
    @media (max-width: 600px) {
      display: flex;
    }
    span {
      position: relative;
      top: -11px;
      font-size: 12px;
    }
  }
  $sizebar-size: 280px;
  .main-sidebar.md-sidenav {
    .md-sidenav-content {
      width: $sizebar-size;
      display: flex;
      flex-flow: column;
      overflow: hidden;

      @media (min-width: 1281px) {
        top: 0;
        pointer-events: auto;
        transform: translate3d(0, 0, 0);
      }
    }

    .md-backdrop {
      @media (min-width: 1281px) {
        opacity: 0;
        pointer-events: none;
      }
    }

    .md-toolbar {
      color: white;
    }

    .vue-material-logo {
      font-size: 24px;

      a {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        color: inherit;
        text-decoration: none;

        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }

      img {
        width: 160px;
        margin-bottom: 16px;
      }
    }

    .main-sidebar-links {
      overflow: auto;
      flex: 1;

      .md-inset .md-list-item-container {
        padding-left: 36px;
      }

      .md-list-item-container {
        font-size: 16px;
        font-weight: 500;
      }
    }

    .release-version {
      padding: 8px 8px 8px 16px;
      border-top: 1px solid rgba(#000, .12);
      display: none;

      @media (max-width: 480px) {
        display: block;
      }

      > div {
        justify-content: center;
      }

      .md-select:after {
        color: rgba(#000, .87);
      }
    }
  }
</style>

