<template>
  <div id="loading" class="loading-overlay" v-show="loading">
    <md-spinner md-indeterminate class="loading-spinner"></md-spinner>
  </div>
</template>

<script>
  export default{
    computed: {
      loading() {
        return this.$store.state.loading;
      },
    },
    mounted() {
      // this.$store.state.loading = true;
    },
    methods: {
      showLoading() {
        this.loading = true;
      },
      hideLoading() {
        this.loading = false;
      },
    },
  };
</script>

<style lang="scss">
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: white;   
    .loading-spinner {
      left: 50%;
      top: 50%;
      position: absolute;
      margin-top: -25px;
      margin-left: -25px;
    }
  }
</style>
