<template>
  <md-layout class="grid" md-align="center" md-flex="100">
    <md-layout class="login-wrap" md-gutter="16" md-flex-xsmall="100" md-flex-small="75" md-flex="33">
      <md-layout>
        <form @submit.stop.prevent="login">
          <h2 class="md-display-1 titleLogin">
            <slot></slot>
          </h2>

          <md-input-container>
            <label>E-mail</label>
            <md-input v-model="email" required type="email"></md-input>
          </md-input-container>

          <md-input-container md-has-password :class="{'md-input-invalid': loginError}">
            <label>Senha</label>
            <md-input v-model="password" type="password" required></md-input>
            <span class="md-error">{{loginErrorMsg}}</span>
          </md-input-container>
          
          <md-layout>
            <md-layout md-flex="100" md-align="center">
              <router-link exact :to="{ name: 'EsqueciMinhaSenha'}">Esqueci minha senha</router-link>
            </md-layout>
            <md-layout v-if="!hideSignup">
              <md-button @click.native="goToSignUp" class="md-raised md-accent signup-btn">
                Cadastre-se
              </md-button>
            </md-layout>
            <md-layout>
              <md-button type="submit" class="md-raised md-primary login-btn">Entrar</md-button>
            </md-layout>
            <md-button v-show="false" @click="loginFacebook" class="fb-signin-button">
              <icon name="facebook-official" scale="1"></icon>
              Entrar com Facebook
            </md-button>
          </md-layout>
        </form>
      </md-layout>  
    </md-layout>
  </md-layout>
</template>

<script>
  import firebase from 'firebase';
  import fb from '../../helpers/firebaseConfig';
  
  const db = fb.database();

  export default {
    name: 'header',
    data: () => ({
      email: '',
      password: '',
      loginError: false,
      loginErrorMsg: '',
    }),
    props: {
      hideSignup: Boolean,
      stepper: Object,
    },
    mounted() {
      if (this.$store.state.user.length > 0) {
        this.$router.push({
          name: 'Home',
        });
      }
    },
    methods: {
      goToSignUp() {
        this.$router.push({
          name: 'Cadastro',
        });
      },
      loginFacebook() {
        const provider = new firebase.auth.FacebookAuthProvider();
        firebase.auth().signInWithPopup(provider).then((result) => {
          // eslint-disable-next-line
          
          db.ref('clientes')
          .orderByChild('id')
          .equalTo(result.user.uid)
          .limitToFirst(1)
          .once('value', (snapshot) => {
            if (!snapshot.val()) {
              const payload = {
                name: result.user.displayName,
                email: result.user.email,
                phone_number: result.user.phoneNumber,
                birthday: result.additionalUserInfo.profile.birthday,
                id: result.user.uid,
                address: [],
              };
              this.$store.dispatch('registerWithFacebook', payload);
            } else {
              this.$store.dispatch('login', result.user);
            }
            this.$router.push({
              name: 'Home',
            });
          });
        }).catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
      },
      login() {
        this.$store.state.loading = true;
        firebase.auth().signInWithEmailAndPassword(this.email, this.password).then((user) => {
          this.$store.dispatch('login', user)
          .then(() => {
            this.$store.state.loading = false;
            if (this.stepper) {
              this.stepper.moveNextStep();
            } else {
              this.$router.push({
                name: 'Home',
              });
            }
          });
        }).catch(() => {
          this.$store.state.loading = false;
          this.loginError = true;
          this.loginErrorMsg = 'E-mail ou senha incorreto';
        });
      },
    },
  };
</script>

<style lang="scss" scoped>
.login-wrap{
  background-size: 100px;
  form{
    width: 100%;
  }
  .titleLogin{
    text-align: center;
    font-weight: 1000;
    width: 100%;
  }
  .login-btn,
  .signup-btn {
    width: 100%;
  }
}

@media (max-width: 480px){
  .login-wrap{
    box-shadow: none;
  }
}

</style>
