<template>
  <md-layout id="order-summary" class="grid main-content" md-gutter="16">
    <md-layout md-flex-xsmall="100" md-flex-small="100" md-flex="50" class="personalData">
      <div>
        <section-title>Seus Dados</section-title>
        <span class="md-subheading">{{ this.$store.state.user.name }}</span>
        <span class="md-subheading">{{ this.$store.state.user.email }}</span>
        <span class="md-subheading">{{ this.$store.state.user.phone_number }}</span>
        <section-title>Dados de entrega</section-title>
        <span class="md-subheading">{{ endereco.address }}, {{endereco.number}} - {{endereco.complement}}</span>
        <span class="md-subheading">{{ endereco.neighborhood }} - {{ endereco.city }}</span>
        <gmap-map v-show="false" v-if="$store.state.address.lat"
          :center="{ lat: endereco.lat, lng: endereco.lng }"
          :zoom="16"
          map-type-id="roadmap"
          style="width: 100%; height: 172px; margin-top: 10px"
          ref="map">
          <Gmap-Marker
            :position="{
              lat: endereco.lat,
              lng: endereco.lng,
            }"
          >
          </Gmap-Marker>
        </gmap-map>
        <section-title v-if="descontos">Seo Desconto</section-title>
        <p class="md-body-1" v-if="descontos">Aqui você encontra todos os descontos que adquiriu indicando amigos e participando de promoções do Seo Salada.</p>
        <md-table v-if="descontos">
          <md-table-body>
            <md-table-row v-for="(desconto, rowIndex) in descontos" :key="rowIndex" :md-item="desconto" v-if="!readOnly">
              <md-table-cell>
                <md-icon class="md-accent">person</md-icon>
              </md-table-cell>
              <md-table-cell>{{desconto.tipo}} {{desconto.usuario}}</md-table-cell>
              <md-table-cell><span class="md-title greentext">R$ {{numberFormat(desconto.pontos)}}</span></md-table-cell>
              <md-table-cell v-if="!readOnly">
                <md-switch class="md-subheading" @change="(e) => useDiscount(e, desconto, rowIndex)">Usar desconto</md-switch>
              </md-table-cell>
            </md-table-row>

            <md-table-row v-if="readOnly" v-for="(desconto, rowIndex) in orderSeoDesconto" :key="rowIndex" :md-item="desconto">
              <md-table-cell>
                <md-icon class="md-accent">person</md-icon>
              </md-table-cell>
              <md-table-cell>{{desconto.tipo}} {{desconto.usuario}}</md-table-cell>
              <md-table-cell>
                <span class="md-title greentext">R$ {{numberFormat(desconto.pontos)}}</span>
              </md-table-cell>
            </md-table-row>
          </md-table-body>
        </md-table>
      </div>
      <md-layout>
      </md-layout>
    </md-layout>
    <md-layout md-flex-xsmall="100" md-flex-small="100" md-flex="50" class="productCheck" md-gutter="16">
      <section-title>
        Resumo
        <span>{{produtosCart.length}} itens</span>
      </section-title>
      <md-layout md-flex="100" class="check-content md-gutter-16">
        <thumb-produto-cart :readOnly="readOnly" elevation="0" v-for="(produtoCart, index) in produtosCart" :produto="produtoCart" :key="index"></thumb-produto-cart>
      </md-layout>
      <md-layout md-flex="100" md-align="end" class="totalCheck">
        <md-chip v-if="!readOnly" class="tipChip" title="Selecione essa opção caso deseje que seus produtos não sejam embalados individualmente em embalagens plásticas" v-tippy>?</md-chip>
        <span class="md-subtitle">Embalagem Sustentável&nbsp;</span>
        <md-switch v-model="sustentavel" @change="sustainable" :disabled="readOnly"></md-switch>
      </md-layout>
      <md-layout md-flex="100" md-align="end" class="totalCheck">
        <md-input-container :class="{'md-input-invalid': promo.error, 'promoCode': true }" style="width: 300px">
          <label>Código Promocional</label>
          <md-input type="text" v-model="promoCode" :readonly="readOnly" @change="callPromo"></md-input>
          <span class="md-error">{{promo.errorMsg}}</span>
        </md-input-container>
      </md-layout>
      
      <md-layout md-flex="100" md-align="end" class="totalCheck">
        <span class="md-subtitle">Subtotal:</span>
        <span class="md-subtitle">R$ {{ numberFormat(this.subTotal) }}</span>
      </md-layout>
      <md-layout md-flex="100" md-align="end" class="totalCheck" :class="{sublinhado: this.promoInfo.codigo === 'BOASVINDAS'}">
        <span class="md-subtitle">Frete:</span>
        <span class="md-subtitle">{{numberFormat(this.$store.state.frete)}}</span>
      </md-layout>
      <md-layout v-show="this.promoInfo.valor > 0 && this.promoInfo.codigo !== 'BOASVINDAS'" md-flex="100" md-align="end" class="totalCheck">
        <span class="md-subtitle">{{ this.promoInfo.nome }}:</span>
        <span class="md-subtitle">{{ this.promoInfo.unidade == 'moeda' ? 'R$' : '' }} {{ numberFormat(this.promoInfo.valor) }}{{ this.promoInfo.unidade == 'percentagem' ? '%' : '' }}</span>
      </md-layout>
      <md-layout md-flex="100" md-align="end" class="totalCheck">
        <span class="promo-stamp" :class="{'promo-ease': this.promoInfo.codigo === 'BOASVINDAS'}">
          <md-icon>local_shipping</md-icon>
          <span>Boas Vindas</span>
        </span>
        <span class="promo-stamp" :class="{'promo-ease': this.seoDesconto.length > 0}">
          <md-image md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FSeloSeoDesconto.png?alt=media&token=af12f039-4583-44aa-ab67-290150fdbb69"></md-image>
        </span>
        <span class="md-title promoprice">Total:&nbsp;</span>
        <span class="md-title promoprice" :class="{sublinhado: this.seoDesconto.length > 0}">
          <span>R$ {{numberFormat(this.seoDesconto.length > 0 ? this.total + this.$store.state.valorDesconto : this.total)}}</span><br/>
          <span class="md-title promoprice" :class="{'nao-sublinhado': this.seoDesconto.length > 0}" v-show="this.seoDesconto.length > 0">R$ {{numberFormat(this.total)}}</span>
        </span>
      </md-layout>
    </md-layout>
  </md-layout>
</template>

<script>
  import lo from 'lodash';
  import moment from 'moment';
  import ThumbProdutoCart from './ThumbProdutoCart';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  export default {
    name: 'order-summary',
    components: {
      'thumb-produto-cart': ThumbProdutoCart,
    },
    props: {
      numPedido: String,
      produtos: Object,
      readOnly: Boolean,
      objSeoDesconto: Object,
    },
    data() {
      return {
        produtoCart: {},
        pedido: {},
        promo: {
          error: false,
          errorMsg: '',
        },
        usedPromos: [],
      };
    },
    methods: {
      numberFormat(valor) {
        let result;
        result = parseFloat(Math.round(valor * 100) / 100).toFixed(2);
        result = result.toString().replace('.', ',');
        return result;
      },
      sustainable() {
        this.$store.state.sustentavel = this.sustentavel;
      },
      useDiscount(checked, desconto, id) {
        const pontos = desconto;
        pontos.id = id;
        if (checked) {
          const aDesc = this.seoDesconto;
          aDesc[this.seoDesconto.length] = pontos;
          this.seoDesconto = aDesc;
        } else {
          this.seoDesconto = this.seoDesconto.filter(a => a.id !== id);
        }
      },
      callPromo() {
        this.$forceUpdate();
      },
    },
    mounted() {
      if (this.numPedido) {
        const ref = db.ref('pedidos')
          .orderByChild('numero')
          .equalTo(Number(this.numPedido))
          .limitToFirst(1);

        ref.once('value', (snapshot) => {
          const order = snapshot.val();
          this.pedido = order[Object.keys(order)[0]];
        });
      }

      firebase.auth().onAuthStateChanged((user) => {
        db.ref('clientes')
        .orderByChild('idAuth')
        .startAt(user.uid)
        .endAt(user.uid)
        .limitToFirst(1)
        .once('value', snap => snap.forEach((childSnapshot) => {
          const userInfo = childSnapshot.val();
          const pedidosCliente = db.ref(`clientes/${userInfo.id}/pedidos`);
          pedidosCliente.once('value', (snapshot) => {
            const orders = snapshot.val();
            // eslint-disable-next-line
            lo.filter(orders, (o) => {
              if (o.promocao) {
                this.usedPromos[o.promocao.id] = o.data;
              }
              return true;
            });
          });
        }));
      });
    },
    firebase() {
      const userId = this.$store.state.user.id;
      return {
        promocoes: {
          source: db.ref('promocoes'),
          asObject: false,
        },
        descontos: {
          source: db.ref(`clientes/${userId}/pontos`),
          asObject: true,
          readyCallback: () => {
            delete this.descontos['.key'];
            delete this.descontos['.value'];
            lo.map(this.descontos, (el, i) => {
              if (el.used) {
                delete this.descontos[i];
                return false;
              }
              db.ref(`clientes/${el.usuario}`)
                .once('value', (snapshot) => {
                  const cliente = snapshot.val();
                  this.descontos[i].usuario = cliente.name;
                  this.descontos[i].id = i;
                });
              return true;
            });
          },
        },
      };
    },
    computed: {
      promoInfo() {
        if (!this.promoCode) {
          return {};
        }
        const promocoes = this.promocoes
          .filter(promocao => promocao.codigo.toLowerCase() === this.promoCode.toLowerCase());
        if (promocoes.length === 0) {
          this.promo.error = true;
          this.promo.errorMsg = 'Código Incorreto';
          this.$store.state.promoInfo = {};
          return {};
        }
        const promocao = promocoes[0];
        const subTotal = this.subTotal + this.$store.state.frete;
        if (subTotal >= Number(promocao.valorMinimo)) {
          if (this.usedPromos[promocao.id]) {
            const dataPedidoPromo = this.usedPromos[promocao.id];
            const limitacao = promocao.limitacao;
            if (!limitacao || limitacao === 'only') {
              this.promo.error = true;
              this.promo.errorMsg = 'Código promocional já utilizado anteriormente.';
              this.$store.state.promoInfo = {};
              return {};
            }
            const date1 = moment(dataPedidoPromo);
            const date2 = moment(Date());
            const diff = date2.diff(date1);
            let message = '';
            let miliSeconds = 0;
            if (limitacao === 'week') {
              // Uma semana em milisegundos
              miliSeconds = 604800000;
              message = 'Código promocional já utilizado em menos de uma semana.';
            }
            if (limitacao === 'month') {
              // Um mês em milisegundos
              miliSeconds = 2628000000;
              message = 'Código promocional já utilizado em menos de um mês.';
            }
            if (limitacao === 'year') {
              // Um ano em milisegundos
              miliSeconds = 31536000000;
              message = 'Código promocional já utilizado em menos de um ano.';
            }
            if (diff < miliSeconds) {
              this.promo.error = true;
              this.promo.errorMsg = message;
              this.$store.state.promoInfo = {};
              return {};
            }
          }
          if (!promocao.ativo) {
            this.promo.error = true;
            this.promo.errorMsg = 'Esta promoção já foi finalizada.';
            this.$store.state.promoInfo = {};
            return {};
          }
          if (promocao.clientes) {
            const filter = lo.filter(promocao.clientes, (o) => {
              if (o === this.$store.state.user.id) {
                return true;
              }
              return false;
            });
            if (filter.length === 0) {
              this.promo.error = true;
              this.promo.errorMsg = 'Código inválido para este perfil.';
              this.$store.state.promoInfo = {};
              return {};
            }
          }

          this.promo.error = false;
          this.promo.errorMsg = '';
          this.$store.state.promoInfo = promocao;
          return promocao;
        }

        this.promo.error = true;
        this.promo.errorMsg = `Sua compra não atingiu o valor mínimo de R$ ${promocao.valorMinimo}`;
        this.$store.state.promoInfo = {};
        return {};
      },
      promoCode: {
        get() {
          return this.$store.state.promoCode;
        },
        set(value) {
          this.$store.state.promoCode = value;
        },
      },
      sustentavel: {
        get() {
          return this.$store.state.sustentavel;
        },
        set(value) {
          this.$store.state.sustentavel = value;
        },
      },
      seoDesconto: {
        get() {
          return this.$store.state.seoDesconto;
        },
        set(value) {
          const desconto = [];
          value.forEach((el) => {
            desconto.push(el);
          });
          this.$store.state.seoDesconto = desconto;
        },
      },
      orderSeoDesconto() {
        if (this.objSeoDesconto) {
          return this.objSeoDesconto;
        }
        if (this.numPedido) {
          return this.pedido.seoDesconto;
        }
        return this.seoDesconto;
      },
      produtosCart() {
        if (this.numPedido) {
          return this.pedido.itens;
        }
        if (this.produtos) {
          return this.produtos;
        }
        return this.$store.state.cart;
      },
      endereco() {
        if (this.numPedido) {
          return this.pedido.endereco;
        }
        return this.$store.state.address;
      },
      subTotal: function subtotal() {
        const sub = lo.map(this.produtosCart, 'total');
        const subTotal = lo.ceil(lo.sum(sub), 2);
        this.$store.state.subTotal = subTotal;
        return subTotal;
      },
      total: function total() {
        let somaTotal = this.subTotal;
        let desconto = 0;
        const seodesconto = this.orderSeoDesconto;
        somaTotal += this.$store.state.frete;

        if (this.promoInfo) {
          if (this.promoInfo.unidade === 'moeda') {
            desconto = this.promoInfo.valor;
            desconto = desconto > somaTotal ? somaTotal : desconto;
            somaTotal -= desconto;
          } else if (this.promoInfo.unidade === 'percentagem') {
            desconto = (this.promoInfo.valor / 100) * somaTotal;
            desconto = desconto > somaTotal ? somaTotal : desconto;
            somaTotal -= desconto;
          }
        }
        const parcialtotal = somaTotal;
        if (seodesconto.length > 0) {
          seodesconto.forEach((el) => {
            somaTotal -= el.pontos;
            desconto += el.pontos;
          });
        }
        somaTotal = somaTotal < 0 ? 0 : somaTotal;
        somaTotal = lo.ceil(somaTotal, 2);
        this.$store.state.total = somaTotal;
        this.$store.state.valorDesconto = desconto > parcialtotal ? parcialtotal : desconto;
        return somaTotal;
      },
    },
  };
</script>

<style lang="scss">

  .promo-stamp {
    text-align: center;
    transform: scale(10);
    opacity: 0;
    z-index: -1;
    position: relative;
    transition: all 0.2s linear;
    i {
      color: #4caf50;
      font-size: 50px;
      line-height: auto;
      width: auto;
      height: auto;
      display: inline-block;
      width: 100%;
    }
    span {
      background: #4caf50;
      padding: 5px 10px;
      color: #fff;
      border-radius: 2px
    }
    &.promo-ease {
      opacity: 1;
      z-index: 0;
      transform: scale(1, 1);
    }
  }
  #order-summary {
    overflow: visible;
    background: #fff;
    .imgLoader {
      top: 54px;
      margin-left: -10px;
    }
    .md-table .md-table-cell-container {
      padding: 6px 10px;
    }
  }
  .mainColor {
    color: #4caf50;
  }
  .titleConfirmation {
    h2{
      opacity: .54;
    }
  }
  .orderNumber {
    h2{
      display: block;
      width: 100%;
      text-align: right;
      margin: 5px 0;
    }
  }
  .orderMessage {
    p{
      display: block;
      width: 100%;
      margin: 10px 0;
      .deliverDate{
        color: #4caf50;
      }
    }
  }
  .greentext {
    color: #8bc34a;
  }
  .sublinhado span{
    text-decoration: line-through;
    margin: 0px;
    &.nao-sublinhado {
      text-decoration: none;
    }
  }
  .promoCode {
    label {
      font-size: 20px;
      color: #4caf50;
      font-weight: bold;
    }
    &:after {
      background-color: #4caf50;
    }
  }
  .tipChip {
    margin-right: 5px;
    padding: 5px 9px;
    height: 25px;
  }
</style>
