<template>
  <md-layout>
    <md-rating-bar md-theme="graph" v-model="actualRating" class="md-warn" @change="changeRating" :id="produto.id"></md-rating-bar>
    <md-dialog :md-open-from="`#${produto.id}`" :md-close-to="`#${produto.id}`" ref="ratingDialog">
      <md-dialog-title class="md-subheading">
        Deixe seu comentário para {{produto.nome}}
      </md-dialog-title>

      <md-dialog-content>
        <md-rating-bar v-model="rating.rating" md-theme="graph" class="md-warn" disabled></md-rating-bar>
        <md-input-container>
          <md-input v-model="rating.comment"></md-input>
        </md-input-container>
      </md-dialog-content>

      <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog('ratingDialog')">Cancel</md-button>
        <md-button class="md-primary" @click="setRating()">Ok</md-button>
      </md-dialog-actions>
    </md-dialog>
  </md-layout>
</template>

<script>
import lo from 'lodash';

export default {
  name: 'rating',
  props: {
    produto: Object,
  },
  computed: {
    actualRating: {
      get() {
        let sum = 0;
        let i = 0;
        lo.forEach(this.produto.ratings, (rating) => {
          sum += rating.rating;
          i += 1;
        });
        const avg = sum / i;
        return isNaN(avg) ? 5 : (avg);
      },
      set() {
        return false;
      },
    },
  },
  beforeMount() {
    this.rating.produto = this.produto.id;
  },
  data: () => ({
    rating: {
      cliente: {},
      rating: 0,
      comment: '',
    },
  }),
  methods: {
    changeRating(rating) {
      if (!this.$store.state.user.name) {
        this.$router.push('/login');
        return false;
      }
      this.rating.rating = rating;
      this.rating.cliente = this.$store.state.user;
      delete this.rating.cliente.pedidos;
      this.openDialog('ratingDialog');
      return true;
    },
    setRating() {
      this.rating.produto = this.produto.id;
      this.$store.dispatch('submitRating', this.rating);
      this.rating.rating = 0;
      this.rating.comment = '';
      this.closeDialog('ratingDialog');
    },
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
  },
};
</script>

<style lang="scss">
  .md-rating-bar {
    padding-left: 0px;
    background: transparent!important;
  }
</style>
