<template>
  <md-layout md-flex="100">
    <h2 class="md-title section-title" :class="{'center': center, 'noline': noline}">
      <slot></slot>
    </h2>
  </md-layout>
</template>

<script>
export default {
  name: 'section-title',
  props: {
    noline: Boolean,
    center: Boolean,
  },
};
</script>

<style lang="scss">
  .section-title{
    width: 100%;
    color: #4caf50;
    border-bottom: solid 1px #4caf50;
    padding-bottom: 10px;
    font-size: 34px;
    line-height: 40px;
    font-weight: 1000;
    span, i, svg{
      display: block;
      float: right;
      font-family: 'Dosis', Arial, sans-serif;
      font-size: 20px;
    }
    &.center{
      text-align: center;
    }
    &.noline{
      border-bottom: 0px;
    }
  }
</style>
