<template> 
  <md-layout id="signupBox" class="grid" md-align="center" md-flex="100">
    <md-layout md-flex="100" md-align="center">
      <md-layout v-show="promoprofile" class="login-wrap" md-flex-xsmall="100" md-flex-small="75" md-flex="33">       
        <h2>UM AMIGO DESSES, BICHO</h2>
        <p>
          Agora que você chegou aqui pelo link que seu amigo<br>
          compartilhou, é só se cadastrar para aproveitar o<br>
          presente que ganhou dele.
        </p>
        <p>
          <md-image class="img-banner-desconto-carimbo" md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FSeloSeoDescontoBig.png?alt=media&token=8ae8f088-b878-4025-b1cf-49cc64f37809"></md-image><br>
        </p>
        <p>
          Depois de se cadastrar no Seo Salada, você faz a sua <br>
          compra normalmente, ao final, decide se usa ou <br>
          não seus R$5 em descontos.
        </p>
      </md-layout>
      <md-layout class="login-wrap" md-flex-xsmall="100" md-flex-small="75" md-flex="33">       
        <form>
          <md-layout v-show="false">
            <md-button @click="SignUpWithFacebook" class="fb-signup-button">
              <icon name="facebook-official" scale="1"></icon>
              Cadastre-se com facebook
            </md-button>
          </md-layout>
          <md-layout class="grid" md-gutter="16">
            <md-layout md-flex="100">
              <md-input-container :class="{'md-input-invalid': validate.email.error}">
                <label>E-mail</label>
                <md-input @blur="validateForm" :readonly="alterar" v-model="register.email" type="email" required></md-input>
                <span class="md-error">{{validate.email.errorMsg}}</span>
              </md-input-container>
            </md-layout>
            <md-layout v-if="alterar" md-flex="100">
              <md-input-container :class="{'md-input-invalid': validate.oldpassword.error }" md-has-password >
                <label>Senha atual</label>
                <md-input @blur="validateForm" v-model="register.oldpassword" type="password" required></md-input>
                <span class="md-error">{{validate.oldpassword.errorMsg}}</span>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">
              <md-input-container :class="{'md-input-invalid': validate.password.error }" md-has-password >
                <label v-if="alterar">Nova Senha</label>
                <label v-if="!alterar">Senha</label>
                <md-input @blur="validateForm" v-model="register.password" type="password" required></md-input>
                <span class="md-error">{{validate.password.errorMsg}}</span>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">
              <md-input-container :class="{'md-input-invalid': validate.confirm_password.error }" md-has-password>
                <label v-if="alterar">Confirmar nova senha</label>
                <label v-if="!alterar">Confirmar senha</label>
                <md-input @blur="validateForm" v-model="register.confirm_password" type="password" required></md-input>
                <span class="md-error">{{validate.confirm_password.errorMsg}}</span>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="100">
              <md-input-container :class="{'md-input-invalid': validate.name.error }">
                <label>Nome</label>
                <md-input @blur="validateForm" v-model="register.name" required></md-input>
                <span class="md-error">{{validate.name.errorMsg}}</span>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">
              <md-input-container :class="{'md-input-invalid': validate.birthday.error }">
                <label>Data de nascimento</label>
                <md-input @blur="validateForm" v-model="register.birthday" type="date" min="1900-01-01" max="2180-01-01" required></md-input>
                <span class="md-error">{{validate.birthday.errorMsg}}</span>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">
              <md-input-container :class="{'md-input-invalid': validate.phone_number.error }">
                <label>Telefone</label>
                <md-input @blur="validateForm" v-model="register.phone_number" type="number" required></md-input>
                <span class="md-error">{{validate.phone_number.errorMsg}}</span>
              </md-input-container>
            </md-layout>
            <md-layout md-flex="50">
              <md-input-container>
                <label>Telefone Secundário</label>
                <md-input @blur="validateForm" v-model="register.phone_number2" type="number"></md-input>
              </md-input-container>
            </md-layout>
          </md-layout>
        </form>
        <confirm-address v-if="!noAddress" :size="100"></confirm-address>
      </md-layout>
      
    </md-layout>
    <md-layout md-flex="50">
      <md-button type="submit" :disabled="!this.validForm" class="md-raised md-accent signup-submit" @click.stop.prevent="submit">Salvar</md-button>
    </md-layout>
  </md-layout>
</template>

<script>
  import firebase from 'firebase';
  import moment from 'moment';
  import ConfirmAddress from '../Shared/ConfirmAddress';

  export default {
    name: 'signup-box',
    components: {
      'confirm-address': ConfirmAddress,
    },
    props: {
      alterar: Boolean,
      noAddress: Boolean,
      stepper: Object,
      promoprofile: String,
    },
    data: () => ({
      validate: {
        name: { error: false, errorMsg: '', valid: {} },
        email: { error: false, errorMsg: '', valid: { email: 'valid' } },
        oldpassword: { error: false, errorMsg: '', valid: {} },
        password: { error: false, errorMsg: '', valid: { min: '6' } },
        confirm_password: { error: false, errorMsg: '', valid: { equal: 'password' } },
        birthday: { error: false, errorMsg: '', valid: {} },
        phone_number: { error: false, errorMsg: '', valid: {} },
      },
      validForm: false,
    }),
    computed: {
      register() {
        if (this.alterar) {
          return {
            name: this.$store.state.user.name,
            email: this.$store.state.user.email,
            oldpassword: '',
            password: '',
            confirm_password: '',
            birthday: this.$store.state.user.birthday,
            phone_number: this.$store.state.user.phone_number,
            phone_number2: this.$store.state.user.phone_number2,
            role: 'client',
            address: this.$store.state.user.address,
          };
        }
        return {
          name: '',
          email: '',
          password: '',
          confirm_password: '',
          birthday: '',
          phone_number: '',
          phone_number2: '',
          role: 'client',
          address: [],
        };
      },
    },
    methods: {
      goHome() {
        this.$router.push({
          name: 'Home',
        });
      },
      validateForm() {
        this.validForm = true;
        Object.keys(this.validate).forEach((element) => {
          // Valida se o campo está vazio
          this.validate[element].error = false;
          if (this.register[element] === '') {
            this.validate[element].errorMsg = 'Este campo é obrigatório';
            this.validForm = false;
            this.validate[element].error = true;
          }
          // Valida se o campo é um e-mail válido
          if (this.validate[element].valid.email) {
            // eslint-disable-next-line
            var emailRegex = new RegExp("^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$");
            if (!this.alterar) {
              firebase.database()
                .ref('clientes')
                .orderByChild('email')
                .equalTo(this.register[element])
                .limitToFirst(1)
                .once('value', (snapshot) => {
                  if (snapshot.val()) {
                    this.validate[element].errorMsg = 'Este e-mail já está sendo utilizado por outra conta.';
                    this.validForm = false;
                    this.validate[element].error = true;
                  }
                });
            }
            if (!emailRegex.test(this.register[element])) {
              this.validate[element].errorMsg = 'E-mail Inválido';
              this.validForm = false;
              this.validate[element].error = true;
            }
          }
          // Valida se o campo tem tamanho mínimo
          if (this.validate[element].valid.min) {
            if (this.register[element].length < this.validate[element].valid.min) {
              this.validate[element].errorMsg = `O campo deve ter no mínimo ${this.validate[element].valid.min} caracteres`;
              this.validForm = false;
              this.validate[element].error = true;
            }
          }

          // Valida se o campo de confirmacao é igual ao campo indicado
          if (this.validate[element].valid.equal) {
            const equal = this.register[this.validate[element].valid.equal];
            if (this.register[element] !== equal) {
              this.validate[element].errorMsg = 'Este campo deve ser igual ao anterior';
              this.validForm = false;
              this.validate[element].error = true;
            }
          }
        });
        if (this.alterar) {
          firebase.auth().currentUser
            .reauthenticateWithCredential(
              firebase.auth.EmailAuthProvider.credential(
                firebase.auth().currentUser.email, this.register.oldpassword))
            .then((res) => {
              // eslint-disable-next-line
              console.log(res);
              this.validForm = true;
            }).catch((error) => {
              this.validate.oldpassword.errorMsg = 'Senha incorreta';
              this.validForm = false;
              this.validate.oldpassword.error = true;
              // eslint-disable-next-line
              console.log(error);
            });
        }

        if (!this.alterar && !this.$children[0].$children[1].validateForm(true)) {
          this.validForm = false;
        }
        return this.validForm;
      },
      SignUpWithFacebook() {
        const provider = new firebase.auth.FacebookAuthProvider();
        firebase.auth().signInWithPopup(provider).then((result) => {
          const user = result.additionalUserInfo.profile;
          const aBirthday = user.birthday.split('/');
          this.register.name = user.name;
          this.register.email = user.email;
          this.register.birthday = `${aBirthday[2]}-${aBirthday[0]}-${aBirthday[1]}`;
        }).catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
      },
      submit() {
        this.$store.state.loading = true;

        if (this.alterar) {
          const payload = {
            id: this.$store.state.user.id,
            name: this.register.name,
            email: this.register.email,
            birthday: this.register.birthday,
            phone_number: this.register.phone_number,
            phone_number2: this.register.phone_number2,
          };

          firebase.auth().currentUser.updatePassword(this.register.password);
          this.$store.dispatch('updateRegister', payload);
          this.goHome();
        } else {
          const payload = [{
            name: this.register.name,
            email: this.register.email,
            birthday: this.register.birthday,
            phone_number: this.register.phone_number,
            phone_number2: this.register.phone_number2,
            address: this.$store.state.address,
            data_cadastro: moment().format('YYYY MM DD'),
          },
            this.register.password,
          ];
          if (this.promoprofile) {
            payload[2] = {
              tipo: 'Foi indicado por',
              usuario: this.promoprofile,
              pontos: 5,
            };
          }
          this.$store.dispatch('register', payload);
          if (this.stepper) {
            this.stepper.moveNextStep();
          } else {
            this.goHome();
          }
        }
      },
    },
    events: {
      register(data) {
        this.$store.state.loading = false;
        // eslint-disable-next-line
        console.log(data);
      },
    },
  };
</script>

<style lang="scss" scoped>
.login-wrap{
  background-size: 100px;
  &:first-child {
    justify-content: flex-start;
    flex-direction: column;
    img {
      float: left;
    }
  }
  form{
    width: 100%;
  }
  .titleLogin{
    text-align: center;
    font-weight: 1000;
    width: 100%;
  }
  .fb-signin-button {
    display: inline-block;
    border-radius: 2px;
    background-color: #4267b2;
    color: #fff;
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
      0 2px 2px rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12);
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s;
    margin-bottom: 15px;
    &:hover{
      background-color: #3e61a9;
    }
    svg{
      margin-right: 5px;
      position: relative;
      bottom: 1px;
    }
  }
  .login-btn,
  .signup-btn {
    width: 100%;
  }
}

@media (max-width: 480px){
  .login-wrap{
    box-shadow: none;
  }
}
#signupBox {
  padding: 30px 0;
}
</style>
