<template>
  <md-layout md-flex-xsmall="100" md-flex-small="50" md-flex-medium="33" md-flex-large="25" class="news-box">
    <md-layout md-column md-gutter>
      <md-layout md-tag="md-toolbar" md-flex="10">
        <h2 class="md-title">
          <md-icon>{{noticia.icon}}</md-icon>
          {{noticia.news_type}}
        </h2>
      </md-layout>
      <md-layout md-column md-tag="md-card">
        <md-card-media>
          <!-- <md-image v-if="noticia.media_type=='image'" :md-src="require('../../assets/news/' + noticia.media)"></md-image> -->
          <video v-if="noticia.media_type=='video'" controls>
            <!-- <source :src="require('../../assets/news/' + noticia.media)" type="video/mp4"> -->
          </video>
        </md-card-media>
        <md-layout md-flex="15" md-tag="md-card-header">
          <div class="md-title">{{noticia.title}}</div>
          <div class="md-subhead">{{noticia.date}}</div>
        </md-layout>
        <md-layout md-tag="md-card-content">
          <span v-html="noticia.text"></span>
        </md-layout>
      </md-layout>
    </md-layout>
  </md-layout>
</template>

<script>
export default {
  name: 'thumb-news',
  props: {
    noticia: Object,
  },
};
</script>

<style lang="scss">
  .news-box{
    .md-toolbar{
      height: 64px;
      flex: none;
      width: 100%;
      .md-title{
        margin-top: -8px;
        .md-icon{
          margin-top: -4px;
        }
      }
    }
    .md-card-header{
      > div{
        width: 100%;
      }
    }
    .md-card-media{
      width: 100%;
      video{
        width: 100%;
      }
    }
  }
</style>
