<template>
  <md-layout v-if="disponivel" md-flex-xsmall="100" :md-flex-small="carousel?100:50" :md-flex-medium="carousel?100:33" :md-flex-large="carousel?100:20" :md-flex-xlarge="carousel?100:20">
    <md-whiteframe md-elevation="0" class="product-thumb">
      <router-link :to="{ name: 'Produto', params: { id: this.produto.nome }}">
        <md-layout class="product-image">
          <img v-show="firebaseUrlStorage" :src="firebaseUrlStorage">
          <md-spinner class="imgLoader" md-indeterminate></md-spinner>
          <md-layout class="labels">
            <router-link v-for="(label, index) in labels" :key="index" :to="{ name: 'Busca', params: { palavrachave: 'all', labels: label.nome}}" v-if="hasLabel(label.id, label.imageUrl, index) && isValidUrl(label.imageUrl)">
              <img :src="label.imageUrl" v-tippy :title="label.nome"/>
            </router-link>
          </md-layout>
        </md-layout>
      </router-link>
      <rating :produto="this.produto"/>
      <md-layout md-flex="100">
        <span class="priceFrom" v-if="produto.priceFrom">R$ {{produto.priceFrom}}</span>
        <span class="md-title"  v-bind:class="{ promoprice: produto.priceFrom }">R$ {{produto.preco}}/{{produto.unidade}}</span>
      </md-layout>
      <span class="md-subheading">{{produto.nome}}</span>
      <transition name="slide-fade" mode="out-in">
        <md-layout md-flex="100" class="addRemove" md-align="center" v-if="showAddRemove">
          <md-layout md-flex="20">
            <md-button md-theme="red" class="md-icon-button md-primary" @click.native="removeQtd()"  v-tippy title="Removido!" :data-tippy-arrow="true" data-tippy-distance="5" data-tippy-size="small" data-tippy-sticky="true" data-tippy-trigger="click">
              <md-icon>remove</md-icon>
            </md-button>
          </md-layout>
          <md-layout md-flex="60" class="prodThumbValue" md-tag="md-input-container">
            <md-input readonly v-model="qtd" min="0" @blur="setQtdFinal()"></md-input>
            <span class="md-caption">{{produto.unidade}}</span>
          </md-layout>
          <md-layout md-flex="20">
            <md-button @click.native="addQtd()" class="md-icon-button md-primary" v-tippy title="Adicionado!" :data-tippy-arrow="true" data-tippy-distance="5" data-tippy-size="small" data-tippy-sticky="true" data-tippy-trigger="click">
              <md-icon>add</md-icon>
            </md-button>
          </md-layout>
        </md-layout>
        <md-button class="md-raised md-accent add-button" @click.native="addToCart()" v-if="!showAddRemove">Adicionar</md-button>
      </transition>
    </md-whiteframe>
    <md-snackbar md-position="top center" ref="snackbar" :md-duration="3000">
      <span>Produto adicionado</span>
      <md-button class="md-accent" @click.native="openCart">Ir para o Carrinho</md-button>
    </md-snackbar>
  </md-layout>
</template>

<script>
import lo from 'lodash';
import firebase from './../../helpers/firebaseConfig';

const db = firebase.database();
export default {
  name: 'thumb-produto',
  props: {
    produto: Object,
    carousel: Boolean,
  },
  firebase() {
    return {
      labels: db.ref('labels'),
    };
  },
  computed: {
    qtd: {
      get() {
        if (lo.find(this.$store.state.cart, item => item.key === this.produto['.key']) !== undefined) {
          const itemQtd = lo.find(this.$store.state.cart, item => item.key === this.produto['.key']).qtd;
          return itemQtd;
        }
        this.showAddRemove = false;
        return 0;
      },
      set(value) {
        this.setQtd(Number(value));
      },
    },
    disponivel() {
      this.getImageUrl(this.produto.imageUrl);
      if (this.produto.disponivel === 'sim') {
        return true;
      }
      return false;
    },
  },
  beforeMount() {
    this.showAddRemove = this.qtd > 0;
  },
  data: () => ({
    cart: [],
    showAddRemove: false,
    firebaseUrlStorage: '',
    added: false,
    removed: false,
  }),
  methods: {
    getImageUrl(imgUrl) {
      firebase.storage().ref().child(`images/thumbs/${imgUrl}`).getDownloadURL()
      .then((url) => {
        this.firebaseUrlStorage = url;
      })
      .catch((error) => {
        // eslint-disable-next-line
        console.log(error);
      });
    },
    getImageUrlLabel(imgUrl, index) {
      firebase.storage().ref().child(`labels/${imgUrl}`).getDownloadURL()
      .then((url) => {
        this.labels[index].imageUrl = url;
      });
    },
    setQtdFinal() {
      // eslint-disable-next-line
      if (this.qtd == 0) {
        this.removeFromCart();
        this.showAddRemove = false;
      }
    },
    hasLabel(label, imageUrl, index) {
      let hasLabel = false;
      lo.forEach(this.produto.labels, (item) => {
        if (item === label) {
          this.getImageUrlLabel(imageUrl, index);
          hasLabel = true;
        }
      });
      return hasLabel;
    },
    isValidUrl(userInput) {
      // eslint-disable-next-line
      var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      return regexp.test(userInput);
    },
    setQtd(value) {
      this.cart = this.$session.get('cart');

      if (!lo.find(this.$store.state.cart, item => item.key === this.produto['.key'])) {
        this.addToCart();
      } else {
        const payload = {
          key: this.produto['.key'],
          qtd: value,
        };
        const index = lo.findIndex(this.cart, produto => produto.key === payload.key);
        this.cart[index].qtd = payload.qtd;
        this.cart[index].total = +(this.cart[index].valor * payload.qtd).toFixed(2);
        this.$store.dispatch('updateQtdCart', payload);
        this.$session.set('cart', this.cart);
      }
    },
    openCart() {
      this.$root.$emit('toggle-cart');
    },
    addToCart() {
      const unidadeMinima = this.produto.unidade_minima ? Number(this.produto.unidade_minima) : 1;
      const payload = {
        key: this.produto['.key'],
        nome: this.produto.nome,
        valor: Number(this.produto.preco.replace(',', '.')),
        unidade: this.produto.unidade,
        unidade_minima: unidadeMinima,
        qtd: unidadeMinima,
        imageUrl: this.produto.imageUrl,
        total: Number(lo.ceil(Number(this.produto.preco.replace(',', '.')) * unidadeMinima, 2)),
      };
      this.showAddRemove = true;
      this.cart = !this.$session.get('cart') ? [] : this.$session.get('cart');

      if (!lo.find(this.cart, produto => produto.key === payload.key)) {
        this.cart.push(payload);
        this.$session.set('cart', this.cart);
        this.$store.dispatch('insertToCart', payload);
        this.$refs.snackbar.open();
        // Analytics add Item
        this.$ga.ecommerce.addItem({
          id: payload.key,            // Transaction ID. Required.
          name: payload.nome,    // Product name. Required.
          price: payload.valor,  // Unit price.
        });
      }
    },
    removeFromCart() {
      this.cart = this.$session.get('cart');
      // eslint-disable-next-line
      lo.remove(this.cart, (n) => {
        return n.key === this.produto.id;
      });
      this.$session.set('cart', this.cart);
      this.$store.state.cart = this.cart;
      // this.$store.dispatch('removeFromCart', this.produto['.key']);
      this.showAddRemove = false;
    },
    addQtd() {
      const unidadeMinima = this.produto.unidade_minima ? this.produto.unidade_minima : 1;
      let value = Number(this.qtd) + Number(unidadeMinima);
      value = Math.round(value * 100) / 100;
      this.setQtd(value);
    },
    removeQtd() {
      const unidadeMinima = this.produto.unidade_minima ? this.produto.unidade_minima : 1;
      if (this.qtd > unidadeMinima) {
        let value = Number(this.qtd) - Number(unidadeMinima);
        value = Math.round(value * 100) / 100;
        this.setQtd(value);
      } else {
        this.removeFromCart();
      }
    },
    openDialog(ref) {
      this.$refs[ref].open();
    },
    closeDialog(ref) {
      this.$refs[ref].close();
    },
  },
};
</script>
<style lang="scss" scoped>
  .slide-fade-enter-active {
    transition: all .1s ease;
  }
  .slide-fade-leave-active {
    transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
</style>
<style lang="scss">
  .md-rating-bar {
    padding-left: 0px;
    background: transparent!important;
  }
  .md-button{
    box-shadow: none!important;
    font-size: 16px;
  }
  .md-theme-default.md-button:not([disabled]).md-raised {
    color: rgba(255, 255, 255, .87)!important;
  }
  .VueCarousel {
    flex: 0 1 100%;
    min-width: 100%;
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    .VueCarousel-slide {
      padding: 8px;
    }
    .VueCarousel-navigation{
      .VueCarousel-navigation-button{
        transform: none;
        font-size: 60px;
        top: 180px;
        opacity: 0.3;
        transition: all 0.3s;
        &:hover{
          text-decoration: none;
          opacity: 0.7;
          &.VueCarousel-navigation--disabled{
            opacity: 0.3;
          }
        }
      }
    }
  }
  .product-thumb{
    width: 100%;
    padding: 15px 15px 10px;
    background: #fff;
    transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
    &:hover {
      opacity: 1 !important;
      box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
      transform: translate(0, -4px);
      z-index: 999;
    }
    .md-subheading{
      height: 45px;
    }
    span{
      display:block;
    }
    .add-button{
      margin: 10px 0 5px;
      width: 100%;
    }
    .product-image{
      position: relative;
      height: 240px;
      img{
        object-fit: contain;
        margin: 0 auto;
        position: relative;
        z-index: 1;
      }
      .imgLoader{
        position: absolute;
        left: 50%;
        top: 114px;
        margin-left: -25px;
      }
    }
    .addRemove{
      margin-top: 10px;
      .prodThumbValue{
        padding-top: 0;
        min-height: 0px;
        margin-bottom: 5px;
        input{
          text-align: right;
          padding-right: 5px;
          padding-top: 3px;
        }
        span{
          padding-top: 10px;
        }
      }
    }
    
  }
  @-moz-document url-prefix() { 
    .addRemove{
      .prodThumbValue{
        input{
          position: absolute;
        }
      }
    }
  }
  .imgLoader{
    position: absolute;
    left: 50%;
    top: 114px;
    margin-left: -25px;
  }

  @media all and (-ms-high-contrast:none) {
    .product-image{
      img {
        height: 200px!important;
      }
    }
  }
  .labels{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .priceFrom {
    text-decoration: line-through;
    font-size: 13px;
    margin: 6px 5px 0 0;
    color: #757575;
  }
  .md-title.promoprice {
    color: #ef6c00;
  }
</style>
