<template>
  <md-layout id="cartThumb" v-if="disponivel" md-flex-xsmall="100" md-flex-small="50" md-flex-medium="50" md-flex-large="33" md-flex-xlarge="33" class="product-box">
    <md-whiteframe md-elevation="0" class="product-thumb">
      <md-layout class="product-image">
        <md-image :md-src="firebaseUrlStorage"></md-image>
        <md-spinner class="imgLoader":md-size="20" md-indeterminate></md-spinner>
      </md-layout>
      <span class="md-title">R$ {{numberFormat(this.produto.valor)}}/{{produto.unidade}}</span>
      <span class="md-subheading">{{produto.nome}}</span>
      <md-layout md-flex="100" class="addRemove" md-align="center">
        <md-button v-if="!readOnly" md-theme="red" class="md-icon-button md-primary" @click.native="removeQtd()" v-tippy title="Removido!" :data-tippy-arrow="true" data-tippy-distance="5" data-tippy-size="small" data-tippy-sticky="true" data-tippy-trigger="click">
          <md-icon>remove</md-icon>
        </md-button>
        <span class="showQtd" v-show="readOnly">{{produto.qtd}}</span>
        <md-input-container v-show="!readOnly">
          <md-input readonly v-model="qtd" min="0" @blur="setQtdFinal()"></md-input>
        </md-input-container>
        <span class="md-caption">{{produto.unidade}}</span>
        <md-button v-if="!readOnly" class="md-icon-button md-primary" @click.native="addQtd()" v-tippy title="Adicionado!" :data-tippy-arrow="true" data-tippy-distance="5" data-tippy-size="small" data-tippy-sticky="true" data-tippy-trigger="click">
          <md-icon>add</md-icon>
        </md-button>
      </md-layout>
    </md-whiteframe>
  </md-layout>
</template>

<script>
import lo from 'lodash';
// eslint-disable-next-line
import firebase from './../../helpers/firebaseConfig';

export default {
  name: 'thumb-produto',
  props: {
    produto: Object,
    elevation: String,
    readOnly: Boolean,
  },
  data: () => ({
    firebaseUrlStorage: null,
  }),
  computed: {
    qtd: {
      get() {
        if (lo.find(this.$store.state.cart, item => item.key === this.produto.key) !== undefined) {
          const itemInfo = lo.find(this.$store.state.cart, item => item.key === this.produto.key);
          return itemInfo.qtd;
        }
        return 0;
      },
      set(value) {
        this.setQtd(Number(value));
      },
    },
    disponivel() {
      this.getImageUrl(this.produto.imageUrl);
      if (this.produto.nome) {
        return true;
      }
      return false;
    },
  },
  methods: {
    numberFormat(valor) {
      let result;
      result = parseFloat(Math.round(valor * 100) / 100).toFixed(2);
      result = result.toString().replace('.', ',');
      return result;
    },
    setQtdFinal() {
      // eslint-disable-next-line
      if (this.qtd == 0) {
        this.removeFromCart();
      }
    },
    getImageUrl(imgUrl) {
      firebase.storage().ref().child(`images/thumbs/${imgUrl}`).getDownloadURL()
      .then((url) => {
        this.firebaseUrlStorage = url;
      })
      .catch((error) => {
        // eslint-disable-next-line
        console.log(error);
      });
    },
    setQtd(value) {
      this.cart = this.$session.get('cart');
      const payload = {
        key: this.produto.key,
        qtd: value,
      };
      const index = lo.findIndex(this.cart, produto => produto.key === payload.key);

      this.cart[index].qtd = payload.qtd;
      this.cart[index].total = +(this.cart[index].valor * payload.qtd).toFixed(2);
      this.$session.set('cart', this.cart);

      this.$store.dispatch('updateQtdCart', payload);
    },
    removeFromCart() {
      this.cart = this.$session.get('cart');
      // eslint-disable-next-line
      lo.remove(this.cart, (n) => {
        return n.key === this.produto.key;
      });
      this.$session.set('cart', this.cart);
      this.$store.dispatch('removeFromCart', this.cart);
    },
    addQtd() {
      const unidadeMinima = this.produto.unidade_minima ? this.produto.unidade_minima : 1;
      let value = Number(this.qtd) + Number(unidadeMinima);
      value = Math.round(value * 100) / 100;
      this.setQtd(value);
    },
    removeQtd() {
      const unidadeMinima = this.produto.unidade_minima ? this.produto.unidade_minima : 1;
      if (this.qtd > unidadeMinima) {
        let value = Number(this.qtd) - Number(unidadeMinima);
        value = Math.round(value * 100) / 100;
        this.setQtd(value);
      } else {
        this.removeFromCart();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
    .product-box {
      .product-thumb {
        .md-subheading {
          height: 25px;
        }
        .imgLoader{
          top: 54px;
          left: 50%;
          margin-left: -10px;
        }
      }
    }
  .product-box {
    margin-bottom: 15px;
    height: 226px;    
    .product-thumb {
      span{
        text-align: center
      }
      .md-icon-button{
        width: 20px;
      }
      .product-image {
        height: 100px;
        .md-image{
          height: 100px;
        }
      }
      .md-input-container{
        width: 50px;
        display: inline-block;
        padding-top: 0px;
        min-height: 30px;
        margin-bottom: 0px;
        .md-input{
          text-align: center;
        }
      }
      .showQtd{
        line-height: 40px;
        margin-right: 5px;
        font-size: 16px;
      }
    }
    .md-icon-button{
      margin: 0;
    }
    span{
      &.md-caption{
        color: rgba(0, 0, 0, .57);
        display: inline-block;
        line-height: 40px;
      }
    }
  }
  @media all and (-ms-high-contrast:none) {
    #cartThumb{
      .product-image{
        img {
          height: 100px!important;
        }
      }
    }
  }
</style>
