<template>
  <div id="banners">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Novo Banner">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout md-gutter="16">
              <md-layout md-with-hover md-flex="100">
                <md-layout  md-flex="100">
                  <form class="form-default" novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                      <label>Nome</label>
                      <md-input v-model="banner.nome" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Click Url</label>
                      <md-input v-model="banner.url" required></md-input>
                    </md-input-container>

                    <p>Imagem</p>
                    <img id="imagem" width="300px" v-bind:src="firebaseUrlStorage"/>
                    <image-uploader
                      ref="fileUpload"
                      :debug="1"
                      :quality="1"
                      :autoRotate="true"
                      :preview="true"
                      :className="['fileinput', { 'fileinput--loaded' : hasImage }]"
                      @input="getFiles"
                    ></image-uploader>

                    <p>Imagem Para Mobile</p>
                    <img id="imagem" width="300px" v-bind:src="firebaseUrlStorageMobile"/>
                    <image-uploader
                      ref="fileUploadMobile"
                      :debug="1"
                      :quality="1"
                      :autoRotate="true"
                      :preview="true"
                      :className="['fileinput', { 'fileinput--loaded' : hasImage }]"
                      @input="getFilesMobile"
                    ></image-uploader>

                    <md-switch v-model="banner.ativo">Ativo</md-switch>

                    <md-button @click.native="onSubmit" class="md-raised md-accent saveButton">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                  </form>
                </md-layout>
              </md-layout>
            </md-layout>
          </div>
        </md-theme>
        <md-dialog-alert
          :md-content="message.content"
          md-ok-text="Ok"
          ref="dialogMessage">
        </md-dialog-alert>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import { ImageUploader } from 'vue-image-upload-resize';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  const msgError = 'Um erro ocorreu, informe este erro ao seu desenvolvedor:';
  const msgSucesso = 'Salvo com sucesso.';

  export default{
    data: () => ({
      loading: false,
      local: '',
      selectedData: [],
      sort: {},
      page: {},
      banner: {},
      message: {
        content: ' ',
      },
      img: '',
      scale: 1,
      quality: 100,
      originalSize: true,
      original: {},
      originalMobile: {},
      hasImage: false,
      // image: this.store.state.produtoUrl,
      categoriaSelecionada: '',
      firebaseUrlStorage: '',
      firebaseUrlStorageMobile: '',
    }),
    components: {
      ImageUploader,
    },
    /* eslint-disable prefer-template */
    mounted() {
      if (this.$route.params.idbanner !== undefined) {
        const payload = this.$route.params.idbanner;
        this.$store.dispatch('getImagem', payload);
        this.getImageUrl(this.banner.imageUrl);
        this.getImageUrl(this.banner.imageUrlMobile, 'mobile');
      }
    },
    firebase() {
      const fireQuery = {
        produtores: db.ref('produtores'),
        banner: {
          source: db.ref(`banners/${this.$route.params.idbanner}`),
          asObject: true,
        },
      };
      if (!this.$route.params.idbanner) {
        delete fireQuery.produto;
      }
      return fireQuery;
    },
    methods: {
      getImageUrl(imgPath, type) {
        let path = `banners/${imgPath}`;
        let variable = 'firebaseUrlStorage';
        if (type === 'mobile') {
          path = `banners/mobile/${imgPath}`;
          variable = 'firebaseUrlStorageMobile';
        }
        firebase.storage().ref().child(path).getDownloadURL()
        .then((url) => {
          this[variable] = url;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
      },
      getFiles() {
        this.original = this.$refs.fileUpload.$el.children[1].files[0];
      },
      getFilesMobile() {
        this.originalMobile = this.$refs.fileUploadMobile.$el.children[1].files[0];
      },
      getImage(payload) {
        this.store.dispatch('getImage', payload);
      },
      onSubmit() {
        this.$parent.$refs.loading.showLoading();

        const payload = {
          nome: this.banner.nome,
          url: this.banner.url || '',
          ativo: this.banner.ativo || false,
        };
        if (this.$route.params.idbanner !== undefined) {
          payload.id = this.$route.params.idbanner;
        }

        if (!this.validaBanner()) {
          return false;
        }
        if (this.original.name || this.originalMobile.name) {
          payload.image = this.original;
          payload.imageUrl = this.original.name || this.banner.imageUrl;
          payload.imageMobile = this.originalMobile || this.banner.imageUrlMobile;
          payload.imageUrlMobile = this.originalMobile.name;
          this.$store.dispatch('uploadImagemBanner', payload).then(() => {
            delete payload.image;
            delete payload.imageMobile;
            this.$store.dispatch('saveBanner', payload).then(() => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = msgSucesso;
              this.openDialog('dialogMessage');
            }).catch((error) => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = `${msgError} ${error}`;
              this.openDialog('dialogMessage');
            });
          }).catch((error) => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = `Upload Error: ${msgError} ${error}`;
            this.openDialog('dialogMessage');
          });
        } else {
          payload.imageUrl = this.banner.imageUrl || '';
          payload.imageUrlMobile = this.banner.imageUrlMobile || '';
          this.$store.dispatch('saveBanner', payload).then(() => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = msgSucesso;
            this.openDialog('dialogMessage');
          }).catch((error) => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = `${msgError} ${error}`;
            this.openDialog('dialogMessage');
          });
        }
        return true;
      },
      validaBanner() {
        let validate = true;
        if (!this.banner.nome) {
          this.message.content = 'Preencha o nome do banner.';
          validate = false;
        }

        if (!validate) {
          this.$parent.$refs.loading.hideLoading();
          this.openDialog('dialogMessage');
        }
        return validate;
      },
      onSelect(data) {
        this.selectedData = data;
        this.$forceUpdate();
      },
      onSort(sort) {
        this.sort = sort;
      },
      onPagination(page) {
        this.page = page;
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
    },
  };
</script>

<style lang="scss">

</style>

