<template>
  <div id="produtos">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Novo Produtor">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout md-gutter="16">
              <md-layout md-with-hover md-flex="100">
                <md-layout  md-flex="100">
                  <form class="form-default" validate @submit.stop.prevent="submit">
                    
                    <md-input-container>
                      <label>Nome</label>
                      <md-input v-model="produtor.nome" required></md-input>
                    </md-input-container>
                    
                    <md-input-container>
                      <label>E-mail</label>
                      <md-input v-model="produtor.email" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Telefone</label>
                      <md-input v-model="produtor.telefone" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Endereço</label>
                      <md-input v-model="produtor.end" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Numero</label>
                      <md-input v-model="produtor.numero" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Complemento</label>
                      <md-input v-model="produtor.complemento" required></md-input>
                    </md-input-container>

                    <md-table-card class="tabela-pedidos">
                      <md-toolbar class="md-accent">
                        <h2 class="md-title" style="flex: 1">Lista de Produtos</h2>
                      </md-toolbar>

                      <md-table-alternate-header md-selected-label="selecionados">
                        <md-button class="md-icon-button">
                          <md-icon>delete</md-icon>
                        </md-button>
                        
                        <md-button class="md-icon-button">
                          <md-icon>more_vert</md-icon>
                        </md-button>
                      </md-table-alternate-header>

                      <md-table md-sort="produto" @sort="onSort" @select="onSelect" >
                        <md-table-header>
                          <md-table-row>
                            <md-table-head>Produto</md-table-head>
                          </md-table-row>
                        </md-table-header>

                        <md-table-body>
                          <md-table-row v-for="(row, rowIndex) in produtor.produtos" :key="rowIndex" :md-item="row">
                            <md-table-cell>
                              {{ row.nome }}
                            </md-table-cell>
                          </md-table-row>
                        </md-table-body>
                      </md-table>
                    </md-table-card>

                    <md-dialog class="md-dialog-bg" md-open-from="#addProduct" md-close-to="#addProduct" ref="dialogProduct">
                      <md-dialog-title>Adicionar Produto</md-dialog-title>

                      <md-dialog-content>
                        <form>
                          <md-input-container>
                            <label>Produto</label>
                            <md-input></md-input>
                          </md-input-container>
                          
                        </form>
                      </md-dialog-content>
                      
                      <md-dialog-actions>
                        <md-button class="md-primary" @click.native="closeDialog('dialogProduct')">Cancelar</md-button>
                        <md-button class="md-primary" @click.native="closeDialog('dialogProduct')" disabled>Salvar</md-button>
                      </md-dialog-actions>
                    </md-dialog>

                    <md-button class="md-raised md-accent saveButton" @click.native="onSubmit">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                  </form>
                </md-layout>
              </md-layout>
            </md-layout>
          </div>
        </md-theme>
        <md-dialog-alert
          :md-content="message.content"
          md-ok-text="Ok"
          ref="dialogMessage">
        </md-dialog-alert>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  const msgError = 'Um erro ocorreu, informe este erro ao seu desenvolvedor:';
  const msgSucesso = 'Salvo com sucesso.';

  export default{
    data: () => ({
      produtor: {
        complemento: '123',
      },
      selectedData: [],
      sort: {},
      page: {},
      message: {
        content: '',
      },
      this: this,
    }),
    firebase() {
      return {
        /* eslint-disable prefer-template */
        produtor: {
          source: db.ref('produtores/' + this.$route.params.idprodutor),
          asObject: true,
        },
      };
    },
    methods: {
      validaProdutor() {
        let validate = true;
        if (!this.produtor.nome) {
          this.message.content = 'Preencha o nome do produtor.';
          validate = false;
        }
        if (!validate) {
          this.$parent.$refs.loading.hideLoading();
          this.openDialog('dialogMessage');
        }
        return validate;
      },
      onSubmit() {
        this.$parent.$refs.loading.showLoading();
        if (!this.validaProdutor()) {
          return false;
        }
        if (this.$route.params.idprodutor === undefined) {
          const payload = {
            id: '',
            nome: this.produtor.nome,
            telefone: this.produtor.telefone || '',
            email: this.produtor.email || '',
            end: this.produtor.end || '',
            numero: this.produtor.numero || '',
            complemento: this.produtor.complemento || '',
          };
          this.$store.dispatch('saveProdutor', payload)
            .then(() => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = msgSucesso;
              this.openDialog('dialogMessage');
            }).catch((error) => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = `${msgError} ${error}`;
              this.openDialog('dialogMessage');
            });
        } else {
          const payload = {
            id: this.produtor['.key'],
            nome: this.produtor.nome,
            telefone: this.produtor.telefone || '',
            email: this.produtor.email || '',
            end: this.produtor.end || '',
            numero: this.produtor.numero || '',
            produtos: this.produtor.produtos || '',
            complemento: this.produtor.complemento || '',
          };
          this.$store.dispatch('saveProdutor', payload)
            .then(() => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = msgSucesso;
              this.openDialog('dialogMessage');
            }).catch((error) => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = `${msgError} ${error}`;
              this.openDialog('dialogMessage');
            });
        }
        return true;
      },
      onSelect(data) {
        this.selectedData = data;
        this.$forceUpdate();
      },
      onSort(sort) {
        this.sort = sort;
      },
      onPagination(page) {
        this.page = page;
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
    },
  };
</script>

<style lang="scss">

</style>

