<template>
  <div id="home">
    <header-bar></header-bar>

    <md-layout class="grid main-content" md-gutter="16">
      
      <md-layout>
        <md-layout md-tag="article" class="article">

          <md-layout class="faleConoscoBlock" md-flex="50" md-flex-small="100"> 
            <section-title class="titleFlex">Nossos Agrônomos</section-title>
            <p>Já imaginou você recebendo sua lista de compras da feira em casa todas as semanas?</p> 
            <p>Ainda melhor, sabendo que os seus produtos vêm frescos dos produtores locais com a qualidade garantida por dois Engenheiros Agrônomos formados na melhor escola de agronomia do país, a ESALQ/USP. </p>
            <p>Essa é a proposta do Seo Salada, levar produtos frescos e de qualidade direto do produtor para sua mesa.</p>
            <p> Todas as semanas recebemos pedidos até o domingo, vamos a campo colher os produtos e entregamos até terça-feira. </p>
            <p>Além dessa rotina, a busca por novas parcerias gera conhecimento e informação aos produtores e consumidores fazendo do Seo Salada um canal de comunicação aberto.</p>
          </md-layout>

          <md-layout md-flex="50" md-flex-small="100" md-align="center">
            <md-whiteframe  md-elevation="9">
              <md-image class="agronomos" md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FnossosAgronomos.jpg?alt=media&token=e615e829-1733-4005-ad9b-7d248b45200d" alt="Nossos Agronomos"></md-image>
            </md-whiteframe>
          </md-layout>

          <md-layout class="faleConoscoBlock" md-flex="100">
            <section-title class="titleFlex">Missão e Visão</section-title>
          </md-layout>
          
          <md-layout md-flex="50" md-flex-small="100" md-align="center">
            <md-whiteframe md-elevation="9">
              <md-image md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2Fmissao.jpg?alt=media&token=33ad4d2d-74ba-44fa-ab35-c15fe0a243a7" alt="Missão"></md-image>
            </md-whiteframe>
          </md-layout>
          
          <md-layout md-flex="50" md-flex-small="100" md-align="center">
            <md-whiteframe  md-elevation="9">
              <md-image md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2Fvisao.jpg?alt=media&token=e6e3fa32-29fe-47b2-9581-999d80e32e94"></md-image>
            </md-whiteframe>
          </md-layout>

          <md-layout md-flex="50" md-flex-small="100" md-align="center">
            <md-whiteframe md-elevation="9">
              <md-image width="479" md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2Fvalores.jpg?alt=media&token=8c8774fd-3f52-438e-8df6-5a8a4d286969"></md-image>
            </md-whiteframe>
          </md-layout>

          <md-layout class="faleConoscoBlock" md-flex-small="100" md-flex="50">
            <section-title class="titleFlex">Valores</section-title>
              <p class="pList">Qualidade: Garantida pelos nossos Engenheiros Agrônomos, da semente até o prato com assistência e parceria do produtor e informação ao consumidor.</p>
              <p class="pList">Transparência: Ser franco e honesto nas parcerias com produtores e clientes, oferecendo o melhor serviço e informação sobre os produtos. Mantendo sempre um canal de comunicação aberto.</p>
              <p class="pList">Consumo local: É o consumo de produtos da própria região, favorecendo o desenvolvimento local e possibilitando a melhor qualidade e rastreabilidade do produto.</p>
          </md-layout>

        </md-layout>
      </md-layout>
    </md-layout>

    <footer-bar></footer-bar>
  </div>
</template>

<script>
  export default {
  };
</script>

<style lang="scss">
  .article{
    .titleFlex{
      display: block;
    }
    .faleConoscoBlock{
      display: block;
    }
    p{
      display: inline-block;
    }
    p.pList {
      padding-left: 20px;
      position: relative;
    }
    p.pList::before {
      content: "• ";
      color: #4caf50;
      font-size: 31px;
      height: 12px;
      position: absolute;
      left: 0;
    }
    .md-whiteframe{
      border-radius: 5px;
      margin: 30px 15px 0;

      img{
        width: 500px;
        margin: 0;

        &.agronomos{
          width: 479px;
        }
        &:nth-child(even){
          float: left;
        }
        &:nth-child(odd){
          float: right;
        }
      }
    }
  }
</style>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped> 
  h3{
    width: 100%;
  }
</style>
