<template>
  <div id="busca">
    <header-bar></header-bar>
    <md-layout class="grid main-content" md-gutter="16">
      <md-layout class="column-filter" md-flex-xsmall="100" md-flex-small="33" md-flex-medium="20" md-column>
        <md-layout>
          <div class="page-content">
            <md-whiteframe md-tag="md-toolbar" md-elevation="0" class="main-header">
              <div class="md-title">Categorias</div>
            </md-whiteframe>
            <md-whiteframe class="main-sidebar-links" md-elevation="0">
              <md-list class="md-dense">
                <md-list-item v-for="(categoria, index) in categorias" :key="index" v-if="categoria.nome">
                  <router-link exact :to="{ name: 'Busca', params: { palavrachave: palavraChave, tipo: categoria.nome, order: order, labels: getLabelsPush() }}">{{categoria.nome}}<span>{{categoriasQtd[categoria.id]}}</span></router-link>
                </md-list-item>
              </md-list>
            </md-whiteframe>
          </div>
        </md-layout>
        <md-layout>
          <div class="page-content">
            <md-whiteframe md-tag="md-toolbar" md-elevation="0" class="main-header">
              <div class="md-title">Filtros</div>
            </md-whiteframe>
            <md-whiteframe class="main-sidebar-links" md-elevation="0">
              <md-list class="md-dense">
                <md-list-item v-for="(label, index) in labels" :key="index">
                  <span class="md-subheading produtorLocal" exact>
                    <img class="imgLabel" :src="label.imageUrl" v-tippy :title="label.nome" v-if="isValidUrl(label.imageUrl)"/>
                    {{label.nome}}
                    {{getImageUrlLabel(label.imageUrl, index)}}
                  </span>
                  <md-switch :value="getValueFilter(label.nome)" @change="filterLabel(label)">
                  </md-switch>
                </md-list-item>
              </md-list>
            </md-whiteframe>
          </div>
        </md-layout>
      </md-layout>
      <md-layout md-flex-xsmall="100" md-flex="80">
        <md-layout class="related-products" md-align="start" md-flex="100">
          <md-layout md-flex-xsmall="100" md-flex="100" class="searchChips">
            <md-chip md-deletable v-if="palavraChave && palavraChave !== 'all'" @click.native="removePalavraChave">{{palavraChave}}</md-chip>
            <md-chip md-deletable v-if="tipo" @click.native="removeTipo">{{tipo}}</md-chip>
          </md-layout>
          <md-layout md-flex-xsmall="100" md-flex="80">
            <h3 class="md-subheading" v-if="palavraChave && palavraChave !== 'all'">{{produtosArray.length}} resultados encontrados para "{{palavraChave}}"</h3>
          </md-layout>
          <md-layout md-flex-xsmall="100" md-flex="20">
            <md-input-container>
              <label for="order">Ordernar por</label>
              <md-select name="order" id="order" v-model="orderValue" @change="orderQuery">
                <md-option value="mais_vendidos">Mais Vendidos</md-option>
                <md-option value="az" >A-Z</md-option>
                <md-option value="za" >Z-A</md-option>
                <md-option value="menor_preco">Menor Preço</md-option>
                <md-option value="maior_preco">Maior Preço</md-option>
                <!-- <md-option value="mais_vendidos">Mais Vendidos</md-option> -->
              </md-select>
            </md-input-container>
          </md-layout>
          <md-layout md-flex="100" md-gutter="16" class="product-box">
            <thumb-produto v-for="(item, index) in produtosArray" :produto="item" :key="index"></thumb-produto>
          </md-layout>
        </md-layout>
      </md-layout>
    </md-layout>
    <footer-bar></footer-bar>
  </div>
</template>

<script>
  import lo from 'lodash';
  import moment from 'moment';
  import firebase from 'firebase';
  import ThumbProduto from '../Shared/ThumbProduto';

  const db = firebase.database();

  export default {
    name: 'busca',
    components: {
      ThumbProduto,
    },
    data() {
      return {
        orderValue: '',
        produtos: {},
        item: {},
        searchItems: [],
        categoriasQtd: [],
        filterLabels: [],
      };
    },
    firebase() {
      return {
        pedidos: {
          source: db.ref('pedidos'),
          asObject: false,
        },
        produtos: {
          source: db.ref('produtos'),
          asObject: false,
          readyCallback: () => {
            this.getBestSellers();
          },
        },
        labels: db.ref('labels'),
        categorias: {
          source: db.ref('categorias'),
          asObject: true,
          readyCallback: () => {
            delete this.categorias['.key'];
            lo.forEach(this.categorias, (categoria, i) => {
              firebase.database().ref('produtos')
              .orderByChild('categoria')
              .equalTo(categoria.id)
              .once('value', (snapshot) => {
                const produtos = snapshot.val();
                let notProduct = false;
                this.categoriasQtd[categoria.id] = 0;
                lo.forEach(produtos, (produto) => {
                  if (produto.disponivel === 'sim') {
                    this.categoriasQtd[categoria.id] += 1;
                    notProduct = true;
                  }
                });
                if (!notProduct) {
                  delete this.categorias[i];
                }
              });
            });
          },
        },
      };
    },
    methods: {
      getValueFilter(lbl) {
        const index = lo.findIndex(this.filterLabels, o => o === lbl);
        if (index >= 0) {
          return true;
        }
        return false;
      },
      getLabelsPush() {
        if (this.filterLabels[0]) {
          return this.filterLabels.join('-');
        }
        return null;
      },
      filterLabel(label) {
        const lbl = label;
        delete lbl['.key'];
        const index = lo.findIndex(this.filterLabels, o => o === lbl.nome);
        if (index >= 0) {
          this.filterLabels.splice(index, 1);
        } else {
          this.filterLabels.push(lbl.nome);
        }
        if (this.filterLabels.join('-')) {
          this.$router.push({
            name: 'Busca',
            params: {
              palavrachave: 'all',
              tipo: this.tipo,
              order: this.orderValue,
              labels: this.filterLabels.join('-'),
            },
          });
        } else {
          this.$router.push({
            name: 'Busca',
            params: {
              palavrachave: 'all',
              tipo: this.tipo,
              order: this.orderValue,
            },
          });
        }
      },
      removePalavraChave() {
        this.$router.push({
          name: 'Busca',
          params: {
            palavrachave: 'all',
            tipo: this.tipo,
            order: this.orderValue,
            labels: this.filterLabels.join('-'),
          },
        });
      },
      removeTipo() {
        this.$router.push({
          name: 'Busca',
          params: {
            palavrachave: this.palavraChave,
            order: this.orderValue,
            labels: this.filterLabels.join('-') || null,
          },
        });
      },
      orderQuery() {
        this.$router.push({
          name: 'Busca',
          params: {
            palavrachave: this.palavraChave,
            tipo: this.tipo,
            order: this.orderValue,
            labels: this.filterLabels.join('-') || null,
          },
        });
      },
      filterLocal() {
        this.$router.push({
          name: 'Busca',
          params: {
            palavrachave: this.palavraChave,
            tipo: this.tipo,
            order: this.order,
            labels: this.filterLabels.join('-') || null,
          },
        });
      },
      getImageUrlLabel(imgUrl, index) {
        firebase.storage().ref().child(`labels/${imgUrl}`).getDownloadURL()
        .then((url) => {
          this.labels[index].imageUrl = url;
        });
      },
      isValidUrl(userInput) {
        // eslint-disable-next-line
        var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        return regexp.test(userInput);
      },
      getBestSellers() {
        let pedidos = this.pedidos;
        let itens = [];
        pedidos = lo.filter(pedidos, (o) => {
          const year = moment().startOf('year').format('YYYY');
          const yearPedido = moment(o.data).format('YYYY');
          return year === yearPedido && o.status !== 'Cancelado';
        });
        pedidos.forEach((pedido) => {
          pedido.itens.forEach((item) => {
            itens.push(item);
          });
        });
        itens = lo.groupBy(itens, 'nome');
        lo.forEach(itens, (item) => {
          const seller = item[0];
          const key = seller.key || seller.id;
          seller.qtd = 0;
          item.forEach((itemPedido) => {
            seller.qtd += Number(itemPedido.qtd);
          });
          lo.filter(this.produtos, (prod, index) => {
            if (prod.id === key) {
              this.produtos[index].qtd = seller.qtd;
            } else if (!this.produtos[index].qtd) {
              this.produtos[index].qtd = 0;
            }
            return true;
          });
        });
        return this.produtos;
      },
    },
    mounted() {
      this.orderValue = this.order;
      this.getBestSellers();
    },
    computed: {
      produtosArray() {
        let result = this.getBestSellers();
        result.forEach((element, index) => {
          const obj = element;
          obj['.key'] = element.id || element.key;
          obj.id = obj['.key'];
          result[index] = obj;
        }, this);

        if (!this.order || this.order === 'mais_vendidos') {
          result = lo.orderBy(result, ['qtd'], ['desc']);
        }

        if (this.order === 'az') {
          result = lo.orderBy(result, ['nome'], ['asc']);
        }

        if (this.order === 'za') {
          result = lo.orderBy(result, ['nome'], ['desc']);
        }

        if (this.order === 'menor_preco') {
          result = lo.orderBy(result, ['preco'], ['asc']);
        }

        if (this.order === 'maior_preco') {
          result = lo.orderBy(result, ['preco'], ['desc']);
        }

        if (this.palavraChave && this.palavraChave !== 'all') {
          result = result
            .filter(produto => produto.nome.toLowerCase().match(this.palavraChave.toLowerCase()));
        }
        if (this.tipo) {
          result = result.filter((produto) => {
            if (this.categorias[produto.categoria]) {
              return this.categorias[produto.categoria].nome.match(this.tipo);
            }
            return false;
          });
        }
        if (this.labelsString) {
          this.filterLabels = this.labelsString.split('-');
          lo.forEach(this.filterLabels, (label) => {
            result = result
              .filter((produto) => {
                let filter = false;
                lo.forEach(produto.labels, (labelProduto) => {
                  const index = lo.findIndex(this.labels, o => o.id === labelProduto);
                  if (index >= 0) {
                    if (label === this.labels[index].nome) {
                      filter = true;
                    }
                  }
                });
                return filter;
              });
          });
        }

        result = result
            .filter(produto => produto.disponivel.toLowerCase().match('sim'));

        return result;
      },
      palavraChave() {
        return this.$route.params.palavrachave;
      },
      tipo() {
        return this.$route.params.tipo;
      },
      labelsString() {
        return this.$route.params.labels;
      },
      order() {
        if (this.$route.params.order) {
          return this.$route.params.order;
        }
        return 'mais_vendidos';
      },
    },
  };
</script>

<style lang="scss" scoped>
  #busca{
    .router-link-exact-active{
      font-weight: bold;
    }
    .produtorLocal{
      color: rgba(0, 0, 0, .67);
      font-weight: 800;
    }
    .md-list.md-dense .md-list-item .md-list-item-container{
      font-size: 15px;
    }
    .searchChips{
      .md-chip{
        margin-right: 5px;
        margin-top: 10px;
      }
    }
  }
  .page-content {
    min-height: 100%;
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-flow: column
  }

  .main-header {
    z-index: 2;
    color: #fff !important;
  }
  .main-sidebar-links{
    .md-list-item{
      span{
        color: #c0c0c0;
      }
    }
  }
  .column-filter > .md-layout{
    flex: none;
  }
  .md-title {
    flex: 1;

    @media (min-width: 1281px) {
      margin-left: 8px;
    }
  }
</style>
