<template>
  <div id="confirmacao">
    <header-bar></header-bar>
    <md-layout id="order-summary" class="grid main-content" md-gutter="16">
      <md-layout md-gutter="40" md-flex="100">
        <md-layout md-flex-xsmall="100" md-flex="50" class="titleConfirmation">
          <h2 class="md-display-1">Pedido Efetuado</h2>
        </md-layout>
        <md-layout md-flex-xsmall="100" md-flex="50" class="orderNumber">
          <h2 class="md-caption">Número do pedido:</h2>
          <h2 class="md-display-1 mainColor">{{order.numero}}</h2>
        </md-layout>
        <md-layout class="orderMessage">
          <p class="md-subheading">Seu pedido foi efetuado e será entregue dia <b class="deliverDate">{{formatDate(order.data_entrega)}}</b>, no período da <b class="deliverDate">{{order.periodo}}</b></p>
          <p class="md-subheading">Nosso time irá avisa-lo quando o pedido estiver a caminho.</p>
        </md-layout>
      </md-layout>
    </md-layout>
    <order-summary :produtos="this.produtos" :readOnly="true" :objSeoDesconto="seoDesconto"></order-summary>

    <footer-bar></footer-bar> 
  </div>
</template>

<script>
  import moment from 'moment';
  import OrderSummary from '../Shared/OrderSummary';
  import fb from '../../helpers/firebaseConfig';
  
  const db = fb.database();

  export default {
    components: {
      'order-summary': OrderSummary,
    },
    data() {
      return {
        produtos: {},
        order: {},
        seoDesconto: {},
      };
    },
    methods: {
      formatDate(date) {
        return moment(date, 'YYYY MM DD').format('DD/MM/YYYY');
      },
    },
    mounted() {
      db.ref('pedidos')
        .orderByChild('usuarioID')
        .equalTo(this.$store.state.user.id)
        .limitToLast(1)
        .once('value', (snapshot) => {
          const order = snapshot.val();
          this.order = order[Object.keys(order)[0]];
          // Adicionando zeros no numero do pedido
          this.order.numero = Array(8).join('0').slice((8 || 2) * -1) + this.order.numero;
          this.produtos = order[Object.keys(order)[0]].itens;
          this.seoDesconto = order[Object.keys(order)[0]].seoDesconto || {};
          this.$ga.ecommerce.addTransaction({
            id: this.order.numero,
            affiliation: 'Seo Salada',
            revenue: this.order.total,
            shipping: this.order.frete,
          });
        });
    },
  };
</script>
<style lang="scss">

</style>
