<template>
  <div id="detalhePedido">
    <header-bar></header-bar>

    <order-summary :numPedido="numPedido" :readOnly="true"></order-summary>

    <footer-bar></footer-bar> 
  </div>
</template>

<script>
  import OrderSummary from '../Shared/OrderSummary';

  export default {
    components: {
      'order-summary': OrderSummary,
    },
    computed: {
      numPedido() {
        return this.$route.params.pedido;
      },
    },
  };
</script>
<style lang="scss">

</style>
