<template>
  <div id="embreve">    
    <md-layout class="grid" md-align="center">
      <md-layout md-flex="100">
        <md-toolbar class="md-large">
          <md-layout md-align="center">
            <md-layout md-align="center">
              <md-image :md-src="require('../../assets/images/logo_mono.png')"></md-image>
            </md-layout>
          </md-layout>
        </md-toolbar>
        <md-layout md-flex="100" md-align="center" class="BgEmbreve">
          <md-image :md-src="require('../../assets/images/frutas.png')"></md-image>
        </md-layout>
        <md-layout class="overlay">
          <div>
            <h2 class="md-display-4">Em breve</h2>
            <p class="md-display-1">
              A qualidade do seu produtor local
            </p>
            <p class="md-display-1">
              Entregue na sua casa
            </p>
            <a href="https://www.facebook.com/SeoSalada/" rel="noopener">
              <icon name="facebook-official" scale="2"></icon>
              /SeoSalada
            </a>
            <router-link to="#">
              <icon name="whatsapp" scale="2"></icon>
              <span>Filipi - (11) 94396-4621</span><br>
              <span>Lucas - (11) 97771-6933</span>
            </router-link>
          </div>
        </md-layout>
      </md-layout>
    </md-layout>
  </div>
</template>

<script>
  export default {
    name: 'EmBreve',
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  #embreve{
    .grid{
      &> .md-layout{
        margin-bottom: 0px;
      }
      .md-toolbar{
        width: 100%;
        height: 175px;
        border-bottom: solid 5px #8bc34a;
        img{
          object-fit: contain;
          height: 130px;
        }
      }
      .overlay{
        background: rgba(0,0,0,0.7);
        color: white;
        position: absolute;
        width: 100%;
        height: 594px;
        top: 175px;
        div{
          text-align: center;
          width: 100%;
          p, h2{
            font-weight: 1000;
            color: white;
          }
          a{
            color: white;
            margin: 20px 20px 0;
            svg{
              margin-right: 5px;
            }
            span{
              display: inline-block;
            }
          }
        }
      }
      .BgEmbreve{
        background: #8bc34a;
      }
    }
  }
  /* 
  Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
  */
  @media screen and (min-width: 0px) {
    h2{
      font-size: 75px;
    } 
    p{
      font-size: 20px;
    }
    a{
      display: block;
    }
  }
  /* 
  Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
  */
  @media screen and (min-width: 768px) {
    h2{
      font-size: 80px;
    } 
    p{
      font-size: 25px;
    }
    a{
      display: inline;
    }
    a{
      span:last-child{
        margin-left: 237px;
      }
    }
  }

  /* 
  Com uma largura mínima de 992 pixels. Monitores por exemplo.
  */
  @media screen and (min-width: 992px) {
    h2{
      font-size: 90px;
    } 
    p{
      font-size: 30px;
    }
    a{
      span:last-child{
        margin-left: 237px;
      }
    }
  }

  /* 
  Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs.
  */
  @media screen and (min-width: 1200px) {
    h2{
      font-size: 112px;
    } 
    p{
      font-size: 34px;
    }
    a{
      span:last-child{
        margin-left: 237px;
      }
    }
  }
</style>
