<template> 
  <div id="faleconosco">
    <header-bar></header-bar>
    <md-layout class="grid" md-align="center" md-flex="100">
      <md-layout md-flex="100" md-align="center">
        <md-layout class="login-wrap" md-flex-xsmall="100" md-flex-small="75" md-flex="33">
          <section-title>Fale Conosco</section-title>    
          <p>Ficou com alguma dúvida, não encontrou o que procurava ou teve algum problema? </p>
          <p>Mande sua mensagem e teremos o prazer em responde-la.</p>
          <form v-on:change='validateForm'>
            <md-layout class="grid" md-gutter="16">
              <md-layout md-flex="100">
                <md-input-container :class="{'md-input-invalid': validate.name.error }">
                  <label>Nome</label>
                  <md-input v-model="faleconosco.name" type="email" required></md-input>
                  <span class="md-error">{{validate.name.errorMsg}}</span>
                </md-input-container>
              </md-layout>
              <md-layout md-flex="100">
                <md-input-container :class="{'md-input-invalid': validate.email.error }">
                  <label>E-mail</label>
                  <md-input v-model="faleconosco.email" type="text" required></md-input>
                  <span class="md-error">{{validate.email.errorMsg}}</span>
                </md-input-container>
              </md-layout>
              <md-layout md-flex="100">
                <md-input-container>
                  <label>Telefone</label>
                  <md-input v-model="faleconosco.phone" type="text"></md-input>
                </md-input-container>
              </md-layout>
              <md-layout md-flex="100">
                <md-input-container :class="{'md-input-invalid': validate.message.error }">
                  <label>Mensagem</label>
                  <md-textarea v-model="faleconosco.message" md-autogrow></md-textarea>
                  <span class="md-error">{{validate.message.errorMsg}}</span>
                </md-input-container>
              </md-layout>
            </md-layout>
            <md-layout md-flex="100">
              <md-button type="submit" :disabled="!this.validForm" class="md-raised md-accent signup-submit" @click.stop.prevent="submit">Enviar</md-button>
              <span class="md-primary" v-if="success">{{mensagemSucesso}}</span>
            </md-layout>
          </form>
        </md-layout>
      </md-layout>
    </md-layout>
    <footer-bar></footer-bar>
  </div>
</template>

<script>
  import ConfirmAddress from '../Shared/ConfirmAddress';

  export default {
    name: 'signup-box',
    components: {
      'confirm-address': ConfirmAddress,
    },
    data: () => ({
      validate: {
        name: { error: false, errorMsg: '', valid: {} },
        email: { error: false, errorMsg: '', valid: { email: 'valid' } },
        message: { error: false, errorMsg: '', valid: {} },
      },
      faleconosco: {
        name: '',
        email: '',
        phone: '',
        message: '',
      },
      validForm: false,
      mensagemSucesso: 'Mensagem enviada com sucesso, aguarde nosso retorno.',
      success: false,
    }),
    methods: {
      goHome() {
        this.$router.push({
          name: 'Home',
        });
      },
      validateForm() {
        this.validForm = true;
        Object.keys(this.validate).forEach((element) => {
          // Valida se o campo está vazio
          this.validate[element].error = false;
          if (this.faleconosco[element] === '') {
            this.validate[element].errorMsg = 'Este campo é obrigatório';
            this.validForm = false;
            this.validate[element].error = true;
          }
          // Valida se o campo é um e-mail válido
          if (this.validate[element].valid.email) {
            // eslint-disable-next-line
            var emailRegex = new RegExp("^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$");
            if (!emailRegex.test(this.faleconosco[element])) {
              this.validate[element].errorMsg = 'E-mail Inválido';
              this.validForm = false;
              this.validate[element].error = true;
            }
          }
          // Valida se o campo tem tamanho mínimo
          if (this.validate[element].valid.min) {
            if (this.faleconosco[element].length < this.validate[element].valid.min) {
              this.validate[element].errorMsg = `O campo deve ter no mínimo ${this.validate[element].valid.min} caracteres`;
              this.validForm = false;
              this.validate[element].error = true;
            }
          }

          // Valida se o campo de confirmacao é igual ao campo indicado
          if (this.validate[element].valid.equal) {
            const equal = this.faleconosco[this.validate[element].valid.equal];
            if (this.faleconosco[element] !== equal) {
              this.validate[element].errorMsg = 'Este campo deve ser igual ao anterior';
              this.validForm = false;
              this.validate[element].error = true;
            }
          }
        });

        return this.validForm;
      },
      submit() {
        this.$store.state.loading = true;
        this.$store.dispatch('enviarFaleConosco', this.faleconosco).then(() => {
          this.success = true;
          this.$store.state.loading = false;
        });
      },
    },
    events: {
      register(data) {
        this.$store.state.loading = false;
        // eslint-disable-next-line
        console.log(data);
      },
    },
  };
</script>

<style lang="scss" scoped>
.login-wrap{
  background-size: 100px;
  form{
    width: 100%;
  }
  .titleLogin{
    text-align: center;
    font-weight: 1000;
    width: 100%;
  }
  .fb-signin-button {
    display: inline-block;
    border-radius: 2px;
    background-color: #4267b2;
    color: #fff;
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
      0 2px 2px rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12);
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s;
    margin-bottom: 15px;
    &:hover{
      background-color: #3e61a9;
    }
    svg{
      margin-right: 5px;
      position: relative;
      bottom: 1px;
    }
  }
  .login-btn,
  .signup-btn {
    width: 100%;
  }
}

@media (max-width: 480px){
  .login-wrap{
    box-shadow: none;
  }
}
</style>
