<template>
  <div id="finalizacao">
    <header-bar></header-bar>

    <md-stepper ref="stpResumo" md-alternate-labels md-elevation="0">
      <md-step md-label="Selecionar" :md-editable="true" md-message="data" :md-continue="false" id="period">
        <md-layout class="grid">
          <md-layout md-align="start">
            <md-layout md-align="center" md-flex="70" md-flex-small="100" md-flex-offset="15" md-flex-offset-small="0">
              <md-layout md-align="center" md-flex="50" md-flex-small="100" class="textDelivery">
                <h2 class="md-headline">Selecione a <strong>data</strong> de entrega de sua cesta</h2>

                <p class="md-title"><strong>Sua entrega será no dia: {{ formatDate(this.$store.state.shipmentDate) }}</strong></p>

                <p>Você receberá um aviso quando sua compra estiver a caminho</p>
                
              </md-layout>
              <md-layout md-align="center" md-flex="50" md-flex-small="100">
                <datepicker :inline="true" language="pt-br" :disabled="disabledDates" v-model="calendarValue" v-on:selected="setShipmentDate"></datepicker>
              </md-layout>
            </md-layout>
            <md-layout md-align="center" md-flex="100">
              <md-layout md-align="center" md-flex="100">
                <h2 class="md-display-1 title-period">Período de entrega</h2>
                <span class="md-body-1">Selecione o período de entrega que deseja</span>
              </md-layout>
              <card-selector :options="period" :stepper="this.$refs"></card-selector>
            </md-layout>
          </md-layout>
        </md-layout>
      </md-step>
      <md-step id="finalizacao-cadastro" :md-editable="true" md-label="Cadastro" md-button-back="Voltar" md-button-continue="Continuar">
        <md-layout v-if="this.$store.state.logged == true" class="authenticated">
          <address-atual :stepper="this.$refs"></address-atual>
          <transition name="slide-fade">
            <confirm-address :onlyAddress="true" v-if="newAddress"></confirm-address>
          </transition>
        </md-layout>

        <md-layout v-if="this.$store.state.logged == false" class="notAuthenticated">
          <login-box :stepper="this.$refs" :hideSignup="true">Já possui cadastro?</login-box>
          <h2 class="md-display-1 titleLogin">ou</h2>
          <signup-box :stepper="this.$refs"></signup-box>
        </md-layout>
        <md-button @click="previousStep">Voltar</md-button>
      </md-step>
      <md-step md-label="Pagamento" :md-editable="false" md-button-back="Voltar" md-button-continue="Finalizar Compra">
        <order-summary></order-summary>
        <md-layout class="grid orderPayment main-content" md-gutter="16">
          <md-layout md-flex="100" class="payment">
            <section-title>Forma de Pagamento</section-title>
            <span class="md-subheading ">*O Pagamento deverá ser efetuado na entrega</span>
            <card-selector @click.native="selectPayment" :options="payment"></card-selector>
            <md-layout md-flex="100" md-align="center">
              <md-layout md-flex-xsmall="100" md-flex-small="75" md-flex="50" md-align="center">
                <section-title class="titleSmall">Precisa especificar algum detalhe sobre o produto? Conta para a gente aqui!</section-title>
                <md-input-container>
                  <label>Observação</label>
                  <md-textarea v-model="observacao" md-autogrow></md-textarea>
                </md-input-container>
              </md-layout>  
            </md-layout>
            <md-layout md-flex="100" md-align="center">
              <md-layout md-flex-xsmall="100" md-flex-small="75" md-flex="50" md-align="center">
                <md-button md-align="center" type="button" :disabled="!paymentSelected || disabledFinalizar" 
                  md-theme="default" class="md-raised md-warn signup-submit" @click.native="finalizar()">
                  Finalizar Compra
                </md-button>
              </md-layout>
            </md-layout>
          </md-layout>
          <md-button @click="previousStep">Voltar</md-button>
        </md-layout>        
      </md-step>
    </md-stepper>
    <md-dialog-alert
      :md-content="alert.content"
      md-ok-text="Ok"
      ref="alert">
    </md-dialog-alert>
    <footer-bar></footer-bar> 
  </div>
</template>

<script>
  import moment from 'moment';
  import ThumbProdutoCart from '../Shared/ThumbProdutoCart';
  import LoginBox from '../Shared/LoginBox';
  import SignupBox from '../Shared/SignupBox';
  import ConfirmAddress from '../Shared/ConfirmAddress';
  import OrderSummary from '../Shared/OrderSummary';
  import Address from '../Shared/Address';
  

  export default {
    components: {
      'thumb-produto-cart': ThumbProdutoCart,
      'login-box': LoginBox,
      'address-atual': Address,
      'signup-box': SignupBox,
      'confirm-address': ConfirmAddress,
      'order-summary': OrderSummary,
    },
    data() {
      return {
        disabledFinalizar: false,
        paymentSelected: false,
        user: this.$store.state.user,
        produtoCart: {},
        observacao: '',
        disabledDates: {
          to: this.disabledDates(), // Disable all dates up to specific date
          days: [0, 3, 4, 5, 6],
          // days: [0, 2, 3, 4, 6],
        },
        calendarValue: new Date(moment(this.nextShip(), 'YYYY MM DD')),
        period: {
          size: '33',
          commit: 'period',
          cards: [
            {
              ref: 'manha',
              theme: 'light-blue',
              color: 'md-primary',
              title: 'Manhã',
              subtitle: 'Entre as 9:00 e 12:00',
              icon: 'brightness_low',
              iconType: 'md',
              active: false,
              disabled: false,
            },
            {
              ref: 'tarde',
              theme: 'orange',
              color: 'md-primary',
              title: 'Tarde',
              subtitle: 'Entre as 13:00 e 18:00',
              icon: 'cloud',
              iconType: 'md',
              active: false,
              disabled: false,
            },
            {
              ref: 'noite',
              theme: 'indigo',
              color: 'md-primary',
              title: 'Noite',
              subtitle: 'Entre as 19:00 e 21:00',
              icon: 'moon-o',
              iconType: 'fa',
              active: false,
              disabled: false,
            },
          ],
        },
        payment: {
          size: '33',
          commit: 'payment',
          cards: [
            {
              ref: 'dinheiro',
              theme: 'default',
              color: 'md-accent',
              title: 'Dinheiro',
              subtitle: 'Após selecionar esta opção, informe o troco abaixo',
              icon: 'money',
              iconType: 'fa',
              active: false,
              disabled: false,
            },
            {
              ref: 'debito',
              theme: 'blue-grey',
              color: 'md-primary',
              title: 'Cartão de Débito',
              subtitle: 'Enviaremos a maquininha na entrega',
              icon: 'credit-card',
              iconType: 'fa',
              active: false,
              disabled: false,
            },
            {
              ref: 'credito',
              theme: 'teal',
              color: 'md-primary',
              title: 'Cartão de Crédito',
              subtitle: 'Enviaremos a maquininha na entrega',
              icon: 'credit-card',
              iconType: 'fa',
              active: false,
              disabled: false,
            },
          ],
        },
        map: {
          zoom: 12,
          center: { lat: -23.189683054443016, lng: -46.896741276414494 },
          markers: [],
          place: null,
        },
        alert: {
          content: '',
        },
      };
    },
    mounted() {
      if (this.$store.state.user.length > 0 || this.$store.state.cart.length === 0) {
        this.$router.push({
          name: 'Home',
        });
      }
    },
    computed: {
      validForm() {
        return this.$children[1].$children[1]
          .$children[1].$children[0].$children[1].validForm;
      },
      newAddress() {
        return this.$store.state.newAddress;
      },
    },
    methods: {
      disabledDates() {
        return new Date(moment(this.nextShip(), 'YYYY MM DD'));
      },
      formatDate(date) {
        return moment(date, 'YYYY MM DD').format('DD/MM/YYYY');
      },
      formatDateServer(date) {
        return moment(date).format('YYYY MM DD');
      },
      setCalendarValue(date) {
        this.calendarValue = moment(date);
      },
      setShipmentDate() {
        setTimeout(() => {
          if (this.calendarValue) {
            this.$store.state.shipmentDate = moment(this.calendarValue).format('YYYY MM DD');
          }
        }, 200);
      },
      previousStep() {
        this.$refs.stpResumo.movePreviousStep();
      },
      finalizar() {
        this.disabledFinalizar = true;
        const obs = this.observacao;
        const troco = this.$session.get('troco') ? this.$session.get('troco') : 0;
        if (!this.$store.state.order.period) {
          this.$refs.stpResumo.movePreviousStep();
          this.$refs.stpResumo.movePreviousStep();
          this.openDialog('alert');
          this.alert.content = 'Selecione a Data e o período de entrega.';
          return false;
        } else if (this.$store.state.cart.length === 0) {
          this.openDialog('alert');
          this.alert.content = 'Sua cesta está vazia, selecione alguns itens para finalizar sua compra.';
          return false;
        } else if (!this.$store.state.user.id) {
          this.$refs.stpResumo.movePreviousStep();
          this.openDialog('alert');
          this.alert.content = 'Cadastre-se ou efetue o login para finalizar sua compra.';
          return false;
        } else if (!this.$store.state.address) {
          this.$refs.stpResumo.movePreviousStep();
          this.openDialog('alert');
          this.alert.content = 'Selecione seu endereço de entrega.';
          return false;
        }
        this.$store.dispatch('finalizarCompra', { troco, observacao: obs }).then(() => {
          this.$session.set('cart', []);
          this.$session.set('troco', 0);
          this.$store.state.seoDesconto = [];
          this.disabledFinalizar = false;
          this.$router.push({
            name: 'Confirmacao',
          });
          return true;
        })
        .catch(() => {
          this.openDialog('alert');
          this.alert.content = 'Infelizmente seu pedido não foi realizado. Tente novamente';
          return false;
        });
        return true;
      },
      nextShip() {
        moment.locale('pt-br');
        const diaEntrega = 1;
        let dia;
        if (moment().isoWeekday() === 0) {
          dia = moment().isoWeekday(diaEntrega).format('YYYY MM DD');
        } else {
          dia = moment().add(1, 'weeks').isoWeekday(diaEntrega).format('YYYY MM DD');
        }
        if (!this.$store.state.shipmentDate) {
          this.$store.state.shipmentDate = dia;
        }
        return dia;
      },
      // habilitar quando for entregar na sexta
      // nextShip() {
      //   moment.locale('pt-br');
      //   // Segunda e Sexta
      //   const diasEntrega = [1, 5];
      //   const semanaHoje = moment().isoWeekday();
      //   let dia;
      //   diasEntrega.forEach((diaSemana) => {
      //     if (semanaHoje < diaSemana && !dia) {
      //       dia = moment().isoWeekday(diaSemana).format('YYYY MM DD');
      //     }
      //   });
      //   if (!dia) {
      //     dia = moment().add(1, 'weeks').isoWeekday(diasEntrega[0]).format('YYYY MM DD');
      //   }
      //   if (!this.$store.state.shipmentDate) {
      //     this.$store.state.shipmentDate = dia;
      //   }
      //   return dia;
      // },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
      selectPayment() {
        setTimeout(() => {
          this.paymentSelected = document.querySelectorAll('.payment .select-card.active').length > 0;
        }, 500);
      },
    },
  };
</script>

<style lang="scss">
  .orderPayment{
    background: #fff;
  }
  #finalizacao{
    .md-step-actions{
      display: none;
    }
    .payment{
      .md-subheading{
        margin-left: 15px;
      }
    }
    .svd-cal-wrapper {
      background: #fff;
      width: 320px;
    }
    .textDelivery{
      display: block;
    }
    .svd-cal-prev, .svd-cal-next {
      background: #6d4c41;
      color: #fff;
      border-radius: 2px;
    }

    .svd-cal-cell.svd-cal-day-names {
      background: rgb(76, 175, 80);
      color: white;
    }
    .svd-outer {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
      padding-bottom: 10px;
      background: #fff;
    }
    .svd-cal-wrapper .svd-cal-cell:not(.blank):not(.disabled).svd-cal-day:hover {
      border-color: #4caf50;
    }
    .svd-cal-wrapper .svd-cal-cell.svd-day-highlighted, .svd-cal-wrapper .svd-cal-cell.svd-day-selected, .svd-cal-wrapper .svd-cal-cell.svd-day-selected.highlighted {
      background: #8bc34a;
      border-radius: 2px;
      color: #fff;
    }
    .svd-cal-wrapper .svd-cal-cell.svd-day-today {
      border-color: rgba(109, 76, 65, 0.4);
    }
    .svd-cal-wrapper span.up {
      background: #8bc34a;
      color: white;
    }

    .svd-cal-wrapper header {
      padding: 5px;
      background: #8bc34a;
    }
  }
  .md-display-1.title-period{
    font-weight: 1000;
    font-size: 40px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .md-stepper{
    .md-step-header{
      .md-step-number, .md-step-icons{
        margin-right: 0px;
      }
    }
  }
  .login-wrap{
    background-size: 100px;
    form{
      width: 100%;
    }
  }
  .titleLogin{
    text-align: center;
    font-weight: 1000;
    width: 100%;
  }
  @media (max-width: 480px){
    .login-wrap{
      box-shadow: none;
    }
  }
  .personalData{
    > div{
      width: 100%;
    }
    span{
      display: block;
      width: 100%;
    }
  }
  .check-content {
    height: 388px;
    overflow-y: auto;
  }
  .totalCheck{
    margin-top: 10px;
    > span:first-child{
      margin-right: 5px;
    }
    .md-switch {
      margin: 5px 0 5px;
    }
  }
  .titleSmall{
    h2{
      font-size: 20px;
      border-bottom: 0px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }
  
</style>
