<template>
  <div id="home">
    <header-bar></header-bar>
    <carousel class="bannerSlideshow" :autoplayTimeout="10000" :loop="true" navigationNextLabel="keyboard_arrow_right" navigationPrevLabel="keyboard_arrow_left" :navigationEnabled="true" :autoplay="true" :perPage="1" paginationActiveColor="#4caf50" paginationColor="#757575">
      <!-- <slide>
        <a href="#/" style="display: block;overflow: hidden;height: 339px;">
          <video autoplay loop style="width: 100%;position: relative;top: -313px;">
            <source src="https://firebasestorage.googleapis.com/v0/b/seosalada-staging.appspot.com/o/banners%2FhomeVideo.mp4?alt=media&token=60585dbc-3c85-4c33-9625-cc96f91f5cd6" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </a>
      </slide> -->
      <slide v-for="(banner, indice) in banners" :key="indice">
        <a :href="`#/${banner.url}`">
          <img v-if="isValidUrl(banner.imageUrl) && banner.imageUrl" :src="banner.imageUrl" :srcset="`${banner.imageUrl} 1876w`" :class="{hasMobileBanner: banner.imageUrlMobile}"/>
          <img v-if="isValidUrl(banner.imageUrlMobile) && banner.imageUrlMobile" :src="banner.imageUrlMobile" :srcset="`${banner.imageUrlMobile} 650w`" class="slideMobile"/>
        </a>
      </slide>
    </carousel>
    <md-layout md-gutter="16" class="grid highlights main-content howItWorks">
      <section-title>Como funciona</section-title>
      <md-layout md-flex-xsmall="100" md-flex-small="100" md-flex="33">
        <md-layout md-flex="100" md-align="center">
          <md-image md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FHowItWorks1.png?alt=media&token=58591a0a-ada0-49c4-b6b8-40e4d9433ddf"></md-image>
        </md-layout>
        <md-layout md-flex="100" md-align="center">
          <span class="md-subheading">Monte sua cesta</span>
          <span class="md-body-1">É só escolher os produtos no site, selecionar o dia e horário de entrega, confirmar seu endereço e forma de pagamento!</span>
        </md-layout>
      </md-layout>
      <md-layout md-flex-xsmall="100" md-flex-small="100" md-flex="33">
        <md-layout md-flex="100" md-align="center">
          <md-image md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FHowItWorks2.png?alt=media&token=8ad10973-d7ff-4c33-81a3-4b32c67153ec"></md-image>
        </md-layout>
        <md-layout md-flex="100" md-align="center">
          <span class="md-subheading">Retiramos os produtos com os produtores</span>
          <span class="md-body-1">No dia da colheita, quando sol ainda esta nascendo, nós vamos lá no produtor buscar seus produtos fresquinhos.</span>
        </md-layout>
      </md-layout>
      <md-layout md-flex-xsmall="100" md-flex-small="100" md-flex="33">
        <md-layout md-flex="100" md-align="center">
          <md-image md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FHowItWorks3.png?alt=media&token=c4c309f9-33b7-4a41-a3a8-631a5eccd04e"></md-image>
        </md-layout>
        <md-layout md-flex="100" md-align="center">
          <span class="md-subheading">Entregamos na sua casa</span>
          <span class="md-body-1">Ai é só esperar que no dia combinado nós entregamos tudo com a melhor qualidade.</span>
        </md-layout>
      </md-layout>
    </md-layout>
    <md-layout md-gutter="16" class="grid highlights main-content">
      <section-title>Produtos em destaque</section-title>
      <carousel :autoplayTimeout="5000" :loop="true" navigationNextLabel="keyboard_arrow_right" navigationPrevLabel="keyboard_arrow_left" :navigationEnabled="true" :autoplay="true" :perPageCustom="[[0, 1], [500, 2], [992, 3], [1200, 4], [1300, 5]]" paginationActiveColor="#4caf50" paginationColor="#757575">
          <slide v-for="(produto, indice) in produtos" :key="indice" v-if="produto.destaque">
            <md-layout md-align="center">
              <thumb-produto :produto="produto" :carousel="true"></thumb-produto>
            </md-layout>
          </slide>
      </carousel>
      <section-title v-show="false">Últimas notícias</section-title>
    </md-layout>
    <md-dialog class="selectCity" ref="locationCheck" md-open-from="#home" md-close-to="#home" >
      <md-dialog-title>Selecione sua cidade</md-dialog-title>

      <md-dialog-content>
        <p>Verifique se o Seo Salada atende sua cidade</p>
        <form>
          <md-input-container>
            <label for="estado">Estado</label>
            <md-select v-model="estado">
              <md-option value="saopaulo">São Paulo</md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label for="cidade">Cidade</label>
            <md-select v-on:change="setCity" v-model="cidade" :disabled="this.estado === ''">
              <md-option value="jundiai">Jundiaí</md-option>
            </md-select>
          </md-input-container>
        </form>
      </md-dialog-content>

      <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog('locationCheck')">Cancelar</md-button>
        <md-button class="md-primary" @click="closeDialog('locationCheck')" :disabled="this.cidade === ''">Ok</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-dialog ref='alertLocation' class="alertLocation">
        <md-dialog-content>
          <md-layout md-align="center">
            <icon ref="sadFace" class="sadFace" name="frown-o" scale="10"></icon>
          </md-layout>
          <p class="md-subheading">Verificamos que você não se encontra na nossa região de entrega.</p>
          <p class="md-subheading"> Entre em contato conosco se você quer o Seo Salada na sua cidade.</p>
        </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-primary" @click.native="goToFaleConosco()">Ir para fale conosco</md-button>
          <md-button class="md-primary" @click="closeDialog('alertLocation')">Ok</md-button>
        </md-dialog-actions>
      </md-dialog>
    <footer-bar></footer-bar>
  </div>
</template>

<script>
  import lo from 'lodash';
  import ThumbProduto from '../Shared/ThumbProduto';
  import ThumbNews from '../Shared/ThumbNews';
  import firebase from './../../helpers/firebaseConfig';
  
  const db = firebase.database();

  export default {
    name: 'home',
    components: {
      ThumbProduto,
      ThumbNews,
    },
    data() {
      return {
        index: null,
        produto: {},
        currentLocation: {
          lat: 0,
          lng: 0,
        },
        banners: [],
        showBanners: [],
        news: [
          {
            news_type: 'Promoção',
            icon: 'attach_money',
            title: 'Sorteio',
            date: '25 de julho às 15:33',
            media_type: 'video',
            media: '',
            text: 'Ontem à noite rolou o SORTEIO do ganhador da promoção do dia do amigo aqui do Seo Salada!...',
          },
          {
            news_type: 'Sustentabilidade',
            icon: 'nature',
            title: 'Visão',
            date: '26 de julho às 18:20',
            media_type: 'image',
            media: 'images/visao.jpg',
            text: 'A visão de uma empresa dá uma ideia de futuro do negócio...',
          },
          {
            news_type: 'Promoção',
            icon: 'attach_money',
            title: 'Marque @SeoAmigo',
            date: '27 de julho às 10:05',
            media_type: 'image',
            media: 'images/marque.jpg',
            text: 'Ontem à noite rolou o SORTEIO do ganhador da promoção do dia do amigo aqui do Seo Salada!...',
          },
          {
            news_type: 'Promoção',
            icon: 'attach_money',
            title: 'Sorteio',
            date: '25 de julho às 15:33',
            media_type: 'video',
            media: '',
            text: 'Ontem à noite rolou o SORTEIO do ganhador da promoção do dia do amigo aqui do Seo Salada!...',
          },
        ],
        cidade: '',
        estado: '',
      };
    },
    mounted() {
      // setTimeout Correct bug on md-dialog
      this.$store.dispatch('nextShip');
      setTimeout(() => {
        this.geolocation();
      }, 200);
    },
    methods: {
      setCity() {
        this.$session.set('cidade', this.cidade);
      },
      geolocation() {
        // eslint-disable-next-line
        const geocoder = new google.maps.Geocoder();
        navigator.geolocation.getCurrentPosition((position) => {
          this.currentLocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          geocoder.geocode({ latLng: this.currentLocation }, (results) => {
            const place = results[0];
            place.address_components.forEach((element) => {
              if (element.types[0] === 'administrative_area_level_2') {
                if (element.long_name !== 'Jundiaí') {
                  this.openDialog('alertLocation');
                }
              }
            }, this);
          });
        });
      },
      goToFaleConosco() {
        this.$router.push({
          name: 'FaleConosco',
        });
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
      isValidUrl(userInput) {
        // eslint-disable-next-line
        var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        return regexp.test(userInput);
      },
    },
    beforeMount() {
      this.$store.state.loading = true;
    },
    firebase() {
      return {
        produtos: {
          source: db.ref('produtos')
            .orderByChild('disponivel')
            .equalTo('sim'),
          asObject: false,
        },
        banners: {
          source: db.ref('banners')
            .orderByChild('ativo')
            .equalTo(true),
          asObject: false,
          readyCallback: () => {
            delete this.banners['.key'];
            lo.forEach(this.banners, (item, index) => {
              firebase.storage().ref().child(`banners/${item.imageUrl}`).getDownloadURL()
              .then((url) => {
                this.banners[index].imageUrl = url;
                this.$store.state.loading = false;
              });
              firebase.storage().ref().child(`banners/mobile/${item.imageUrlMobile}`).getDownloadURL()
              .then((url) => {
                this.banners[index].imageUrlMobile = url;
                this.$store.state.loading = false;
              });
            });
          },
        },
      };
    },
  };
</script>

<style lang="scss">
  html {
    box-sizing: border-box;
  }
    *, *:before, *:after {
    box-sizing: border-box;
  }
  .selectCity .md-dialog{
    width: 500px;
  }
  .md-boards{
    .md-board {
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
      img{
        margin: auto;
        display: block;
      }
    }
  }
  html body.md-theme-default{
    background-color: #e9eee9;
  }
  
  .main-content{
    padding: 16px;
    flex: 1;
    overflow: auto;
    background-color: #e9eee9;
    transform: translate3D(0, 0, 0);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: .2s;
  }
  .product-box > .md-layout {
    margin-bottom: 20px;
  }
  #home{
    .VueCarousel {
      .VueCarousel-navigation{
        .VueCarousel-navigation-button{
          height: 200px;
          padding-top: 56px!important;
          top: 45px
        }
      }
    }
    .bannerSlideshow{
      .VueCarousel-navigation{
        .VueCarousel-navigation-button{
          @media (max-width: 600px) {
            height: 100px;
            padding-top: 0px!important;
            top: 10px
          }
        }
      }
      .VueCarousel-slide{
        padding: 0px;
        text-align: center;
        
        img{
          position: relative;
          z-index: 1;
        }
      }
    }
  }
  .sadFace{
    color: rgba(139, 195, 74, 0.8);
  }
  .VueCarousel-navigation-button{
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    font-size: 80px!important;
    margin: auto;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    fill: currentColor;
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  .slideMobile{
    display: none;
    @media (max-width: 600px) {
      display: block;
    }
  }
  .hasMobileBanner{
    @media (max-width: 600px) {
      display: none!important;
    }
  }
  .howItWorks{
    .md-subheading{
      margin: 10px 10px;
      font-weight: 1000;
      color: rgb(76, 175, 80);
      font-size: 23px;
    }
    .md-body-1{
      text-align: center;
    }
  }
</style>
