<template>
  <div id="login">
    <header-bar></header-bar>

    <login-box>Login</login-box>

    <footer-bar></footer-bar> 
  </div>
</template>

<script>
  
  import LoginBox from '../Shared/LoginBox';

  export default {
    components: {
      'login-box': LoginBox,
    },
  };
</script>
<style lang="scss">
  .md-display-1.title-period{
    font-weight: 1000;
    font-size: 40px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .md-stepper{
    .md-step-header{
      .md-step-number, .md-step-icons{
        margin-right: 0px;
      }
    }
  }
  
  .personalData{
    > div{
      width: 100%;
    }
    span{
      display: block;
      width: 100%;
    }
  }
</style>
<style lang="scss" scoped>

  //Css para o calendário.
  ul {
    list-style-type: none;
  }

  .box-calendar{
    border-radius: 3px;
    overflow: hidden;
    .md-button{
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
  .month {
    padding: 50px 25px;
    width: 100%;
    background: #4caf50;
    ul {
      margin: 0;
      padding: 0;
      li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
      }
    }
    .prev {
      float: left;
      padding-top: 10px;
    }
    .next {
      float: right;
      padding-top: 10px;
      margin-top: 0;
    }
  }

  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    width: 100%;
    li {
      display: inline-block;
      width: 13%;
      color: #666;
      text-align: center;
      margin-top: 0;
    }
  }

  .days {
    padding: 10px 0;
    background: #e9eee9;
    margin: 0;
    li {
      list-style-type: none;
      display: inline-block;
      width: 13%;
      text-align: center;
      margin-bottom: 5px;
      font-size: 14px;
      color:#777;
      .active {
        padding: 5px;
        background: #4caf50;
        color: white !important;
        border-radius: 50%;
      }
    }
  }

</style>
