<template>
  <div id="minhaconta">
    <header-bar></header-bar>

    <signup-box :noAddress="true" :alterar="true"></signup-box>

    <footer-bar></footer-bar>
  </div>
</template>

<script>
  import SignupBox from '../Shared/SignupBox';

  export default {
    components: {
      'signup-box': SignupBox,
    },
  };
</script>
<style lang="scss">
  .signup-submit{
    width: 100%;
    height: 50px;
  }
</style>
