<template>
  <div id="pageNotFound">
    <header-bar></header-bar>

    <h2 class="notFoundText">Ops...</h2>
    <h2 class="notFoundSubheader">Não encontramos o que você procurou.</h2>
    <md-layout md-align="center">
      <md-button class="goHome" @click.native="goHome">Ir para a página inicial</md-button>
    </md-layout>
    

    <footer-bar></footer-bar> 
  </div>
</template>

<script>
  export default {
    methods: {
      goHome() {
        this.$router.push({
          name: 'Home',
        });
      },
    },
  };
</script>
<style lang="scss">
  #pageNotFound{
    .notFoundText{
      font-weight: 1000;
      font-size: 90px;
      color: #4caf50;
      text-align: center;
    }
    .notFoundSubheader{
      font-size: 30px;
      text-align: center;
      color: #8bc34a;
    }
    .goHome{
      margin-bottom: 200px;
    }
  }
  
</style>
