<template>
  <div id="pedidos">
    <header-bar></header-bar>
    <md-layout class="grid" md-gutter="16" md-align="center">  
      <md-layout md-flex="75">
        <section-title>Lista de Pedidos</section-title>
        <md-table-card class="tabela-pedidos">
          <md-table>
            <md-table-header>
              <md-table-row>
                <md-table-head>Número</md-table-head>
                <md-table-head>Data de Entrega</md-table-head>
                <md-table-head>Total</md-table-head>
                <md-table-head>Status</md-table-head>
                <md-table-head>Detalhes</md-table-head>
              </md-table-row>
            </md-table-header>

            <md-table-body>
              <md-table-row v-for="(row, rowIndex) in pedidos" :key="rowIndex" :md-item="row">
                <md-table-cell>
                  <span>{{ getNumPedido(row.numero) }}</span>
                </md-table-cell>
                <md-table-cell>
                  <span>{{ row.data_entrega }} {{ getPeriodo(row.periodo) }}</span>
                </md-table-cell>
                <md-table-cell>
                  <span>{{ getTotalPedido(row.total) }}</span>
                </md-table-cell>
                <md-table-cell>
                  <span :class="row.status">
                    <md-icon md-align="start">{{ getStatusInfo(row.status, 'icon') }}</md-icon>
                    {{ getStatusInfo(row.status, 'text') }}
                  </span>
                </md-table-cell>
                <md-table-cell>
                  <md-button @click.native="goToDetalhe(row.numero)" class="md-raised md-accent detail">
                    <span>Detalhes</span>
                  </md-button>
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
        </md-table-card>
      </md-layout>
    </md-layout>

    <footer-bar></footer-bar>
  </div>
</template>

<script>
  import lodash from 'lodash';
  import firebase from './../../helpers/firebaseConfig';
  
  const db = firebase.database();

  export default {
    name: 'pedidos',
    data() {
      return {
        pedidos: {},
      };
    },
    mounted() {
      const userId = this.$store.state.user.id;
      const ref = db.ref('pedidos')
        .orderByChild('usuarioID')
        .equalTo(userId);

      ref.once('value', (snapshot) => {
        this.pedidos = snapshot.val();
      });
    },
    methods: {
      getPeriodo(periodo) {
        if (periodo === 'manha') {
          return 'de manhã';
        }
        return `a ${periodo}`;
      },
      getStatusInfo(status, type) {
        if (status === 'Aberto') {
          return type === 'icon' ? 'thumb_up' : 'Aberto';
        }
        if (status === 'Cancelado') {
          return type === 'icon' ? 'thumb_down' : 'Cancelado';
        }
        if (status === 'Entregue') {
          return type === 'icon' ? 'check_circle' : 'Entregue';
        }
        return '';
      },
      getTotalPedido(totalPedido) {
        let total = lodash.ceil(totalPedido, 3).toString().replace('.', ',');
        total = `R$ ${total}`;
        return total;
      },
      getNumPedido(numpedido) {
        return Array(8).join('0').slice((8 || 2) * -1) + numpedido;
      },
      getFormaPagamento(formaPagamento) {
        if (formaPagamento === 'cartaoDebito') {
          return 'Cartão de Débito';
        }
        if (formaPagamento === 'cartaoCredito') {
          return 'Cartão de Crédito';
        }
        if (formaPagamento === 'dinheiro') {
          return 'Dinheiro';
        }
        return '';
      },
      goToDetalhe(numPedido) {
        this.$router.push({
          name: 'DetalhePedido',
          params: {
            pedido: numPedido.toString(),
          },
        });
      },
    },
  };
</script>

<style lang="scss">
  #pedidos{
    .tabela-pedidos{
      width: 100%;
      margin-bottom: 200px;
      span.Entregue{
        color: #8bc34a;
      }
      span.Aberto{
        color: #fec007;
      }
      span.Cancelado{
        color: #f44335;
      }
      .detail{
        width: 100%;
      }
    }
    .order{
      padding: 15px;
    }  
  }
</style>
