<template>
  <div id="produto">
    <header-bar></header-bar>
    <h2 class="notFoundText" v-if="!disponivel && callbackProd">Produto Indisponível</h2>
    <md-layout class="grid grid-produto main-content" md-gutter="16" md-flex="100">
      <md-layout v-if="disponivel && callbackProd" md-flex="100" md-gutter="16" class="boxProduto">
        <md-layout md-flex-xsmall="100" md-flex="100" class="prodNamePrice prodNamePriceMobile">
          <md-layout md-flex-xsmall="100" md-flex="100">
            <img :src="firebaseUrlStorage" class="imgProd">
          </md-layout>
          <rating :produto="this.produto"/>
          <router-link v-for="(label, index) in labels" :key="index" :to="{ name: 'Busca', params: { palavrachave: 'all' }}">
            <img class="imgLabel" :src="label.imageUrl" v-tippy :title="label.nome" v-if="hasLabel(label.id, label.imageUrl, index) && isValidUrl(label.imageUrl)"/>
          </router-link>

          <md-layout md-flex="100" >
            <span class="md-title">{{produto.nome}}</span>
          </md-layout>
          <md-layout md-flex="100">
            <span class="md-subheading">R$ {{produto.preco}} / {{produto.unidade}}</span>
          </md-layout>
          <transition name="slide-fade" mode="out-in">
            <md-layout md-flex-xsmall="100" class="addRemove" md-align="center" v-if="showAddRemove">
              <md-layout md-flex="20">
                <md-button md-theme="red" class="md-icon-button md-primary" @click.native="removeQtd()"  v-tippy title="Removido!" :data-tippy-arrow="true" data-tippy-distance="5" data-tippy-size="small" data-tippy-sticky="true" data-tippy-trigger="click">
                  <md-icon>remove</md-icon>
                </md-button>
              </md-layout>
              <md-layout md-flex="60" class="prodThumbValue" md-tag="md-input-container">
                <md-input readonly v-model="qtd" min="0" @blur="setQtdFinal()"></md-input>
                <span class="md-caption">{{produto.unidade}}</span>
              </md-layout>
              <md-layout md-flex="20">
                <md-button @click.native="addQtd()" class="md-icon-button md-primary" v-tippy title="Adicionado!" :data-tippy-arrow="true" data-tippy-distance="5" data-tippy-size="small" data-tippy-sticky="true" data-tippy-trigger="click">
                  <md-icon>add</md-icon>
                </md-button>
              </md-layout>
            </md-layout>
            <md-layout md-flex-xsmall="100" class="addButtonBox" v-if="!showAddRemove">
              <md-button class="md-raised md-accent add-button" @click.native="addToCart()">Comprar</md-button>
            </md-layout>
          </transition>
        </md-layout>
        <md-layout md-flex-xsmall="100" md-flex-medium="50" md-flex-large="70" md-flex-xlarge="80" v-show="produto.descricao" class="prodDescription ql-editor">
          <section-title class="titleProduto">{{produto.nome}}</section-title>
          <p class="md-body-2" v-html="produto.descricao"></p>
        </md-layout>
        <md-layout md-flex-xsmall="100" md-flex-medium="50" md-flex-large="30" md-flex-xlarge="20" class="prodNamePrice">
          <md-layout md-flex-xsmall="100" md-flex="100">
            <img :src="firebaseUrlStorage" class="imgProd">
          </md-layout>
          <rating :produto="this.produto"/>
          <router-link v-for="(label, index) in labels" :key="index" :to="{ name: 'Busca', params: { palavrachave: 'all' }}">
            <img class="imgLabel" :src="label.imageUrl" v-tippy :title="label.nome" v-if="hasLabel(label.id, label.imageUrl, index) && isValidUrl(label.imageUrl)"/>
          </router-link>
          <md-layout md-flex="100" >
            <span class="md-title">{{produto.nome}}</span>
          </md-layout>
          <md-layout md-flex="100">
            <span class="md-subheading">R$ {{produto.preco}} / {{produto.unidade}}</span>
          </md-layout>
          <transition name="slide-fade" mode="out-in">
            <md-layout md-flex-xsmall="100" class="addRemove" md-align="center" v-if="showAddRemove">
              <md-layout md-flex="20">
                <md-button md-theme="red" class="md-icon-button md-primary" @click.native="removeQtd()"  v-tippy title="Removido!" :data-tippy-arrow="true" data-tippy-distance="5" data-tippy-size="small" data-tippy-sticky="true" data-tippy-trigger="click">
                  <md-icon>remove</md-icon>
                </md-button>
              </md-layout>
              <md-layout md-flex="60" class="prodThumbValue" md-tag="md-input-container">
                <md-input readonly v-model="qtd" min="0" @blur="setQtdFinal()"></md-input>
                <span class="md-caption">{{produto.unidade}}</span>
              </md-layout>
              <md-layout md-flex="20">
                <md-button @click.native="addQtd()" class="md-icon-button md-primary" v-tippy title="Adicionado!" :data-tippy-arrow="true" data-tippy-distance="5" data-tippy-size="small" data-tippy-sticky="true" data-tippy-trigger="click">
                  <md-icon>add</md-icon>
                </md-button>
              </md-layout>
            </md-layout>
            <md-layout md-flex-xsmall="100" class="addButtonBox" v-if="!showAddRemove">
              <md-button class="md-raised md-accent add-button" @click.native="addToCart()">Comprar</md-button>
            </md-layout>
          </transition>
        </md-layout>
      </md-layout>
    </md-layout>
    <md-layout class="grid highlights main-content" md-flex="100">
      <section-title>Produtos em destaque</section-title>
      <carousel navigationNextLabel="keyboard_arrow_right" navigationPrevLabel="keyboard_arrow_left" :navigationEnabled="true" :autoplay="true" :perPageCustom="[[0, 1], [500, 2], [992, 3], [1200, 4], [1300, 5]]" paginationActiveColor="#4caf50" paginationColor="#757575">
          <slide v-for="(produto, indice) in produtos" :key="indice" v-if="produto.destaque">
            <md-layout md-align="center">
              <thumb-produto :produto="produto" :carousel="true"></thumb-produto>
            </md-layout>
          </slide>
      </carousel>
    </md-layout>
    <footer-bar></footer-bar>
  </div>
</template>

<script>

  import lo from 'lodash';
  import ThumbProduto from '../Shared/ThumbProduto';
  import firebase from '../../helpers/firebaseConfig';

  const db = firebase.database();

  export default {
    name: 'produto',
    components: {
      ThumbProduto,
    },
    data() {
      return {
        item: {},
        produto: {},
        firebaseUrlStorage: '',
        showAddRemove: false,
        callbackProd: false,
      };
    },
    beforeMount() {
      this.showAddRemove = this.qtd > 0;
    },
    firebase() {
      return {
        produtos: {
          source: db.ref('produtos')
            .orderByChild('disponivel')
            .equalTo('sim'),
          asObject: false,
          readyCallback: () => {
            const filter = lo.filter(this.produtos, prod => prod.nome === this.$route.params.id);
            this.produto = filter[0];
            this.callbackProd = true;
          },
        },
        labels: db.ref('labels'),
      };
    },
    watch: {
      // eslint-disable-next-line
      '$route.params.id': function (id) {
        const filter = lo.filter(this.produtos, prod => prod.nome === this.$route.params.id);
        this.produto = filter[0];
      },
    },
    computed: {
      qtd: {
        get() {
          if (lo.find(this.$store.state.cart, item => item.key === this.produto.id) !== undefined) {
            const itemQtd = lo.find(this.$store.state.cart, item => item.key === this.produto.id).qtd;
            return itemQtd;
          }
          this.showAddRemove = false;
          return 0;
        },
        set(value) {
          this.setQtd(Number(value));
        },
      },
      disponivel() {
        this.getImageUrl(this.produto.imageUrl);
        if (this.produto.disponivel === 'sim') {
          return true;
        }
        return false;
      },
      slideProducts() {
        const slideProducts = [];
        let prods = [];
        let count = 0;
        this.produtos.forEach((element, index) => {
          count = index + 1;
          prods.push(element);
          if (count % 5 === 0) {
            slideProducts.push(prods);
            prods = [];
          }
        }, this);
        if (prods.length > 0) {
          slideProducts.push(prods);
        }
        return slideProducts;
      },
    },
    methods: {
      getImageUrl(imgUrl) {
        firebase.storage().ref().child(`images/${imgUrl}`).getDownloadURL()
        .then((url) => {
          this.firebaseUrlStorage = url;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
      },
      hasLabel(label, imageUrl, index) {
        let hasLabel = false;
        lo.forEach(this.produto.labels, (item) => {
          if (item === label) {
            this.getImageUrlLabel(imageUrl, index);
            hasLabel = true;
          }
        });
        return hasLabel;
      },
      getImageUrlLabel(imgUrl, index) {
        firebase.storage().ref().child(`labels/${imgUrl}`).getDownloadURL()
        .then((url) => {
          this.labels[index].imageUrl = url;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
        });
      },
      isValidUrl(userInput) {
        // eslint-disable-next-line
        var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        return regexp.test(userInput);
      },
      setQtdFinal() {
        // eslint-disable-next-line
        if (this.qtd == 0) {
          this.removeFromCart();
          this.showAddRemove = false;
        }
      },
      setQtd(value) {
        this.cart = this.$session.get('cart');
        if (value === 0) {
          this.removeFromCart();
        }
        if (!lo.find(this.$store.state.cart, item => item.key === this.produto.id)) {
          this.addToCart();
        } else {
          const payload = {
            key: this.produto.id,
            qtd: value,
          };
          this.$store.dispatch('updateQtdCart', payload);

          const index = lo.findIndex(this.cart, produto => produto.key === payload.key);
          this.cart[index].qtd = payload.qtd;
          this.cart[index].total = +(this.cart[index].valor * payload.qtd).toFixed(2);
          this.$session.set('cart', this.cart);
        }
      },
      addToCart() {
        const unidadeMinima = this.produto.unidade_minima ? Number(this.produto.unidade_minima) : 1;
        const payload = {
          key: this.produto.id,
          nome: this.produto.nome,
          valor: Number(this.produto.preco.replace(',', '.')),
          unidade: this.produto.unidade,
          unidade_minima: unidadeMinima,
          qtd: unidadeMinima,
          imageUrl: this.produto.imageUrl,
          total: Number(lo.ceil(Number(this.produto.preco.replace(',', '.')) * unidadeMinima, 2)),
        };
        this.showAddRemove = true;
        this.cart = !this.$session.get('cart') ? [] : this.$session.get('cart');

        if (!lo.find(this.cart, produto => produto.key === payload.key)) {
          this.cart.push(payload);
          this.$store.dispatch('insertToCart', payload);
          this.$session.set('cart', this.cart);
        }
        // Analytics add Item
        this.$ga.ecommerce.addItem({
          id: payload.key,       // Transaction ID. Required.
          name: payload.nome,    // Product name. Required.
          price: payload.valor,  // Unit price.
        });
      },
      removeFromCart() {
        this.cart = this.$session.get('cart');
        // eslint-disable-next-line
        lo.remove(this.cart, (n) => {
          return n.key === this.produto.id;
        });
        this.$session.set('cart', this.cart);
        this.$store.state.cart = this.cart;
        this.showAddRemove = false;
      },
      addQtd() {
        const unidadeMinima = this.produto.unidade_minima ? this.produto.unidade_minima : 1;
        let value = Number(this.qtd) + Number(unidadeMinima);
        value = Math.round(value * 100) / 100;
        this.setQtd(value);
      },
      removeQtd() {
        const unidadeMinima = this.produto.unidade_minima ? this.produto.unidade_minima : 1;
        if (this.qtd > unidadeMinima) {
          let value = Number(this.qtd) - Number(unidadeMinima);
          value = Math.round(value * 100) / 100;
          this.setQtd(value);
        } else {
          this.removeFromCart();
        }
      },
    },
  };
</script>
<style lang="scss">
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  #produto{
    .prodNamePrice{
      display: flex;
      &.prodNamePriceMobile{
        display: none;
      }
      .md-subheading{
        font-size: 20px;
      }
      .md-title{
        font-size: 25px;
      }
    }
    
    @media (max-width: 600px) {
      .prodNamePrice{
        display: none;
        &.prodNamePriceMobile{
          display: flex;
        }  
      }
    }
   
    .prodThumbValue {
      padding-top: 0;
      min-height: 0px;
      input {
        text-align: right;
      }
      span {
        line-height: 30px;
        display: inline-block;
        margin-left: 5px;
      }
    }
    .addRemove,
    .addButtonBox,
    .prodNamePrice,
    .prodDescription {
      width: 100%;
      -ms-flex-item-align: start;
      align-self: flex-start;
      img{
        object-fit: contain;
        width: auto!important;
        height: auto!important;
      }
    }
    .add-button{
      margin: 5px 0px;
      width: 100%
    }
    .boxProduto{
      padding-top: 30px;
    }
    .zoom{
      position: relative;
      overflow: hidden;
    }
    .grid-produto{
      margin: 0;
      .product-description{
        .component-description{
          display: block;
          width: 100%;
          span{
            display: block;

            &.md-caption{
              color: rgba(0, 0, 0, .57);
              display: inline;
            }
          }
        }
        .md-input-container{
          width: 36px;
          display: inline-block;
          padding-top: 0px;
          min-height: 30px;
          margin-bottom: 0px;
          .md-input{
            text-align: center;
          }
        }
      }
    }
    .related-products{
      .md-headline{
        border-bottom: solid 1px #f0f0f0;
        width: 100%;
        text-align: center;
        padding-bottom: 12px;
      }
    }
  }
  .smSectionTitle {
    h2 {
      margin-top: 0;
      font-size: 20px;
    }
  }
  .notFoundText{
    padding-left: 30px;
  }
  .imgProd{
    width: 100%;
    align-self: flex-start;
    margin-bottom: 10px;
  }
  .titleProduto h2{
    margin-bottom: 0px;
  }
  .imgLabel{
    margin: 0 0 0 5px;
  }
</style>
