<template>
  <div id="seodesconto">
    <header-bar></header-bar>
    <md-layout class="grid" md-gutter="16" md-align="center">  
      <md-layout md-flex-xsmall="90" md-flex-small="75" md-flex-medium="75" md-flex-large="75" md-flex-xlarge="75">
        <section-title>Seo Desconto</section-title>
        <p>
          Já pensou que legal presentear seus amigos com descontos e ainda ganhar com isso?
        </p>
      </md-layout>

      <md-image class="img-banner-desconto" md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/banners%2FCompartilhe%20descontos.png?alt=media&token=e6fd6742-4948-4b1d-8bf0-40838fa234e3"></md-image>

      
      <md-layout md-flex-xsmall="90" md-flex-small="75" md-flex-medium="75" md-flex-large="75" md-flex-xlarge="75">
        <md-layout md-flex="100" md-align="center" v-if="this.$store.state.user.id">
          <md-layout class="link-box" md-flex-xsmall="100" md-flex-small="75" md-flex-medium="75" md-flex-large="75" md-flex-xlarge="75">
            <md-input-container @click.native="doCopy" v-tippy title="Copiado!" :data-tippy-arrow="true" data-tippy-distance="5" data-tippy-size="small" data-tippy-sticky="true" data-tippy-trigger="click">
              <md-tooltip>Copiar para área de transferência.</md-tooltip>
              <label>Meu Link</label>
              <md-input type="text" v-model="linkCadastro" readonly></md-input>
              <md-icon>file_copy</md-icon>
            </md-input-container>
          </md-layout>
        </md-layout>
        <p v-if="!this.$store.state.user.id">
          Olha só que fácil ganhar e distribuir descontos do Seo Salada por aí:
        </p>
        <md-image style="margin: auto;" md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FSeoDesconto-step.png?alt=media&token=c37903c5-3d03-475e-960b-8c1d0bc8ca64"></md-image>
        <p class="text-desconto" v-if="this.$store.state.user.id">
          <br>
          Copia o link aí em cima e compartilha com os seus amigos, pra eles ganharem $5 na primeira
          <md-image class="img-banner-desconto-carimbo" md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FSeloSeoDescontoBig.png?alt=media&token=8ae8f088-b878-4025-b1cf-49cc64f37809"></md-image><br>
          compra no Seo Salada. Olha que presentão!<br/><br/>
          E o melhor: para cada amigo que concluir uma compra, você também ganha R$5.<br><br>
          Não espere mais, não. Compartilha ai o Seo Desconto!<br><br>
        </p>
        
        <p class="text-desconto" v-if="!this.$store.state.user.id">
          <br>
          <md-image class="img-banner-desconto-carimbo" md-src="https://firebasestorage.googleapis.com/v0/b/seosalada-f9943.appspot.com/o/static%2FSeloSeoDescontoBig.png?alt=media&token=8ae8f088-b878-4025-b1cf-49cc64f37809"></md-image><br>
          Depois que você fizer o seu cadastro no Seo Salada, pode acessar a página do Seo Desconto e copiar o <br>
          link para compartilhar com seus amigos, para eles ganharem R$ 5 na primeira compra no Seo Salada.<br>
          Olha que presentão!<br><br>

          E o melhor: para cada amigo que concluir uma compra, você também ganha R$ 5<br><br>

          Não espere mais, não! Faça já seu <router-link exact to="/Cadastro">cadastro</router-link> e comece a compartilhar o Seo Desconto.          
        </p>
      </md-layout>
      
      <md-layout md-flex-xsmall="90" md-flex-small="75" md-flex-medium="75" md-flex-large="75" md-flex-xlarge="75" v-if="descontos" class="seo-historico">
        <section-title>Seo histórico</section-title>
        <p class="text-desconto">
          Aqui você acompanha todos os descontos que já ganhou por compartilhar o seu link com seus amigos.
        </p>
        <md-table-card class="tabela-pedidos">
          <md-table>
            <md-table-header>
              <md-table-row>
                <md-table-head>Promoção</md-table-head>
                <md-table-head>Valor</md-table-head>
                <md-table-head>Usado</md-table-head>
              </md-table-row>
            </md-table-header>
            <md-table-body>
              <md-table-row v-for="(desconto, rowIndex) in descontos" :key="rowIndex" :md-item="desconto">
                <md-table-cell>{{desconto.tipo}} {{desconto.usuario}}</md-table-cell>
                <md-table-cell><span :class="['md-title', { 'greentext' : !desconto.used }]">R$ {{numberFormat(desconto.pontos)}}</span></md-table-cell>
                <md-table-cell>{{desconto.used ? 'Usado' : 'Não usado'}}</md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
        </md-table-card> 
      </md-layout>
    </md-layout>

    <footer-bar></footer-bar>
  </div>
</template>

<script>
  import lo from 'lodash';
  import firebase from './../../helpers/firebaseConfig';
  
  const db = firebase.database();

  export default {
    name: 'seodesconto',
    computed: {
      linkCadastro() {
        const userId = this.$store.state.user.id;
        const host = window.location.host;
        return `https://${host}/#/Cadastro/${userId}`;
      },
    },
    firebase() {
      const userId = this.$store.state.user.id;
      if (!userId) {
        return false;
      }
      return {
        descontos: {
          source: db.ref(`clientes/${userId}/pontos`),
          asObject: true,
          readyCallback: () => {
            delete this.descontos['.key'];
            lo.map(this.descontos, (el, i) => {
              db.ref(`clientes/${el.usuario}`)
                .once('value', (snapshot) => {
                  const cliente = snapshot.val();
                  this.descontos[i].usuario = cliente.name;
                });
            });
          },
        },
      };
    },
    methods: {
      numberFormat(valor) {
        let result;
        result = parseFloat(Math.round(valor * 100) / 100).toFixed(2);
        result = result.toString().replace('.', ',');
        return result;
      },
      doCopy() {
        this.$copyText(this.linkCadastro);
      },
    },
  };
</script>

<style lang="scss">
  #seodesconto {
    .tabela-pedidos {
      width: 100%;
      margin-bottom: 200px;
      span.Entregue {
        color: #8bc34a;
      }
      span.Aberto {
        color: #fec007;
      }
      span.Cancelado {
        color: #f44335;
      }
      .detail {
        width: 100%;
      }
    }
    .order {
      padding: 15px;
    }
  }
  .text-desconto {
    margin-top: 0px;
    margin-bottom: 30px;
    line-height: 30px;
    width: 100%;
  }
  .img-banner-desconto {
    width: 1500px;
    height: 250px;
    object-fit: contain;
    margin: 0 20px;
    padding: 0 50px;
  }
  .img-banner-desconto-carimbo {
    float: right;
    object-fit: contain;
    height: 218px;
  }
  .seo-historico {
    justify-content: center
  }
  .step-share-text {
    float: right;
    width: 128px;
  }
  .btn-step {
    width: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0 5px;
    i {
      position: relative;
      bottom: 5px;
      font-size: 21px;
    }
  }
</style>
<style lang="scss" scoped>
  .md-input-container * {
    cursor: pointer;
  }
  .arrow {
    border: solid #4caf50;
    border-width: 0 15px 15px 0;
    display: block;
    padding: 35px;
    width: 0;
    height: 0;
    box-sizing: content-box;
    &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
  .link-box {
    margin: 36px 0;
    background: #fff2cc;
    padding: 26px;
    border: solid 3px #e1b855;
    input {
      font-size: 25px;
    }
  }

  
</style>

