<template>
  <div id="login">
    <header-bar></header-bar>

    <signup-box :promoprofile="this.$route.params.promoprofile"></signup-box>

    <footer-bar></footer-bar>
  </div>
</template>

<script>
  import SignupBox from '../Shared/SignupBox';

  export default {
    components: {
      'signup-box': SignupBox,
    },
  };
</script>
<style lang="scss">
  .signup-submit{
    width: 100%;
    height: 50px;
    margin: 15px 0;
  }
</style>
