/*  Structure
   ========================================================================== */

html {
  height: 100%;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  min-height: 100%;
  margin: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: rgba(#000, .87);
  font-family: $font-roboto;
  overflow-x: hidden;
  @extend .md-body-1;
}



/*  Fluid Media
   ========================================================================== */

ul:not(.md-list) > li + li {
  margin-top: 8px;
}


/*  Fluid Media
   ========================================================================== */

audio,
img,
svg,
object,
embed,
canvas,
video,
iframe {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;

  &:not(.md-image) {
    height: auto;
  }
}

.grid {
  > .md-layout:not(.md-column) {
    min-height: 40px;
    margin-bottom: 16px;
  }
}

/*  Suppress the focus outline on links that cannot be accessed via keyboard.
    This prevents an unwanted focus outline from appearing around elements
    that might still respond to pointer events.
   ========================================================================== */

[tabindex="-1"]:focus {
  outline: none !important;
}

.main-font{
  font-family: 'Dosis';
}

/*
 *  STYLE 4
 */

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #6d4c41;
}

.fb-signin-button, 
.fb-signup-button {
  display: inline-block;
  border-radius: 2px;
  background-color: #4267b2;
  color: #fff;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
    0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s;
  margin-bottom: 15px;
  &:hover{
    background-color: #3e61a9!important;
  }
  svg{
    margin-right: 5px;
    position: relative;
    bottom: 1px;
  }
}

.md-flex-33 {
  max-width: 33.33333%;
}
.md-flex-66 {
  max-width: 33.33333%;
}
.md-flex-5 {
  max-width: 5%;
}
.md-flex-10 {
  max-width: 10%;
}
.md-flex-15 {
  max-width: 15%;
}
.md-flex-20 {
  max-width: 20%;
}
.md-flex-25 {
  max-width: 25%;
}
.md-flex-30 {
  max-width: 30%;
}
.md-flex-35 {
  max-width: 35%;
}
.md-flex-40 {
  max-width: 40%;
}
.md-flex-45 {
  max-width: 45%;
}
.md-flex-50 {
  max-width: 50%;
}
.md-flex-55 {
  max-width: 55%;
}
.md-flex-60 {
  max-width: 60%;
}
.md-flex-65 {
  max-width: 65%;
}
.md-flex-70 {
  max-width: 70%;
}
.md-flex-75 {
  max-width: 75%;
}
.md-flex-80 {
  max-width: 80%;
}
.md-flex-85 {
  max-width: 85%;
}
.md-flex-90 {
  max-width: 90%;
}
.md-flex-95 {
  max-width: 95%;
}
.md-flex-100 {
  max-width: 100%;
}

/* Responsive Breakpoints */

@media (max-width: 944px) {
  .md-flex-offset-small-0 {
    margin-left: 0;
  }
  .md-flex-small-33 {
    max-width: 33.33333%;
  }
  .md-flex-small-66 {
    max-width: 33.33333%;
  }

  .md-flex-small-5 {
    max-width: 5%;
  }

  .md-flex-small-10 {
    max-width: 10%;
  }

  .md-flex-small-15 {
    max-width: 15%;
  }

  .md-flex-small-20 {
    max-width: 20%;
  }

  .md-flex-small-25 {
    max-width: 25%;
  }

  .md-flex-small-30 {
    max-width: 30%;
  }

  .md-flex-small-35 {
    max-width: 35%;
  }

  .md-flex-small-40 {
    max-width: 40%;
  }

  .md-flex-small-45 {
    max-width: 45%;
  }

  .md-flex-small-50 {
    max-width: 50%;
  }

  .md-flex-small-55 {
    max-width: 55%;
  }

  .md-flex-small-60 {
    max-width: 60%;
  }

  .md-flex-small-65 {
    max-width: 65%;
  }

  .md-flex-small-70 {
    max-width: 70%;
  }

  .md-flex-small-75 {
    max-width: 75%;
  }

  .md-flex-small-80 {
    max-width: 80%;
  }

  .md-flex-small-85 {
    max-width: 85%;
  }

  .md-flex-small-90 {
    max-width: 90%;
  }

  .md-flex-small-95 {
    max-width: 95%;
  }

  .md-flex-small-100 {
    max-width: 100%;
  }
}

@media (min-width: 1904px) {
  .md-flex-xlarge-33 {
    max-width: 33.33333%;
  }
  .md-flex-xlarge-66 {
    max-width: 33.33333%;
  }

  .md-flex-xlarge-5 {
    max-width: 5%;
  }

  .md-flex-xlarge-10 {
    max-width: 10%;
  }

  .md-flex-xlarge-15 {
    max-width: 15%;
  }

  .md-flex-xlarge-20 {
    max-width: 20%;
  }

  .md-flex-xlarge-25 {
    max-width: 25%;
  }

  .md-flex-xlarge-30 {
    max-width: 30%;
  }

  .md-flex-xlarge-35 {
    max-width: 35%;
  }

  .md-flex-xlarge-40 {
    max-width: 40%;
  }

  .md-flex-xlarge-45 {
    max-width: 45%;
  }

  .md-flex-xlarge-50 {
    max-width: 50%;
  }

  .md-flex-xlarge-55 {
    max-width: 55%;
  }

  .md-flex-xlarge-60 {
    max-width: 60%;
  }

  .md-flex-xlarge-65 {
    max-width: 65%;
  }

  .md-flex-xlarge-70 {
    max-width: 70%;
  }

  .md-flex-xlarge-75 {
    max-width: 75%;
  }

  .md-flex-xlarge-80 {
    max-width: 80%;
  }

  .md-flex-xlarge-85 {
    max-width: 85%;
  }

  .md-flex-xlarge-90 {
    max-width: 90%;
  }

  .md-flex-xlarge-95 {
    max-width: 95%;
  }

  .md-flex-xlarge-100 {
    max-width: 100%;
  }
}

@media (max-width: 1903px) {
  .md-flex-large-33 {
    max-width: 33.33333%;
  }
  .md-flex-large-66 {
    max-width: 33.33333%;
  }


  .md-flex-large-5 {
    max-width: 5%;
  }

  .md-flex-large-10 {
    max-width: 10%;
  }

  .md-flex-large-15 {
    max-width: 15%;
  }

  .md-flex-large-20 {
    max-width: 20%;
  }

  .md-flex-large-25 {
    max-width: 25%;
  }

  .md-flex-large-30 {
    max-width: 30%;
  }

  .md-flex-large-35 {
    max-width: 35%;
  }

  .md-flex-large-40 {
    max-width: 40%;
  }

  .md-flex-large-45 {
    max-width: 45%;
  }

  .md-flex-large-50 {
    max-width: 50%;
  }

  .md-flex-large-55 {
    max-width: 55%;
  }

  .md-flex-large-60 {
    max-width: 60%;
  }

  .md-flex-large-65 {
    max-width: 65%;
  }

  .md-flex-large-70 {
    max-width: 70%;
  }

  .md-flex-large-75 {
    max-width: 75%;
  }

  .md-flex-large-80 {
    max-width: 80%;
  }

  .md-flex-large-85 {
    max-width: 85%;
  }

  .md-flex-large-90 {
    max-width: 90%;
  }

  .md-flex-large-95 {
    max-width: 95%;
  }

  .md-flex-large-100 {
    max-width: 100%;
  }
}

@media (max-width: 1264px) {
  .md-flex-medium-33 {
    max-width: 33.33333%;
  }
  .md-flex-medium-66 {
    max-width: 33.33333%;
  }


  .md-flex-medium-5 {
    max-width: 5%;
  }

  .md-flex-medium-10 {
    max-width: 10%;
  }

  .md-flex-medium-15 {
    max-width: 15%;
  }

  .md-flex-medium-20 {
    max-width: 20%;
  }

  .md-flex-medium-25 {
    max-width: 25%;
  }

  .md-flex-medium-30 {
    max-width: 30%;
  }

  .md-flex-medium-35 {
    max-width: 35%;
  }

  .md-flex-medium-40 {
    max-width: 40%;
  }

  .md-flex-medium-45 {
    max-width: 45%;
  }

  .md-flex-medium-50 {
    max-width: 50%;
  }

  .md-flex-medium-55 {
    max-width: 55%;
  }

  .md-flex-medium-60 {
    max-width: 60%;
  }

  .md-flex-medium-65 {
    max-width: 65%;
  }

  .md-flex-medium-70 {
    max-width: 70%;
  }

  .md-flex-medium-75 {
    max-width: 75%;
  }

  .md-flex-medium-80 {
    max-width: 80%;
  }

  .md-flex-medium-85 {
    max-width: 85%;
  }

  .md-flex-medium-90 {
    max-width: 90%;
  }

  .md-flex-medium-95 {
    max-width: 95%;
  }

  .md-flex-medium-100 {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .md-flex-xsmall-33 {
    max-width: 33.33333%;
  }
  .md-flex-xsmall-66 {
    max-width: 33.33333%;
  }
  .md-flex-xsmall-5 {
    max-width: 5%;
  }

  .md-flex-xsmall-10 {
    max-width: 10%;
  }

  .md-flex-xsmall-15 {
    max-width: 15%;
  }

  .md-flex-xsmall-20 {
    max-width: 20%;
  }

  .md-flex-xsmall-25 {
    max-width: 25%;
  }

  .md-flex-xsmall-30 {
    max-width: 30%;
  }

  .md-flex-xsmall-35 {
    max-width: 35%;
  }

  .md-flex-xsmall-40 {
    max-width: 40%;
  }

  .md-flex-xsmall-45 {
    max-width: 45%;
  }

  .md-flex-xsmall-50 {
    max-width: 50%;
  }

  .md-flex-xsmall-55 {
    max-width: 55%;
  }

  .md-flex-xsmall-60 {
    max-width: 60%;
  }

  .md-flex-xsmall-65 {
    max-width: 65%;
  }

  .md-flex-xsmall-70 {
    max-width: 70%;
  }

  .md-flex-xsmall-75 {
    max-width: 75%;
  }

  .md-flex-xsmall-80 {
    max-width: 80%;
  }

  .md-flex-xsmall-85 {
    max-width: 85%;
  }

  .md-flex-xsmall-90 {
    max-width: 90%;
  }

  .md-flex-xsmall-95 {
    max-width: 95%;
  }

  .md-flex-xsmall-100 {
    max-width: 100%;
  }

}

@media (min-width: 1265px) {

  .md-flex-large-and-up-33 {
    max-width: 33.33333%;
  }
  .md-flex-large-and-up-66 {
    max-width: 33.33333%;
  }

  .md-flex-large-and-up-5 {
    max-width: 5%;
  }

  .md-flex-large-and-up-10 {
    max-width: 10%;
  }

  .md-flex-large-and-up-15 {
    max-width: 15%;
  }

  .md-flex-large-and-up-20 {
    max-width: 20%;
  }

  .md-flex-large-and-up-25 {
    max-width: 25%;
  }

  .md-flex-large-and-up-30 {
    max-width: 30%;
  }

  .md-flex-large-and-up-35 {
    max-width: 35%;
  }

  .md-flex-large-and-up-40 {
    max-width: 40%;
  }

  .md-flex-large-and-up-45 {
    max-width: 45%;
  }

  .md-flex-large-and-up-50 {
    max-width: 50%;
  }

  .md-flex-large-and-up-55 {
    max-width: 55%;
  }

  .md-flex-large-and-up-60 {
    max-width: 60%;
  }

  .md-flex-large-and-up-65 {
    max-width: 65%;
  }

  .md-flex-large-and-up-70 {
    max-width: 70%;
  }

  .md-flex-large-and-up-75 {
    max-width: 75%;
  }

  .md-flex-large-and-up-80 {
    max-width: 80%;
  }

  .md-flex-large-and-up-85 {
    max-width: 85%;
  }

  .md-flex-large-and-up-90 {
    max-width: 90%;
  }

  .md-flex-large-and-up-95 {
    max-width: 95%;
  }

  .md-flex-large-and-up-100 {
    max-width: 100%;
  }
}

@media (min-width: 945px) {
  .md-flex-medium-and-up-33 {
    max-width: 33.33333%;
  }
  .md-flex-medium-and-up-66 {
    max-width: 33.33333%;
  }

  .md-flex-medium-and-up-5 {
    max-width: 5%;
  }

  .md-flex-medium-and-up-10 {
    max-width: 10%;
  }

  .md-flex-medium-and-up-15 {
    max-width: 15%;
  }

  .md-flex-medium-and-up-20 {
    max-width: 20%;
  }

  .md-flex-medium-and-up-25 {
    max-width: 25%;
  }

  .md-flex-medium-and-up-30 {
    max-width: 30%;
  }

  .md-flex-medium-and-up-35 {
    max-width: 35%;
  }

  .md-flex-medium-and-up-40 {
    max-width: 40%;
  }

  .md-flex-medium-and-up-45 {
    max-width: 45%;
  }

  .md-flex-medium-and-up-50 {
    max-width: 50%;
  }

  .md-flex-medium-and-up-55 {
    max-width: 55%;
  }

  .md-flex-medium-and-up-60 {
    max-width: 60%;
  }

  .md-flex-medium-and-up-65 {
    max-width: 65%;
  }

  .md-flex-medium-and-up-70 {
    max-width: 70%;
  }

  .md-flex-medium-and-up-75 {
    max-width: 75%;
  }

  .md-flex-medium-and-up-80 {
    max-width: 80%;
  }

  .md-flex-medium-and-up-85 {
    max-width: 85%;
  }

  .md-flex-medium-and-up-90 {
    max-width: 90%;
  }

  .md-flex-medium-and-up-95 {
    max-width: 95%;
  }

  .md-flex-medium-and-up-100 {
    max-width: 100%;
  }
}

@media (min-width: 601px) {
  .md-flex-small-and-up-33 {
    max-width: 33.33333%;
  }
  .md-flex-small-and-up-66 {
    max-width: 33.33333%;
  }


  .md-flex-small-and-up-5 {
    max-width: 5%;
  }

  .md-flex-small-and-up-10 {
    max-width: 10%;
  }

  .md-flex-small-and-up-15 {
    max-width: 15%;
  }

  .md-flex-small-and-up-20 {
    max-width: 20%;
  }

  .md-flex-small-and-up-25 {
    max-width: 25%;
  }

  .md-flex-small-and-up-30 {
    max-width: 30%;
  }

  .md-flex-small-and-up-35 {
    max-width: 35%;
  }

  .md-flex-small-and-up-40 {
    max-width: 40%;
  }

  .md-flex-small-and-up-45 {
    max-width: 45%;
  }

  .md-flex-small-and-up-50 {
    max-width: 50%;
  }

  .md-flex-small-and-up-55 {
    max-width: 55%;
  }

  .md-flex-small-and-up-60 {
    max-width: 60%;
  }

  .md-flex-small-and-up-65 {
    max-width: 65%;
  }

  .md-flex-small-and-up-70 {
    max-width: 70%;
  }

  .md-flex-small-and-up-75 {
    max-width: 75%;
  }

  .md-flex-small-and-up-80 {
    max-width: 80%;
  }

  .md-flex-small-and-up-85 {
    max-width: 85%;
  }

  .md-flex-small-and-up-90 {
    max-width: 90%;
  }

  .md-flex-small-and-up-95 {
    max-width: 95%;
  }

  .md-flex-small-and-up-100 {
    max-width: 100%;
  }
}

@media (min-width: 300px) {
  .md-flex-xsmall-and-up-33 {
    max-width: 33.33333%;
  }
  .md-flex-xsmall-and-up-66 {
    max-width: 33.33333%;
  }

  .md-flex-xsmall-and-up-5 {
    max-width: 5%;
  }

  .md-flex-xsmall-and-up-10 {
    max-width: 10%;
  }

  .md-flex-xsmall-and-up-15 {
    max-width: 15%;
  }

  .md-flex-xsmall-and-up-20 {
    max-width: 20%;
  }

  .md-flex-xsmall-and-up-25 {
    max-width: 25%;
  }

  .md-flex-xsmall-and-up-30 {
    max-width: 30%;
  }

  .md-flex-xsmall-and-up-35 {
    max-width: 35%;
  }

  .md-flex-xsmall-and-up-40 {
    max-width: 40%;
  }

  .md-flex-xsmall-and-up-45 {
    max-width: 45%;
  }

  .md-flex-xsmall-and-up-50 {
    max-width: 50%;
  }

  .md-flex-xsmall-and-up-55 {
    max-width: 55%;
  }

  .md-flex-xsmall-and-up-60 {
    max-width: 60%;
  }

  .md-flex-xsmall-and-up-65 {
    max-width: 65%;
  }

  .md-flex-xsmall-and-up-70 {
    max-width: 70%;
  }

  .md-flex-xsmall-and-up-75 {
    max-width: 75%;
  }

  .md-flex-xsmall-and-up-80 {
    max-width: 80%;
  }

  .md-flex-xsmall-and-up-85 {
    max-width: 85%;
  }

  .md-flex-xsmall-and-up-90 {
    max-width: 90%;
  }

  .md-flex-xsmall-and-up-95 {
    max-width: 95%;
  }

  .md-flex-xsmall-and-up-100 {
    max-width: 100%;
  }
}

/*# sourceMappingURL=index.css.map*/