<template>
  <div id="cidades">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Nova Cidade">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout md-gutter="16">
              <md-layout md-with-hover md-flex="100">
                <md-layout  md-flex="100">
                  <form class="form-default" novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                      <label>Nome</label>
                      <md-input v-model="cidade.nome" required></md-input>
                    </md-input-container>

                    <md-switch v-model="cidade.ativo">Ativo</md-switch>

                    <md-button @click.native="onSubmit" class="md-raised md-accent saveButton">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                  </form>
                </md-layout>
              </md-layout>
            </md-layout>
          </div>
        </md-theme>
        <md-dialog-alert
          :md-content="message.content"
          md-ok-text="Ok"
          ref="dialogMessage">
        </md-dialog-alert>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  const msgError = 'Um erro ocorreu, informe este erro ao seu desenvolvedor:';
  const msgSucesso = 'Salvo com sucesso.';

  export default{
    data: () => ({
      local: '',
      selectedData: [],
      sort: {},
      page: {},
      message: {
        content: '',
      },
    }),
    firebase() {
      return {
        /* eslint-disable prefer-template */
        cidade: {
          source: db.ref('cidades/' + this.$route.params.idcidade),
          asObject: true,
        },
      };
    },
    methods: {
      validaCidade() {
        let validate = true;
        if (!this.cidade.nome) {
          this.message.content = 'Preencha o nome da cidade.';
          validate = false;
        }
        if (!validate) {
          this.$parent.$refs.loading.hideLoading();
          this.openDialog('dialogMessage');
        }
        return validate;
      },
      onSubmit() {
        this.$parent.$refs.loading.showLoading();
        if (!this.validaCidade()) {
          return false;
        }
        if (this.$route.params.idcidade === undefined) {
          const payload = {
            id: '',
            nome: this.cidade.nome,
            ativo: this.cidade.ativo,
          };
          this.$store.dispatch('saveCidade', payload)
            .then(() => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = msgSucesso;
              this.openDialog('dialogMessage');
            }).catch((error) => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = `${msgError} ${error}`;
              this.openDialog('dialogMessage');
            });
        } else {
          const payload = {
            id: this.cidade['.key'],
            nome: this.cidade.nome,
            ativo: this.cidade.ativo,
          };
          this.$store.dispatch('saveCidade', payload)
            .then(() => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = msgSucesso;
              this.openDialog('dialogMessage');
            }).catch((error) => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = `${msgError} ${error}`;
              this.openDialog('dialogMessage');
            });
        }
        return true;
      },
      onSelect(data) {
        this.selectedData = data;
        this.$forceUpdate();
      },
      onSort(sort) {
        this.sort = sort;
      },
      onPagination(page) {
        this.page = page;
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
    },
  };
</script>

<style lang="scss">

</style>

