<template>
  <div id="produtos">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Nova Assinatura">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout md-gutter="16">
              <md-layout md-with-hover md-flex="100">
                <md-layout  md-flex="100">
                  <form class="form-default" novalidate @submit.stop.prevent="submit">
                    
                    <md-input-container>
                      <label>Cliente</label>
                      <md-input required></md-input>
                    </md-input-container>

                    <label>Periodicidade</label>
                    <div>
                      <md-radio v-model="local" id="local" name="local" md-value="mensal">Mensal</md-radio>
                      <md-radio v-model="local" id="local" name="local" md-value="semanal">Semanal</md-radio>
                    </div>

                    <md-table-card class="tabela-pedidos">
                      <md-toolbar class="md-accent">
                        <h2 class="md-title" style="flex: 1">Cesta de Produtos</h2>
                        <md-button id="addProduct" @click.native="openDialog('dialogProduct')" class="md-icon-button md-raised md-warn">
                          <md-icon>add</md-icon>
                        </md-button>
                      </md-toolbar>

                      <md-table-alternate-header md-selected-label="selecionados">
                        <md-button class="md-icon-button">
                          <md-icon>delete</md-icon>
                        </md-button>
                        
                        <md-button class="md-icon-button">
                          <md-icon>more_vert</md-icon>
                        </md-button>
                      </md-table-alternate-header>

                      <md-table md-sort="produto" @sort="onSort" @select="onSelect" >
                        <md-table-header>
                          <md-table-row>
                            <md-table-head md-sort-by="id">Id</md-table-head>
                            <md-table-head md-sort-by="name">Produto</md-table-head>
                            <md-table-head md-sort-by="qtd">Qtd</md-table-head>
                          </md-table-row>
                        </md-table-header>

                        <md-table-body>
                          <md-table-row v-for="(row, rowIndex) in produtos" :key="rowIndex" :md-item="row">
                            <md-table-cell v-for="(column, columnIndex) in row" :key="columnIndex">
                              {{ column }}
                            </md-table-cell>
                          </md-table-row>
                        </md-table-body>
                      </md-table>
                    </md-table-card>

                    <md-dialog class="md-dialog-bg" md-open-from="#addProduct" md-close-to="#addProduct" ref="dialogProduct">
                      <md-dialog-title>Adicionar Produto</md-dialog-title>

                      <md-dialog-content>
                        <form>
                          <md-input-container>
                            <label>Produto</label>
                            <md-input></md-input>
                          </md-input-container>

                          <md-input-container>
                            <label>Qtd</label>
                            <md-input></md-input>
                            <span>un</span>
                          </md-input-container>
                        </form>
                      </md-dialog-content>
                      
                      <md-dialog-actions>
                        <md-button class="md-primary" @click.native="closeDialog('dialogProduct')">Cancelar</md-button>
                        <md-button class="md-primary" @click.native="closeDialog('dialogProduct')" disabled>Salvar</md-button>
                      </md-dialog-actions>
                    </md-dialog>

                    <md-button class="md-raised md-accent saveButton">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                  </form>
                </md-layout>
              </md-layout>
            </md-layout>
          </div>
        </md-theme>
      </page-content>
    </transition>
  </div>
</template>

<script>
  export default{
    data: () => ({
      produtos: [
        {
          id: 1058,
          produto: 'Alface Lisa',
          qtd: '2kg',
        },
        {
          id: 1132,
          produto: 'Tomate',
          qtd: '5un',
        },
        {
          id: 1246,
          produto: 'Alface Crespa',
          qtd: '3kg',
        },
      ],
      selectedData: [],
      sort: {},
      page: {},
    }),
    methods: {
      onSelect(data) {
        this.selectedData = data;
        this.$forceUpdate();
      },
      onSort(sort) {
        this.sort = sort;
      },
      onPagination(page) {
        this.page = page;
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
    },
  };
</script>

<style lang="scss">

</style>

