<template>
  <div id="pedidos">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Pedidos">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout>
              <md-layout>
                <md-theme md-name="default">
                  <md-table-card class="tabela-assinaturas">
                    <md-toolbar class="md-accent">
                      <h2 class="md-title" style="flex: 1">Lista de Assinaturas</h2>

                      <md-input-container md-theme="secondary" style="flex: 1 1 0%;">
                        <md-icon>search</md-icon>
                        <label>Busca</label>
                        <md-input></md-input>
                      </md-input-container>
                      
                      <router-link exact to="/assinaturas/novo">
                        <md-button class="md-icon-button md-raised md-warn">
                          <md-icon>add</md-icon>
                        </md-button>
                      </router-link>
                    </md-toolbar>

                    <md-table @sort="onSort">
                      <md-table-header>
                        <md-table-row>
                          <md-table-head md-sort-by="id">Id</md-table-head>
                          <md-table-head md-sort-by="cliente">Cliente</md-table-head>
                        </md-table-row>
                      </md-table-header>

                      <md-table-body>
                        <md-table-row v-for="(row, rowIndex) in pedidos" :key="rowIndex" :md-item="row">
                          <md-table-cell v-for="(column, columnIndex) in row" :key="columnIndex">
                            {{ column }}
                          </md-table-cell>
                        </md-table-row>
                      </md-table-body>
                    </md-table>

                    <md-table-pagination
                      md-size="5"
                      md-total="10"
                      md-page="1"
                      md-label="Rows"
                      md-separator="of"
                      :md-page-options="[5, 10, 25, 50]"
                      @pagination="onPagination">
                    </md-table-pagination>
                  </md-table-card>
                </md-theme>
              </md-layout>
            </md-layout>
          </div>
        </md-theme>
      </page-content>
    </transition>
  </div>
</template>

<script>
  export default{
    data: () => ({
      pedidos: [
        {
          id: 1,
          cliente: 'Caio César Coelho Rodrigues',
        },
        {
          id: 2,
          cliente: 'Danilo Polo Cain',
        },
        {
          id: 3,
          cliente: 'Vitor Giovanni Cominato de Amorim',
        },
        {
          id: 4,
          cliente: 'Filipi Augusto Coelho Rodrigues',
        },
        {
          id: 5,
          cliente: 'Lucas Rodrigues',
        },
        {
          id: 6,
          cliente: 'Filipi Augusto Coelho Rodrigues',
        },
        {
          id: 7,
          cliente: 'Lucas Rodrigues',
        },
        {
          id: 8,
          cliente: 'Filipi Augusto Coelho Rodrigues',
        },
        {
          id: 9,
          cliente: 'Lucas Rodrigues',
        },
      ],
    }),
    methods: {
      onPagination() {

      },
      onSort() {

      },
    },
  };
</script>

<style lang="scss">
  .dashboard-card{ 
    overflow: hidden;
    .md-card-media{
      i {
        opacity: .1;
        position: absolute;
        font-size: 110px;
        right: 0px;
        bottom: -31px;
      }
    }
  }

  .grid > .md-layout {
    > .md-layout:not(.md-column) {
      min-height: 40px;
      margin-bottom: 16px;
    }
  }

  div[data-highcharts-chart] {
    width: 100%;
  }

  .highcharts-credits{
    display: none;
  }
  .tabela-assinaturas {
    width: 100%;
    .md-theme-secondary.md-input-container .md-icon:not(.md-icon-delete):after{
      background: transparent;
    }
  }

</style>

