<template>
  <div id="adicionar-pedido">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Novo Pedido">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout md-gutter="16">
              <md-layout md-with-hover md-flex="100">
                <md-layout  md-flex="100">
                  <form class="form-default" novalidate @submit.stop.prevent="submit">
                    <md-button class="md-raised md-accent saveButton" @click.native="finalizaPedido()">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                    <md-input-container v-if="!this.$route.params.numero">
                      <label for="movie">Cliente</label>
                      <md-autocomplete v-if="produtos" ref="clientAutoComplete" v-model="pedido.name"
                        print-attribute="name"
                        :filter-list="clientFilter"
                        :list="clientes"
                        :min-chars="0"
                        :max-height="6"
                        @selected="changedClient"
                        :debounce="500">
                      </md-autocomplete>
                      <!-- <md-select v-model="pedido" name="cliente" id="cliente" @change="changedClient()">
                        <md-option v-for="cliente in clientes" :key="cliente.id" :value="cliente">{{cliente.name}}</md-option>
                      </md-select>                     -->
                    </md-input-container>
                    <md-input-container v-if="this.$route.params.numero">
                      <label>Cliente</label>
                      <md-input :value="pedido.usuarioName" readonly></md-input>
                    </md-input-container>
                    <label></label>
                    <label></label>
                    <md-input-container>
                      <label>Data do Pedido</label>
                      <md-input v-model="pedido.data" type="date"></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Data de Entrega</label>
                      <md-input v-model="pedido.data_entrega" type="date"></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Telefone</label>
                      <md-input v-model="pedido.phone_number" readonly></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Email</label>
                      <md-input v-model="pedido.email" readonly>{{this.pedido.email}}</md-input>
                    </md-input-container>
                    
                    <md-input-container>
                      <label>CEP</label>
                      <md-input v-model="pedido.endereco.cep" readonly></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Endereço</label>
                      <md-input v-model="pedido.endereco.address" readonly ></md-input>
                    </md-input-container>
                  
                    <md-input-container>
                      <label>Número</label>
                      <md-input v-model="pedido.endereco.number" readonly ></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label >Bairro</label>
                      <md-input v-model="pedido.endereco.neighborhood" readonly ></md-input>
                    </md-input-container>

                     <md-input-container>
                      <label >Complemento</label>
                      <md-input v-model="pedido.endereco.complement" readonly ></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Período de entrega</label>
                      <md-select v-model="pedido.periodo" name="periodo" id="periodo">
                        <md-option value="manha">Manhã</md-option>
                        <md-option value="tarde">Tarde</md-option>
                        <md-option value="noite">Noite</md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container>
                      <label>Forma de Pagamento</label>
                      <md-select v-model="pedido.pagamento" name="periodo" id="periodo">
                        <md-option value="dinheiro">Dinheiro</md-option>
                        <md-option value="debito">Débito</md-option>
                        <md-option value="credito">Crédito</md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container>
                      <label >Troco</label>
                      <md-input v-model="pedido.troco" ></md-input>
                    </md-input-container>
                    
                    <md-input-container>
                      <label>Status</label>
                      <md-select v-model="pedido.status" name="status" id="status">
                        <md-option value="Aberto">Aberto</md-option>
                        <md-option value="Entregue">Entregue</md-option>
                        <md-option value="Cancelado">Cancelado</md-option>
                      </md-select>
                    </md-input-container>

                    <md-switch v-model="pedido.sustentavel">Embalagem Sustentável</md-switch>

                    <md-input-container v-if="this.pedido.id">
                      <label for="movie">Promoção</label>
                      <md-select v-model="pedido.promocao" ref="promocao" name="promocao" id="promocao" @change="total()">
                        <md-option value="">Sem Promoção</md-option>
                        <md-option v-for="promocao in promocoes" :key="promocao.id" :value="promocao">{{promocao.nome}}</md-option>
                      </md-select>                    
                    </md-input-container>

                    <md-table-card class="tabela-pedidos">
                      <md-toolbar class="md-accent">
                        <h2 class="md-title" style="flex: 1">Lista de Produtos</h2>
                        <md-input-container md-theme="secondary" style="flex: 1 1 0%;">
                          <label>Selecione o Produto</label>
                          <md-autocomplete v-if="produtos" @focus="focusProductAutoComplete" ref="productAutoComplete" v-model="productValue"
                            print-attribute="nome"
                            :filter-list="productFilter"
                            :list="produtos"
                            :min-chars="0"
                            :max-height="6"
                            @selected="productCallback"
                            :debounce="500">
                          </md-autocomplete>
                        </md-input-container>
                      </md-toolbar>

                      <md-table-alternate-header>
                        <md-button class="md-icon-button">
                          <md-icon>delete</md-icon>
                        </md-button>
                        
                        <md-button class="md-icon-button">
                          <md-icon>more_vert</md-icon>
                        </md-button>
                      </md-table-alternate-header>

                      <md-table>
                        <md-table-header>
                          <md-table-row>
                            <md-table-head>Produto</md-table-head>
                            <md-table-head md-numeric>Qtd</md-table-head>
                          </md-table-row>
                        </md-table-header>

                        <md-table-body>
                          <md-table-row v-for="(produto, index) in pedido.itens" v-model="pedido.itens" :value="produto.name" :key="produto.id" :md-item="produto">
                            <md-table-cell>
                              {{produto.nome}}  
                            </md-table-cell>
                            
                            <md-table-cell md-numeric class="table-number-input">
                              <md-button v-if="!readOnly" md-theme="red" class="md-icon-button md-primary" @click.native="removeQtd(index)">
                                <md-icon>remove</md-icon>
                              </md-button>
                              <md-input-container>
                                <md-input type="number" :ref="'prod-'+index" :value="pedido.itens[index].qtd" v-model="pedido.itens[index].qtd" readonly></md-input>
                                <span>{{produto.unidade}}</span>
                              </md-input-container>
                              <md-button v-if="!readOnly" class="md-icon-button md-primary" @click.native="addQtd(index)">
                                <md-icon>add</md-icon>
                              </md-button>
                            </md-table-cell>
                            
                          </md-table-row>
                        </md-table-body>
                      </md-table>
                    </md-table-card>
                    <md-layout md-flex="100">
                      <span class="md-subtitle totalCheck">Subtotal:</span>
                      <span class="md-subtitle totalCheck">R$ {{ numberFormat(this.pedidoSubtotal) }}</span>
                    </md-layout>
                    <md-layout md-flex="100">
                      <span class="md-subtitle totalCheck">Frete:</span>
                      <span class="md-subtitle totalCheck">R$ {{numberFormat(getFrete())}}</span>
                    </md-layout>
                    <md-layout md-flex="100">
                      <span class="md-subtitle totalCheck">Desconto:</span>
                      <span class="md-subtitle totalCheck">R$ {{numberFormat(this.pedidoDesconto)}}</span>
                    </md-layout>
                    <md-layout md-flex="100">
                      <span class="md-title totalCheck">Total:</span>
                      <span class="md-title totalCheck">R$ {{numberFormat(this.pedidoTotal)}}</span>
                    </md-layout>

                    <md-button class="md-raised md-accent saveButton" @click.native="finalizaPedido()">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                  </form>
                </md-layout>
              </md-layout>
                
            </md-layout>
          </div>
        </md-theme>
        <md-dialog-alert
          :md-content="message.content"
          md-ok-text="Ok"
          ref="dialogMessage">
        </md-dialog-alert>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import moment from 'moment';
  import lo from 'lodash';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  const msgError = 'Um erro ocorreu, informe este erro ao seu desenvolvedor:';
  const msgSucesso = 'Salvo com sucesso.';

  export default{
    data: () => ({
      clientes: [],
      pedido: {
        endereco: {
          address: '',
          cep: '',
          city: '',
          complement: '',
          number: '',
          neighborhood: '',
        },
        total: 0,
        subtotal: 0,
        frete: 0,
        desconto: 0,
        phone_number: '',
        itens: [],
        promocao: {},
      },
      pedidoTotal: 0,
      pedidoSubtotal: 0,
      pedidoDesconto: 0,
      focusProductAutoComplete: false,
      addedProducts: [],
      message: {
        content: '',
      },
      selectedProduct: {},
      productValue: '',
      selectedData: [],
      usedPromos: [],
      key: '',
      sort: {},
      page: {},
    }),
    beforeMount() {
      this.$store.dispatch('getProdutos');
    },
    mounted() {
      this.subTotal();
      this.total();
    },
    firebase() {
      let pedido = {};
      if (this.$route.params.numero) {
        pedido = {
          source: db.ref('pedidos'),
          asObject: true,
          readyCallback: () => {
            let ped = {};
            ped = lo.filter(this.pedidoEdit, (o, index) => {
              // eslint-disable-next-line
              if (o.numero == this.$route.params.numero) {
                this.key = index;
                return true;
              }
              return false;
            });
            this.pedido = ped[0];
            this.pedido.data = moment(this.pedido.data).format('YYYY-MM-DD');
            this.pedido.data_entrega = moment(this.pedido.data_entrega).format('YYYY-MM-DD');
            this.pedido.phone_number = this.pedido.usuarioPhone;
            this.pedido.email = this.pedido.usuarioEmail;
            this.pedido.id = this.pedido.usuarioID;
            this.pedido.promocao['.key'] = this.pedido.promocao.id;
            this.pedido.promocao.hasPromocao = true;
            this.total();
          },
        };
      }

      return {
        clientes: {
          source: db.ref('clientes'),
          asObject: true,
          readyCallback: () => {
            delete this.clientes['.key'];
            this.clientes = lo.values(this.clientes);
            lo.forEach(this.clientes, (value, index) => {
              this.clientes[index].endereco = value.address;
            });
          },
        },
        promocoes: db.ref('promocoes'),
        produtos: {
          source: db.ref('produtos'),
          asObject: true,
          readyCallback: () => {
            delete this.produtos['.key'];
            this.produtos = lo.values(this.produtos);
          },
        },
        pedidoEdit: pedido,
      };
    },
    methods: {
      promoInfo() {
        if (!this.pedido.promocao || !this.pedido.id) {
          return {};
        }
        if (!this.pedido.promocao.nome) {
          return {};
        }
        const frete = this.getFrete();
        const promocao = this.pedido.promocao;
        const subTotal = this.subTotal() + frete;
        if (subTotal >= Number(promocao.valorMinimo)) {
          if (this.usedPromos[promocao.id] && !promocao.hasPromocao) {
            this.message.content = 'Código promocional já utilizado anteriormente.';
            if (this.$refs.dialogMessage) {
              this.openDialog('dialogMessage');
            }
            return {};
          }
          if (!promocao.ativo && !promocao.hasPromocao) {
            this.message.content = 'Esta promoção já foi finalizada.';
            if (this.$refs.dialogMessage) {
              this.openDialog('dialogMessage');
            }
            return {};
          }
          if (promocao.clientes && !promocao.hasPromocao) {
            const filter = lo.filter(promocao.clientes, (o) => {
              if (o === this.pedido.id) {
                return true;
              }
              return false;
            });
            if (filter.length === 0 && !promocao.hasPromocao) {
              this.message.content = 'Código inválido para este perfil.';
              if (this.$refs.dialogMessage) {
                this.openDialog('dialogMessage');
              }
              return {};
            }
          }

          return promocao;
        }
        this.message.content = `Sua compra não atingiu o valor mínimo de R$ ${promocao.valorMinimo}`;
        this.openDialog('dialogMessage');
        return {};
      },
      subTotal() {
        const sub = lo.map(this.pedido.itens, 'total');
        const subTotal = lo.ceil(lo.sum(sub), 2);
        this.pedido.subtotal = subTotal;
        this.pedidoSubtotal = subTotal;
        return subTotal;
      },
      total() {
        const frete = this.getFrete();
        let somaTotal = this.subTotal();
        let desconto = 0;
        if (this.promoInfo()) {
          if (this.promoInfo().unidade === 'moeda') {
            desconto = this.promoInfo().valor;
            desconto = desconto > somaTotal ? somaTotal : desconto;
            somaTotal -= desconto;
          } else if (this.promoInfo().unidade === 'percentagem') {
            desconto = (this.promoInfo().valor / 100) * somaTotal;
            desconto = desconto > somaTotal ? somaTotal : desconto;
            somaTotal -= desconto;
          }
        }
        somaTotal = lo.ceil(somaTotal + frete, 2);
        this.pedido.total = somaTotal;
        this.pedido.desconto = desconto;
        this.pedidoTotal = somaTotal;
        this.pedidoDesconto = desconto;
        return somaTotal;
      },
      getFrete() {
        return !this.pedido.frete ? this.$store.state.frete : this.pedido.frete;
      },
      finalizaPedido() {
        this.$parent.$refs.loading.showLoading();
        const dataEntrega = moment(this.pedido.data_entrega).format('YYYY MM DD');
        const dataPedido = moment(this.pedido.data).format('YYYY MM DD');
        const promocao = this.promoInfo();
        delete promocao['.key'];
        const payload = {
          data_entrega: dataEntrega,
          endereco: {
            address: this.pedido.endereco.address,
            cep: this.pedido.endereco.cep,
            complement: this.pedido.endereco.complement,
            neighborhood: this.pedido.endereco.neighborhood,
            number: this.pedido.endereco.number,
            reference: this.pedido.endereco.reference,
          },
          total: this.total(),
          frete: this.$store.state.frete,
          subtotal: this.subTotal(),
          desconto: this.pedidoDesconto,
          troco: this.pedido.troco || 0,
          itens: this.pedido.itens,
          promocao: this.promoInfo(),
          pagamento: this.pedido.pagamento,
          periodo: this.pedido.periodo,
          status: this.pedido.status,
          usuarioID: this.pedido.id,
          usuarioName: this.pedido.usuarioName,
          usuarioPhone: this.pedido.phone_number,
          usuarioEmail: this.pedido.email,
          data: dataPedido,
          sustentavel: this.pedido.sustentavel || false,
        };
        if (this.$route.params.numero) {
          payload.numero = this.$route.params.numero;
          payload.key = this.key;
        }
        if (!this.validaPedido()) {
          return false;
        }
        this.$store.dispatch('pedido', payload)
          .then(() => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = msgSucesso;
            this.openDialog('dialogMessage');
          }).catch((error) => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = `${msgError} ${error}`;
            this.openDialog('dialogMessage');
          });
        return true;
      },
      validaPedido() {
        let validate = true;

        if (this.pedido.itens.length === 0) {
          this.message.content = 'Adicione pelo menos um item no pedido.';
          validate = false;
        }
        if (!this.pedido.status) {
          this.message.content = 'Selecione o status do pedido.';
          validate = false;
        }
        if (!this.pedido.pagamento) {
          this.message.content = 'Selecione a forma de pagamento.';
          validate = false;
        }
        if (!this.pedido.periodo) {
          this.message.content = 'Selecione o periodo de entrega.';
          validate = false;
        }
        if (!this.pedido.data_entrega) {
          this.message.content = 'Selecione a data de entrega.';
          validate = false;
        }
        if (!this.pedido.data) {
          this.message.content = 'Selecione a data do pedido.';
          validate = false;
        }
        if (!this.pedido.usuarioName) {
          this.message.content = 'Selecione o Cliente.';
          validate = false;
        }
        if (!validate) {
          this.$parent.$refs.loading.hideLoading();
          this.openDialog('dialogMessage');
        }
        return validate;
      },
      productFilter(list, query) {
        let arr = [];
        arr = lo.filter(list, (o) => {
          const hasCarrinho = lo.filter(this.pedido.itens, prod => prod.id === o.id);
          const check = o.nome.toLowerCase().match(query.toLowerCase()) && o.disponivel === 'sim' && hasCarrinho.length === 0;
          return check;
        });
        return arr;
      },
      productCallback(item) {
        this.selectedProduct = item;
        this.selectedProduct.qtd = item.unidade_minima ? Number(item.unidade_minima) : 1;
        delete this.selectedProduct['.key'];
        this.selectedProduct.key = this.selectedProduct.id;
        const totalIten = Number(this.selectedProduct.preco.toString().replace(',', '.')) * Number(this.selectedProduct.qtd);
        this.selectedProduct.total = totalIten;
        this.pedido.itens.push(this.selectedProduct);
        this.selectedProduct = {};
        this.productValue = '';
        this.total();
      },
      clientFilter(list, query) {
        let arr = [];
        arr = lo.filter(list, (o) => {
          const check = o.name.toLowerCase().match(query.toLowerCase());
          return check;
        });
        return arr;
      },
      removeFromCart(index) {
        this.pedido.itens.splice(index, 1);
        this.total();
      },
      setQtd(index, value) {
        const item = this.pedido.itens[index];
        const preco = item.preco || item.valor;
        const payload = {
          key: item.key,
          qtd: value,
        };
        item.qtd = payload.qtd;
        this.$refs[`prod-${index}`][0].$el.value = payload.qtd;
        item.total = +(Number(preco.toString().replace(',', '.')) * payload.qtd).toFixed(2);
        this.total();
      },
      addQtd(index) {
        const unidadeMinima = this.pedido.itens[index].unidade_minima ?
          this.pedido.itens[index].unidade_minima : 1;
        let value = Number(this.pedido.itens[index].qtd) + Number(unidadeMinima);
        value = Math.round(value * 100) / 100;
        this.setQtd(index, value);
      },
      removeQtd(index) {
        const unidadeMinima = this.pedido.itens[index].unidade_minima ?
          this.pedido.itens[index].unidade_minima : 1;
        if (this.pedido.itens[index].qtd > unidadeMinima) {
          let value = Number(this.pedido.itens[index].qtd) - Number(unidadeMinima);
          value = Math.round(value * 100) / 100;
          this.setQtd(index, value);
        } else {
          this.removeFromCart(index);
        }
      },
      numberFormat(valor) {
        let result;
        result = parseFloat(Math.round(valor * 100) / 100).toFixed(2);
        result = result.toString().replace('.', ',');
        return result;
      },
      changedClient(cliente) {
        this.pedido.endereco = cliente.endereco;
        this.pedido.phone_number = cliente.phone_number;
        this.pedido.email = cliente.email;
        this.pedido.id = cliente.id;
        this.pedido.itens = [];
        const pedidosCliente = db.ref(`clientes/${this.pedido.id}/pedidos`);
        this.pedido.usuarioName = this.pedido.name;
        pedidosCliente.once('value', (snapshot) => {
          const orders = snapshot.val();
          // eslint-disable-next-line
          lo.filter(orders, (o) => {
            if (o.promocao) {
              this.usedPromos[o.promocao.id] = o.promocao.codigo;
            }
            return o.promocao;
          });
        });
        this.total();
      },
      onSelect(data) {
        // data.key = data.id;
        this.pedido.itens = data;
        this.total();
      },
      onSort(sort) {
        this.sort = sort;
      },
      onPagination(page) {
        this.page = page;
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
    },
  };
</script>

<style lang="scss">
  .form-default{
    width: 100%;
    .table-number-input{
      width: 180px;
      .md-input-container span{
        line-height: 32px;
      }
    }
  }

  .md-theme-default.md-input-container .md-icon:not(.md-icon-delete):after{
    background: transparent!important;
  }
  
  .md-table + .md-table-card,
  .md-table-card + .md-table-card {
    margin-top: 24px;
  }

  .output {
    margin-top: 24px;

    .md-title {
      font-size: 20px;
    }
  }
  .md-dialog-bg .md-dialog{
    min-width: 600px;
  }
  .saveButton{
    float: right;
    margin-top: 20px;
    span{
      position: relative;
      top: 2px;
    }
  }
  #adicionar-pedido{
    .tabela-pedidos{
      margin-bottom: 15px;
    }
    .totalCheck{
      margin: 0px 0px 5px;
    }
  }
  .md-toolbar .md-input-container {
    margin: 4px 0 24px;
    padding-top: 16px;
  }

</style>

