<template>
  <div id="dashboard">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Dashboard">
        <md-theme md-name="dashboard">
          
          <div class="main-content grid">
            <h1 class="md-title">Estatísticas do mês de {{mesAtual}}/{{anoAtual}}</h1>
            <md-layout md-gutter="16">
              <md-layout>
                <info-card :options="{color: 'accent', value: `R$ ${numberFormat(faturamentoMes)}`, title: 'Faturamento', icon: 'attach_money'}"></info-card>
              </md-layout>

              <md-layout>
                <info-card :options="{color: 'primary', value: numPedidosMes, title: 'Pedidos', icon: 'shopping-cart'}"></info-card>
              </md-layout>

              <md-layout>
                <info-card :options="{color: 'warn', value: numClientesMes, title: 'Novos clientes', icon: 'face'}"></info-card>
              </md-layout>

              <md-layout>
                <info-card :options="{color: 'background', value: `R$ ${numberFormat(ticketMedioMes)}`, title: 'Tícket médio', icon: 'money-box'}"></info-card>
              </md-layout>
            </md-layout>
            
            <md-layout md-tag="md-theme" md-gutter="16" md-name="graph">
              <md-layout md-flex="50">
                <md-layout md-tag="md-card" class="cardGraph" md-with-hover>
                  <md-layout md-tag="md-card-header" md-flex="100">
                    <md-card-header-text>
                      <div class="md-title">Faturamento</div>
                      <div class="md-subhead">de {{anoAtual}}</div>
                    </md-card-header-text>
                  </md-layout>

                  <md-layout md-tag="md-card-media" md-flex="100">
                    <highcharts md-flex="100" :options="options" ref="highcharts"></highcharts>
                  </md-layout>
                </md-layout>
              </md-layout>

              <md-layout md-flex="50">
                <md-layout md-tag="md-card" class="cardGraph" md-with-hover>
                  <md-layout md-tag="md-card-header" md-flex="100">
                    <md-card-header-text>
                      <div class="md-title">Produtos mais vendidos</div>
                      <div class="md-subhead">de {{anoAtual}}</div>
                    </md-card-header-text>
                  </md-layout>

                  <md-layout md-tag="md-card-media" md-flex="100">
                    <highcharts :options="optionsTable" ref="highcharts"></highcharts>
                  </md-layout>
                </md-layout>
              </md-layout>

              <md-layout md-flex="100">
                <md-layout md-tag="md-card" class="cardGraph" md-with-hover>
                  <md-layout md-tag="md-card-header" md-flex="100">
                    <md-card-header-text>
                      <div class="md-title">Faturamento</div>
                      <div class="md-subhead">Semanal</div>
                    </md-card-header-text>
                  </md-layout>

                  <md-layout md-tag="md-card-media" md-flex="100">
                    <highcharts md-flex="100" :options="optionsFaturamentoSemanal" ref="highcharts"></highcharts>
                  </md-layout>
                </md-layout>
              </md-layout>
              <md-layout md-flex="100">
                <md-layout md-tag="md-card" class="cardGraph" md-with-hover>
                  <md-layout md-tag="md-card-header" md-flex="100">
                    <md-card-header-text>
                      <div class="md-title">Número de Pedidos</div>
                      <div class="md-subhead">Semanal</div>
                    </md-card-header-text>
                  </md-layout>
                  <md-layout md-tag="md-card-media" md-flex="100">
                    <highcharts md-flex="100" :options="optionsPedidosSemanal" ref="highcharts"></highcharts>
                  </md-layout>
                </md-layout>
              </md-layout>
            </md-layout>

            <md-theme md-name="default">
              <md-table-card>
                <md-toolbar class="md-accent">
                  <h1 class="md-title">Pedidos da semana</h1>
                </md-toolbar>

                <md-table @sort="onSort">
                  <md-table-header>
                    <md-table-row>
                      <md-table-head>Cliente</md-table-head>
                      <md-table-head>Endereço</md-table-head>
                      <md-table-head md-numeric>Qtd. Itens</md-table-head>
                      <md-table-head md-numeric>Valor (R$)</md-table-head>
                      <md-table-head>Status</md-table-head>
                      <md-table-head>Data Entrega</md-table-head>
                    </md-table-row>
                  </md-table-header>

                  <md-table-body>
                    <md-table-row v-for="(row, rowIndex) in pedidosSemana" :key="rowIndex" :md-item="row">
                      <md-table-cell>
                        {{row.usuarioName}}
                      </md-table-cell>
                      <md-table-cell>
                        {{row.endereco.address}}
                        {{row.endereco.complement}}
                        {{row.endereco.neighborhood}}
                        {{row.endereco.city}}
                      </md-table-cell>
                      <md-table-cell md-numeric>
                        {{row.itens.length}}
                      </md-table-cell>
                      <md-table-cell md-numeric>
                        R$ {{numberFormat(row.total)}}
                      </md-table-cell>
                      <md-table-cell>
                        {{row.status}}
                      </md-table-cell>
                      <md-table-cell>
                        {{formatDate(row.data_entrega)}}
                        {{row.periodo}}
                      </md-table-cell>
                    </md-table-row>
                  </md-table-body>
                </md-table>
              </md-table-card>
            </md-theme>
          </div>
        </md-theme>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import lo from 'lodash';
  import moment from 'moment';
  import firebase from './../helpers/firebaseConfig';
  import infoCard from './Shared/infoCard';

  const db = firebase.database();

  export default{
    components: {
      'info-card': infoCard,
    },
    data: () => ({
      optionsTable: {
        data: {
          table: 'datatable',
        },
        chart: {
          type: 'column',
          height: '300px',
        },
        title: {
          text: '',
        },
        xAxis: {
          categories: [],
        },
        yAxis: {
          allowDecimals: false,
          title: {
            text: 'Qtd',
          },
          plotLines: [{
            value: 0,
            width: 1,
            color: '#808080',
          }],
        },
        legend: {
          enabled: false,
        },
        series: [{
          name: 'Qtd',
          data: [],
          color: '#8bc34a',
        }],
      },
      options: {
        chart: {
          type: 'line',
          height: '300px',
        },
        title: {
          text: '',
        },
        xAxis: {
          categories: [],
        },
        yAxis: {
          title: {
            text: 'R$',
          },
          labels: {
            formatter() {
              const number = this.value / 1;
              return `${number}`;
            },
          },
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
          area: {
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 1,
              states: {
                hover: {
                  enabled: true,
                },
              },
            },
          },
        },
        series: [{
          name: 'Valor',
          color: '#03a9f4',
          data: [],
        }],
      },
      optionsFaturamentoSemanal: {
        chart: {
          type: 'line',
          height: '300px',
        },
        title: {
          text: '',
        },
        xAxis: {
          categories: [],
        },
        yAxis: {
          title: {
            text: 'R$',
          },
          labels: {
            formatter() {
              const number = this.value / 1;
              return `${number}`;
            },
          },
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
          area: {
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 1,
              states: {
                hover: {
                  enabled: true,
                },
              },
            },
          },
        },
        series: [],
      },
      optionsPedidosSemanal: {
        chart: {
          type: 'line',
          height: '300px',
        },
        title: {
          text: '',
        },
        xAxis: {
          categories: [],
        },
        yAxis: {
          title: {
            text: 'R$',
          },
          labels: {
            formatter() {
              const number = this.value / 1;
              return `${number}`;
            },
          },
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
          area: {
            marker: {
              enabled: false,
              symbol: 'circle',
              radius: 1,
              states: {
                hover: {
                  enabled: true,
                },
              },
            },
          },
        },
        series: [],
      },
      faturamentoMes: 0,
      ticketMedioMes: 0,
      numPedidosMes: 0,
      numClientesMes: 0,
      pedidosSemana: '',
    }),
    computed: {
      mesAtual() {
        moment.locale('pt-br');
        return moment().startOf('month').format('MMMM');
      },
      anoAtual() {
        return moment().startOf('year').format('YYYY');
      },
    },
    firebase() {
      return {
        /* eslint-disable prefer-template */
        pedidos: {
          source: db.ref('pedidos'),
          asObject: false,
          readyCallback: () => {
            this.getFaturamento();
            this.getFaturamentoAnual();
            this.getBestSellers();
            this.getWeekOrders();
            this.getFaturamentoSemanal();
          },
        },
        clientes: {
          source: db.ref('clientes'),
          asObject: false,
          readyCallback: () => {
            this.getNewClients();
          },
        },
      };
    },
    methods: {
      formatDate(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      getWeekOrders() {
        let pedidos = this.pedidos;
        const diaEntrega1 = 2;
        const diaEntrega2 = 1;
        let dia1;
        let dia2;
        if (moment().isoWeekday() === 0) {
          dia1 = moment().isoWeekday(diaEntrega1).format('YYYY MM DD');
          dia2 = moment().isoWeekday(diaEntrega2).format('YYYY MM DD');
        } else {
          dia1 = moment().add(1, 'weeks').isoWeekday(diaEntrega1).format('YYYY MM DD');
          dia2 = moment().add(1, 'weeks').isoWeekday(diaEntrega2).format('YYYY MM DD');
        }
        // eslint-disable-next-line
        pedidos = lo.filter(pedidos, (o) => {
          return (o.data_entrega === dia1 || o.data_entrega === dia2) && o.status !== 'Cancelado';
        });
        this.pedidosSemana = pedidos;
      },
      getBestSellers() {
        let pedidos = this.pedidos;
        let itens = [];
        pedidos = lo.filter(pedidos, (o) => {
          const year = moment().startOf('year').format('YYYY');
          const yearPedido = moment(o.data).format('YYYY');
          return year === yearPedido && o.status !== 'Cancelado';
        });
        pedidos.forEach((pedido) => {
          pedido.itens.forEach((item) => {
            itens.push(item);
          });
        });
        let bestSellers = [];
        itens = lo.groupBy(itens, 'nome');
        lo.forEach(itens, (item, index) => {
          const seller = {
            name: index,
            qtd: 0,
          };
          item.forEach((itemPedido) => {
            seller.qtd += Number(itemPedido.qtd);
          });

          bestSellers.push(seller);
        });
        bestSellers = lo.orderBy(bestSellers, 'qtd', 'desc');
        const tableGraphValue = [];
        const tableGraphName = [];
        bestSellers.forEach((item) => {
          tableGraphName.push(item.name);
          tableGraphValue.push(item.qtd);
        });
        this.optionsTable.xAxis.categories = tableGraphName;
        this.optionsTable.series[0].data = tableGraphValue;
      },
      getNewClients() {
        let clientes = this.clientes;
        clientes = lo.filter(clientes, (o) => {
          if (!o.data_cadastro) {
            return false;
          }
          const month = moment().startOf('month').format('MM');
          const monthCadastro = moment(o.data_cadastro).format('MM');
          return month === monthCadastro;
        });

        this.numClientesMes = clientes.length;
      },
      getFaturamentoAnual() {
        let pedidos = this.pedidos;
        let sum = 0;
        const lineGraphValue = [];
        const lineGraphMonth = [];
        pedidos = lo.filter(pedidos, (o) => {
          const year = moment().startOf('year').format('YYYY');
          const yearPedido = moment(o.data).format('YYYY');
          return year === yearPedido && o.status !== 'Cancelado';
        });

        pedidos = lo.groupBy(pedidos, (o) => {
          const monthPedido = moment(o.data).format('YYYY MM');
          return monthPedido;
        });

        lo.forEach(pedidos, (pedidosMonth, monthYear) => {
          // eslint-disable-next-line
          sum = lo.sumBy(pedidosMonth, (o) => {
            return o.total;
          });
          lineGraphValue.push(sum);
          lineGraphMonth.push(moment(monthYear).format('MMM'));
          this.options.xAxis.categories = lineGraphMonth;
          this.options.series[0].data = lineGraphValue;
        });
      },
      getFaturamento() {
        let pedidos = this.pedidos;
        pedidos = lo.filter(pedidos, (o) => {
          const month = moment().startOf('month').format('MM');
          const monthPedido = moment(o.data).format('MM');
          return month === monthPedido && o.status !== 'Cancelado';
        });

        let sum = 0;
        // eslint-disable-next-line
        sum = lo.sumBy(pedidos, (o) => {
          return o.total;
        });
        this.faturamentoMes = sum;
        this.ticketMedioMes = isNaN(sum / pedidos.length) ? 0 : sum / pedidos.length;
        this.numPedidosMes = pedidos.length;
      },
      getFaturamentoSemanal() {
        const peds = this.pedidos;
        let sum = 0;
        let numberOfOrders = 0;
        let lineGraphValue = [];
        let lineGraphValuePedidos = [];
        const lineGraphMonth = [];
        const pedidosAnos = lo.groupBy(peds, o => moment(o.data).format('YYYY'));
        lo.forEach(pedidosAnos, (pedidos, ano) => {
          lineGraphValue = [];
          lineGraphValuePedidos = [];
          let pedidoAno = pedidos;
          pedidoAno = lo.filter(pedidoAno, (o) => {
            const yearPedido = moment(o.data).format('YYYY');
            return ano === yearPedido && o.status !== 'Cancelado';
          });

          pedidoAno = lo.groupBy(pedidoAno, (o) => {
            const weeknumber = moment(o.data).week();
            if (moment(o.data).day() === 0) {
              return weeknumber - 1;
            }
            return weeknumber;
          });
          for (let weekNumber = 1; weekNumber <= 53; weekNumber += 1) {
            // eslint-disable-next-line
            sum = lo.sumBy(pedidoAno[weekNumber], (o) => {
              return o.total;
            });
            if (pedidoAno[weekNumber]) {
              numberOfOrders = pedidoAno[weekNumber].length;
            } else {
              numberOfOrders = 0;
            }
            lineGraphValuePedidos.push(numberOfOrders);
            lineGraphValue.push(sum || 0);
            lineGraphMonth.push(`Semana ${weekNumber}`);
            this.optionsFaturamentoSemanal.xAxis.categories = lineGraphMonth;
            this.optionsPedidosSemanal.xAxis.categories = lineGraphMonth;
          }
          this.optionsFaturamentoSemanal.series.push({
            name: ano,
            data: lineGraphValue,
          });
          this.optionsPedidosSemanal.series.push({
            name: ano,
            data: lineGraphValuePedidos,
          });
        });
      },
      numberFormat(valor) {
        let result;
        result = parseFloat(Math.round(valor * 100) / 100).toFixed(2);
        result = result.toString().replace('.', ',');
        return result;
      },
      weekOfMonth(m) {
        // eslint-disable-next-line
        return m.week() - moment(m).startOf('month').week() + 1;
      },
      onSort() {

      },
    },
  };
</script>

<style lang="scss">
  .dashboard-card{ 
    overflow: hidden;
    .md-card-media{
      i {
        opacity: .1;
        position: absolute;
        right: 0px;
        bottom: -31px;
        width: 96px;
        height: 96px;
      }
    }
  }
  .highcharts-container{
    tspan,
    text{
      font-style: normal;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
    }
  }

  .grid > .md-layout {
    > .md-layout:not(.md-column) {
      min-height: 40px;
      margin-bottom: 16px;
    }
  }

  div[data-highcharts-chart] {
    width: 100%;
  }

  .highcharts-credits{
    display: none;
  }

</style>
