<template>
  <div id="login">
    <md-whiteframe md-elevation="8" class="login-wrap">
      <form @submit.stop.prevent="login">
        <md-input-container>
          <label>E-mail</label>
          <md-input v-model="email" required></md-input>
        </md-input-container>
        <md-input-container md-has-password :class="{'md-input-invalid': loginError}">
          <label>Senha</label>
          <md-input v-model="password" type="password" required></md-input>
          <span class="md-error">{{loginErrorMsg}}</span>
        </md-input-container>
        <div>
          <md-button 
            type="submit"
            class="md-raised md-primary login-btn">Entrar</md-button>
        </div>
      </form>
    </md-whiteframe>
  </div>
</template>

<script>
  import firebase from 'firebase';
  
  export default{
    data() {
      return {
        email: '',
        password: '',
        loginError: false,
        loginErrorMsg: '',
      };
    },
    mounted() {
      firebase.auth().onAuthStateChanged((user) => {
        if (user) {
          firebase.database().ref('clientes')
          .orderByChild('idAuth')
          .equalTo(user.uid)
          .limitToFirst(1)
          .once('value', (snapshot) => {
            const userSession = snapshot.val();
            if (userSession && userSession[Object.keys(userSession)[0]].role === 'admin') {
              this.$router.push('/dashboard');
            }
          });
        }
      });
    },
    methods: {
      login() {
        this.$parent.$refs.loading.showLoading();
        firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(() => {
          firebase.database().ref('clientes')
          .orderByChild('email')
          .equalTo(this.email)
          .limitToFirst(1)
          .once('value', (snapshot) => {
            const userSession = snapshot.val();
            if (userSession && userSession[Object.keys(userSession)[0]].role === 'admin') {
              this.$router.push('/dashboard');
            } else {
              this.loginError = true;
              this.loginErrorMsg = 'E-mail ou senha incorreto';
            }
            this.$parent.$refs.loading.hideLoading();
          });
        })
        .catch(() => {
          this.$parent.$refs.loading.hideLoading();
          this.loginError = true;
          this.loginErrorMsg = 'E-mail ou senha incorreto';
        });
      },
    },
  };
</script>

<style lang="scss">
  
  .login-wrap{
    padding: 112px 48px 64px;
    margin: 150px auto 0;
    max-width: 360px;
    background: url('../assets/images/logo_white.png') no-repeat center 32px;
    background-size: 100px;
  }
  
  @media (min-width: 1281px){
    #login{
      margin-left: -280px;
    }
  }
  @media (max-width: 480px){
    .login-wrap{
      margin-top: 140px;
      box-shadow: none;
    }
  }
  .login-btn {
    width: 100%;
    margin: 0;
  }
</style>
