<template>
  <div id="promocao">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Nova Promoção">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout md-gutter="16">
              <md-layout md-with-hover md-flex="100">
                <md-layout  md-flex="100">
                  <form class="form-default" novalidate @submit.stop.prevent="submit">
                    
                    <md-input-container>
                      <label>Nome</label>
                      <md-input v-model="promocao.nome" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Código</label>
                      <md-input v-model="promocao.codigo" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Valor</label>
                      <md-input v-model="promocao.valor" type="number" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Valor Mínimo de Compra</label>
                      <md-input v-model="promocao.valorMinimo" type="number" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Unidade</label>
                      <md-select v-model="promocao.unidade" name="unidade" id="unidade">
                        <md-option v-for="(unidade, index) in unidades" :key="index" :value="index">
                          {{ unidade }}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container>
                      <label for="clientes">Clientes</label>
                      <md-select name="clientes" id="clientes" multiple v-model="promocao.clientes">
                        <md-option v-for="cliente in clientes" :key="cliente.id" :value="cliente.id">
                          {{ cliente.name }}
                        </md-option>
                      </md-select>
                    </md-input-container>

                    <div class="limitacoesPromocao">
                      <label class="md-subheading">Limitação de uso</label>
                      <md-layout>
                        <md-radio v-model="limitacao" id="only" name="limitacao" md-value="only" selected>Somente uma vez</md-radio>
                      </md-layout>
                      <md-layout>
                        <md-radio v-model="limitacao" id="week" name="limitacao" md-value="week">Uma vez por semana</md-radio>
                      </md-layout>
                      <md-layout>
                        <md-radio v-model="limitacao" id="month" name="limitacao" md-value="month">Uma vez por mês</md-radio>
                      </md-layout>
                      <md-layout>
                        <md-radio v-model="limitacao" id="year" name="limitacao" md-value="year">Uma vez por ano</md-radio>
                      </md-layout>
                    </div>

                    <md-button @click.native="onSubmit" class="md-raised md-accent saveButton">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                  </form>
                </md-layout>
              </md-layout>
            </md-layout>
          </div>
        </md-theme>
        <md-dialog-alert
          :md-content="message.content"
          md-ok-text="Ok"
          ref="dialogMessage">
        </md-dialog-alert>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import lo from 'lodash';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  const msgError = 'Um erro ocorreu, informe este erro ao seu desenvolvedor:';
  const msgSucesso = 'Salvo com sucesso.';

  export default{
    data: () => ({
      unidades: {
        percentagem: '%',
        moeda: 'R$',
      },
      message: {
        content: '',
      },
      limitacao: 'only',
    }),
    firebase() {
      return {
        promocao: {
          source: db.ref(`promocoes/${this.$route.params.idpromocao}`),
          asObject: true,
          readyCallback: () => {
            if (this.promocao.limitacao) {
              this.limitacao = this.promocao.limitacao;
            }
          },
        },
        clientes: {
          source: db.ref('clientes'),
          asObject: false,
          readyCallback: () => {
            this.clientes = lo.orderBy(this.clientes, 'name');
            lo.filter(this.clientes, (element, index) => {
              delete this.clientes[index]['.key'];
              return true;
            });
          },
        },
      };
    },
    methods: {
      validaPromocao() {
        let validate = true;
        if (!this.promocao.codigo) {
          this.message.content = 'Insira o código da promoção.';
          validate = false;
        }
        if (!this.promocao.valor) {
          this.message.content = 'Preencha o valor do desconto.';
          validate = false;
        }
        if (!this.promocao.unidade) {
          this.message.content = 'Selecione a unidade da promoção.';
          validate = false;
        }
        if (!this.promocao.nome) {
          this.message.content = 'Preencha o nome da promoção.';
          validate = false;
        }
        if (!validate) {
          this.$parent.$refs.loading.hideLoading();
          this.openDialog('dialogMessage');
        }
        return validate;
      },
      onSubmit() {
        this.$parent.$refs.loading.showLoading();
        if (!this.validaPromocao()) {
          return false;
        }
        const payload = {
          nome: this.promocao.nome,
          unidade: this.promocao.unidade,
          valor: Number(this.promocao.valor),
          codigo: this.promocao.codigo,
          valorMinimo: Number(this.promocao.valorMinimo) || 0,
          clientes: this.promocao.clientes || {},
          limitacao: this.limitacao || 'only',
        };
        if (this.$route.params.idpromocao !== undefined) {
          payload.id = this.$route.params.idpromocao;
        }
        this.$store.dispatch('savePromocao', payload)
          .then(() => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = msgSucesso;
            this.openDialog('dialogMessage');
          }).catch((error) => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = `${msgError} ${error}`;
            this.openDialog('dialogMessage');
          });
        return true;
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
    },
  };
</script>

<style lang="scss">
  .limitacoesPromocao{
    .md-radio{
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
</style>

