<template>
  <div id="clientes">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Novo Cliente">
        <md-theme md-name="default">
          <div class="main-content grid">
            <md-layout md-gutter="16">
              <md-layout md-with-hover md-flex="100">
                <md-layout  md-flex="100">
                  <form class="form-default" novalidate @submit.stop.prevent="submit">
                    
                    <md-input-container>
                      <label>Nome</label>
                      <md-input v-model="cliente.name" required></md-input>
                    </md-input-container>
                    
                    <md-input-container>
                      <label>E-mail</label>
                      <md-input v-model="cliente.email" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Data de nascimento</label>
                      <md-input type="date" v-model="cliente.birthday" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Sacolas</label>
                      <md-input v-model="cliente.sacolas"></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Telefone</label>
                      <md-input v-model="cliente.phone_number" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Telefone Secundário</label>
                      <md-input v-model="cliente.phone_number2" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Senha</label>
                      <md-input v-model="password" type="password" required></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>CEP</label>
                      <md-input v-model="cliente.address.cep"></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Endereço</label>
                      <md-input v-model="cliente.address.address"></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Número</label>
                      <md-input v-model="cliente.address.number"></md-input>
                    </md-input-container>
                    
                    <md-input-container>
                      <label>Bairro</label>
                      <md-input v-model="cliente.address.neighborhood"></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Complemento</label>
                      <md-input v-model="cliente.address.complement"></md-input>
                    </md-input-container>

                    <md-input-container>
                      <label>Referência</label>
                      <md-input v-model="cliente.address.reference"></md-input>
                    </md-input-container>

                    <md-button class="md-raised md-accent saveButton" @click.native="onSubmit">
                      <md-icon>save</md-icon>
                      <span>Salvar</span>
                    </md-button>
                  </form>
                </md-layout>
              </md-layout>
            </md-layout>
          </div>
        </md-theme>
        <md-dialog-alert
          :md-content="message.content"
          md-ok-text="Ok"
          ref="dialogMessage">
        </md-dialog-alert>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import moment from 'moment';
  import firebase from './../../helpers/firebaseConfig';

  const db = firebase.database();
  const msgError = 'Um erro ocorreu, informe este erro ao seu desenvolvedor:';
  const msgSucesso = 'Salvo com sucesso.';

  export default{
    data: () => ({
      password: '',
      cliente: {
        address: {
          cep: '',
          address: '',
          number: '',
          complement: '',
          reference: '',
          neighborhood: '',
        },
      },
      message: {
        content: '',
      },
    }),
    firebase() {
      if (this.$route.params.idcliente) {
        return {
          /* eslint-disable prefer-template */
          cliente: {
            source: db.ref('clientes/' + this.$route.params.idcliente),
            asObject: true,
          },
        };
      }
      return false;
    },
    methods: {
      validaCliente() {
        let validate = true;

        if (!this.cliente.address.cep) {
          this.message.content = 'Preencha o CEP.';
          validate = false;
        }
        if (!this.cliente.address.address) {
          this.message.content = 'Preencha o endereço.';
          validate = false;
        }
        if (!this.$route.params.idcliente && this.password.length < 6) {
          this.message.content = 'Senha deve ter no mínimo 6 caracteres.';
          validate = false;
        }
        // eslint-disable-next-line
        var emailRegex = new RegExp("^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$");
        if (!emailRegex.test(this.cliente.email)) {
          this.message.content = 'E-mail Inválido';
          validate = false;
        }
        if (!this.cliente.email) {
          this.message.content = 'Preencha o E-mail do cliente.';
          validate = false;
        }
        if (!this.cliente.name) {
          this.message.content = 'Preencha o nome do cliente.';
          validate = false;
        }
        if (!validate) {
          this.$parent.$refs.loading.hideLoading();
          this.openDialog('dialogMessage');
        }
        return validate;
      },
      onSubmit() {
        this.$parent.$refs.loading.showLoading();
        if (!this.validaCliente()) {
          return false;
        }
        if (this.$route.params.idcliente) {
          const payload = {
            id: this.$route.params.idcliente,
            name: this.cliente.name,
            phone_number: this.cliente.phone_number || '',
            phone_number2: this.cliente.phone_number2 || '',
            birthday: this.cliente.birthday || '',
            email: this.cliente.email,
            sacolas: this.cliente.sacolas || 0,
            address: {
              cep: this.cliente.address.cep,
              address: this.cliente.address.address,
              number: this.cliente.address.number || 0,
              complement: this.cliente.address.complement || '',
              reference: this.cliente.address.reference || '',
              neighborhood: this.cliente.address.neighborhood || '',
            },
          };
          if (this.password !== '') {
            if (this.password.length < 6) {
              this.message.content = 'Senha deve ter no mínimo 6 caracteres.';
              this.$parent.$refs.loading.hideLoading();
              this.openDialog('dialogMessage');
              return false;
            }
            firebase.auth().currentUser.updatePassword(this.password);
          }
          this.$store.dispatch('updateCliente', payload)
            .then(() => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = msgSucesso;
              this.openDialog('dialogMessage');
            }).catch((error) => {
              this.$parent.$refs.loading.hideLoading();
              this.message.content = `${msgError} ${error}`;
              this.openDialog('dialogMessage');
            });
        } else {
          const payload = [{
            id: '',
            name: this.cliente.name,
            phone_number: this.cliente.phone_number || '',
            phone_number2: this.cliente.phone_number2 || '',
            birthday: this.cliente.birthday || '',
            email: this.cliente.email,
            data_cadastro: moment().format('YYYY MM DD'),
            sacolas: this.cliente.sacolas || 0,
            address: {
              cep: this.cliente.address.cep,
              address: this.cliente.address.address,
              number: this.cliente.address.number || 0,
              complement: this.cliente.address.complement || '',
              reference: this.cliente.address.reference || '',
              neighborhood: this.cliente.address.neighborhood || '',
            },
          },
            this.password,
          ];
          this.$store.dispatch('saveCliente', payload)
          .then(() => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = msgSucesso;
            this.openDialog('dialogMessage');
          }).catch((error) => {
            this.$parent.$refs.loading.hideLoading();
            this.message.content = `${msgError} ${error}`;
            this.openDialog('dialogMessage');
          });
        }
        return true;
      },
      openDialog(ref) {
        this.$refs[ref].open();
      },
      closeDialog(ref) {
        this.$refs[ref].close();
      },
    },
  };
</script>

<style lang="scss">
</style>

