<template>
  <div id="clientes">
    <sideBar></sideBar>
    <transition name="md-router" appear>
      <page-content page-title="Clientes">
        <cadastro refRegister="clientes"></cadastro>
      </page-content>
    </transition>
  </div>
</template>

<script>
  import Cadastro from '../Cadastro/List';

  export default{
    components: {
      Cadastro,
    },
  };
</script>
