<template>
  <div id="app" class="container">
    <router-view></router-view>
    <loading ref="loading"></loading>
  </div>
</template>

<script>
export default {
  name: 'app',
};
</script>

<style>

</style>
